---
import type { ComponentProps } from 'astro/types'
import Tag from '../components/_Tag.astro'
import Body from '../components/segment/Body.astro'
import Head from '../components/utility/Head.astro'

interface Props extends ComponentProps<typeof Tag> {
  title: ComponentProps<typeof Head>['title']
  description: ComponentProps<typeof Head>['description']
  image: ComponentProps<typeof Head>['image']
  head?: ComponentProps<typeof Head>
  body?: ComponentProps<typeof Body>
}

const { title, description, image, theme, head, body, ...rest } = Astro.props
---

<Tag
  class:list={['layout']}
  as="html"
  if={true}
  {theme}
  {...rest}
>
  <Head
    {title}
    {description}
    {image}
    {...head}
  />
  <Body
    if={true}
    {theme}
    {...body}
  >
    <slot name="before" />
    <slot />
  </Body>
</Tag>
