---
export type TextareaProps = Props
interface Props {
  label: string
  required?: boolean
}

const { label, required } = Astro.props
---

<div class="gap-size1 flex flex-col">
  <label for={label}>{label}</label>
  <textarea
    rows="5"
    class="input"
    id={label}
    name={label}
    {required}
  ></textarea>
</div>
