---
export interface Props {
  label: string
  group?: string
  required?: boolean
}

const { label, required, group } = Astro.props
---

{
  label && (
    <div>
      <input
        class="input"
        id={label}
        name={group}
        type="radio"
        {required}
      />
      <label for={label}>{label}</label>
    </div>
  )
}

<style>
  div {
    gap: var(--flow1);
    display: flex;
    flex-direction: column;
  }
</style>
