---
export type Props = {
  radioGroup: {
    label: string
  }[]
  group?: string
  required?: boolean
}

const { radioGroup, group, required } = Astro.props
---

{
  radioGroup.map(
    (radio: any) =>
      radio.label && (
        <div>
          <input
            class="input"
            id={radio.label}
            name={group}
            type="radio"
            {required}
          />
          <label for={radio.label}>{radio.label}</label>
        </div>
      )
  )
}

<style>
  div {
    gap: var(--flow1);
    display: flex;
    flex-direction: column;
  }
</style>
