---
import { getCollection } from "astro:content"

import { transformImage } from "@/lib/transform-image"
import CmsForm from "@/components/cms/cms-form"
import CmsLayout from "@/components/cms/cms-layout"
import Writeup from "@/components/elements/writeup"
import Layout from "@/components/layout.astro"
import Container from "@/components/structures/container"
import Section from "@/components/structures/section"

export async function getStaticPaths() {
  const entries = await getCollection("pages")

  return entries.map((entry) => {
    return {
      params: {
        page: entry.id,
      },
      props: {
        entry,
      },
    }
  })
}

const { entry } = Astro.props

const transformedImage = await transformImage(entry.data.seo?.image)
---

<Layout>
  <CmsLayout
    client:load
    currentPath={Astro.url.pathname}
    site={Astro.site?.hostname}
  >
    <Section>
      <Container className="max-w-screen-md">
        <Writeup className="mb-8">
          <h1>{entry.data.seo?.title}</h1>
        </Writeup>
        <CmsForm
          client:only
          title={entry.data.seo?.title ?? ""}
          description={entry.data.seo?.description ?? ""}
          image={transformedImage}
          body={entry.body}
        />
      </Container>
    </Section>
  </CmsLayout>
</Layout>
