---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div"> & {
  defaultOpen?: boolean
  open?: boolean
  delay?: number
  skipDelayDuration?: number
  closeDelay?: number
  side?: "top" | "right" | "bottom" | "left"
  align?: "start" | "center" | "end"
  sideOffset?: number
  alignOffset?: number
  avoidCollisions?: boolean
  collisionPadding?: number
  portal?: boolean
  closeOnClickOutside?: boolean
  closeOnEscape?: boolean
}

const {
  class: className,
  defaultOpen,
  open,
  delay = 300,
  skipDelayDuration = 300,
  closeDelay = 300,
  side = "bottom",
  align = "center",
  sideOffset = 4,
  alignOffset = 4,
  avoidCollisions = true,
  collisionPadding = 8,
  portal = true,
  closeOnClickOutside = true,
  closeOnEscape = true,
  ...props
} = Astro.props
---

<div
  data-slot="hover-card"
  data-default-open={defaultOpen}
  data-open={open}
  data-delay={delay}
  data-skip-delay-duration={skipDelayDuration}
  data-close-delay={closeDelay}
  data-side={side}
  data-align={align}
  data-side-offset={sideOffset}
  data-align-offset={alignOffset}
  data-avoid-collisions={avoidCollisions}
  data-collision-padding={collisionPadding}
  data-portal={portal}
  data-close-on-click-outside={closeOnClickOutside}
  data-close-on-escape={closeOnEscape}
  class={cn(className)}
  {...props}
>
  <slot />
</div>

<script>
  import { create } from "@data-slot/hover-card"

  create()
</script>
