---
import { getCollection } from 'astro:content'
import Drawer from 'fulldev-ui/components/Drawer.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Link from 'fulldev-ui/components/Link.astro'
import Column from 'fulldev-ui/components/structures/Column.astro'
import Row from 'fulldev-ui/components/structures/Row.astro'

const componentPages = await getCollection('pages', (entry: any) =>
  entry.slug.startsWith('components/')
)

const docsPages = await getCollection('pages', (entry: any) =>
  entry.slug.startsWith('docs/')
)

const structuresPages = await getCollection('pages', (entry: any) =>
  entry.slug.startsWith('structures/')
)

const sortPages = (pages: any[]) =>
  pages.sort(
    (a, b) => (a.data.sidebar?.order || 0) - (b.data.sidebar?.order || 0)
  )

const currentPath = Astro.url.pathname
const currentFolder = currentPath.split('/')[1]
const currentFile = currentPath.split('/').pop()
---

<Column
  as="aside"
  class="sidebar desktop-sidebar"
>
  <Heading level={4}>Docs</Heading>
  {
    sortPages(docsPages).map((page: any) => (
      <Link
        class="sidebar-link"
        href={`/${page.slug}`}
        color={currentPath === `/${page.slug}` ? 'brand' : undefined}
      >
        {page.data.title}
      </Link>
    ))
  }

  <Heading level={4}>Components</Heading>
  {
    sortPages(componentPages).map((page: any) => (
      <Link
        class="sidebar-link"
        href={`/${page.slug}`}
        color={currentPath === `/${page.slug}` ? 'brand' : undefined}
      >
        {page.data.title}
      </Link>
    ))
  }

  <Heading level={4}>Structures</Heading>
  {
    sortPages(structuresPages).map((page: any) => (
      <Link
        class="sidebar-link"
        href={`/${page.slug}`}
        color={currentPath === `/${page.slug}` ? 'brand' : undefined}
      >
        {page.data.title}
      </Link>
    ))
  }
</Column>

<Row class="mobile-header">
  <span class="current-path">{currentFolder} > {currentFile}</span>
  <Drawer
    icon="menu-2"
    id="docs-navigation-drawer"
  >
    <Column class="mobile-sidebar">
      <Heading level={4}>Docs</Heading>
      {
        sortPages(docsPages).map((page: any) => (
          <Link
            class="sidebar-link"
            href={`/${page.slug}`}
            color={currentPath === `/${page.slug}` ? 'brand' : undefined}
          >
            {page.data.title}
          </Link>
        ))
      }

      <Heading level={4}>Components</Heading>
      {
        sortPages(componentPages).map((page: any) => (
          <Link
            class="sidebar-link"
            href={`/${page.slug}`}
            color={currentPath === `/${page.slug}` ? 'brand' : undefined}
          >
            {page.data.title}
          </Link>
        ))
      }

      <Heading level={4}>Structures</Heading>
      {
        sortPages(structuresPages).map((page: any) => (
          <Link
            class="sidebar-link"
            href={`/${page.slug}`}
            color={currentPath === `/${page.slug}` ? 'brand' : undefined}
          >
            {page.data.title}
          </Link>
        ))
      }
    </Column>
  </Drawer>
</Row>

<style lang="scss">
  .desktop-sidebar {
    display: none;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    border-right: 1px solid var(--border);
    padding: var(--space-5) var(--space-7) var(--space-5) var(--gutter);
    max-height: 100vh;
    overflow-y: auto;

    .sidebar-link {
      font-size: var(--text-1);
    }

    @media (min-width: 768px) {
      display: flex;
    }
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    padding: var(--space-3) var(--space-4);

    @media (min-width: 768px) {
      display: none;
    }

    .current-path {
      color: var(--text);
      font-size: var(--text-1);
    }
  }

  .mobile-sidebar {
    padding: var(--space-4);

    .sidebar-link {
      font-size: var(--text-1);
    }
  }
</style>
