---
import { getCollection } from 'astro:content'
import Button from 'fulldev-ui/components/Button.astro'
import Section from '../Section.astro'
import Spread from '../Spread.astro'

const { sidebar = [] } = Astro.props

const allPages = await getCollection('pages')
const pages = []

for (const item of sidebar as any) {
  if (item.links) pages.push(...item.links)
  if (item.folder) {
    const folderPages = allPages.filter(
      (page: any) =>
        page.slug.startsWith(item.folder) && !page.slug.endsWith(item.folder)
    )
    pages.push(
      ...folderPages.map((page: any) => ({
        href: `/${page.slug}`,
        text: page.data.title,
      }))
    )
  }
}

const withoutLeadingOrTrailingSlashes = (path: string) =>
  path.replace(/^\/+|\/+$/g, '')

const currentIndex = pages.findIndex(
  (page: any) =>
    withoutLeadingOrTrailingSlashes(page?.href) ===
    withoutLeadingOrTrailingSlashes(Astro.url.pathname)
)

const prevPage = pages[currentIndex - 1]
const nextPage = pages[currentIndex + 1]
---

{
  sidebar && sidebar.length > 0 && (
    <Section>
      <Spread>
        <Button
          href={prevPage?.href}
          variant="secondary"
          text={prevPage ? `← ${prevPage.text}` : undefined}
        />
        <Button
          href={nextPage?.href}
          variant="secondary"
          text={nextPage ? `${nextPage.text} →` : undefined}
          style={{ marginLeft: 'auto' }}
        />
      </Spread>
    </Section>
  )
}
