---
export interface Props {
  label: string
  required?: boolean
}

const { label, required } = Astro.props
---

{
  label && (
    <div>
      <label for={label}>{label}</label>
      <textarea
        rows="5"
        id={label}
        name={label}
        {required}
      />
    </div>
  )
}

<style>
  div {
    gap: var(--flow1);
    display: flex;
    flex-direction: column;

    textarea {
      background-color: var(--un-preset-theme-backgroundColor-secondary);
      box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
        var(--un-shadow);
      --un-ring-color: var(--un-preset-theme-borderColor-secondary);

      &:hover {
        background-color: var(
          --un-preset-theme-backgroundColor-secondary-hover
        );
        --un-ring-color: var(--un-preset-theme-borderColor-secondary-hover);
      }

      &:active {
        background-color: var(
          --un-preset-theme-backgroundColor-secondary-active
        );
      }
    }
  }
</style>
