---
interface Props {
  collapsible?: {
    heading: string
    text: string
  }
  class?: string
}

const { collapsible, class: className } = Astro.props

const id = 'collapsible' + collapsible?.heading
---

{
  typeof collapsible === 'object' && (
    <div
      class="mode-compact size-medium flex flex-col"
      class:list={className}
    >
      <input
        id={id}
        type="checkbox"
        class="peer"
      />
      <label
        for={id}
        class="mr-size5 peer-checked:[&>i]:icon:minus flex items-center justify-between"
      >
        <h3 class="heading-secondary">{collapsible.heading}</h3>
        <i class="plus icon:plus" />
      </label>
      <p class="pt-size2 text-primary hidden peer-checked:flex">
        {collapsible.text}
      </p>
    </div>
  )
}
