---
import type { HTMLAttributes } from "astro/types"
import type {
  PopoverAlign,
  PopoverPosition,
  PopoverSide,
} from "@data-slot/popover"

interface Props extends HTMLAttributes<"div"> {
  side?: PopoverSide
  align?: PopoverAlign
  sideOffset?: number
  alignOffset?: number
  avoidCollisions?: boolean
  collisionPadding?: number
  position?: PopoverPosition
}

const {
  class: className,
  hidden: _hidden,
  side,
  align,
  sideOffset,
  alignOffset,
  avoidCollisions,
  collisionPadding,
  position,
  ...props
} = Astro.props
---

<div
  data-slot="popover-content"
  data-side={side}
  data-align={align}
  data-side-offset={sideOffset}
  data-align-offset={alignOffset}
  data-avoid-collisions={avoidCollisions}
  data-collision-padding={collisionPadding}
  data-position={position}
  hidden
  class={className}
  {...props}
>
  <slot />
</div>
