---
import { CheckIcon } from "@lucide/astro"
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"button"> & {
  value: string
  defaultChecked?: boolean
  disabled?: boolean
  variant?: "default" | "destructive"
  inset?: boolean
}

const {
  class: className,
  type = "button",
  value,
  defaultChecked,
  disabled,
  variant,
  inset,
  ...props
} = Astro.props
---

<button
  data-slot="dropdown-menu-checkbox-item"
  data-value={value}
  data-default-checked={defaultChecked}
  data-disabled={disabled}
  data-variant={variant}
  data-inset={inset}
  disabled={disabled ? true : undefined}
  type={type}
  class={cn(
    "group/dropdown-menu-checkbox-item relative flex w-full cursor-default items-center gap-2 rounded-sm py-1.5 pr-8 pl-2 text-sm outline-none select-none data-[highlighted]:bg-accent data-[highlighted]:text-accent-foreground data-[highlighted]:**:text-accent-foreground data-[inset]:pl-8 data-[disabled]:pointer-events-none data-[disabled]:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4",
    className
  )}
  {...props}
>
  <span
    data-slot="dropdown-menu-checkbox-item-indicator"
    class="pointer-events-none absolute right-2 flex items-center justify-center"
  >
    <CheckIcon
      class="size-4 opacity-0 group-data-[checked]/dropdown-menu-checkbox-item:opacity-100"
    />
  </span>
  <slot />
</button>
