---
interface Props {
  label: string
  options: string[]
  required?: boolean
}

const { label, options, required } = Astro.props
---

{
  label && options && (
    <div>
      <label for={label}>{label}</label>
      <select
        id={label}
        name={label}
        {required}
      >
        <option
          value="Niks geselecteerd"
          disabled
          selected
        >
          Maak een keuze
        </option>
        {options.map((option) => (
          <option value={option}>{option}</option>
        ))}
      </select>
    </div>
  )
}

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);

    label {
      color: var(--base-11);
      font-size: var(--font-size-1);
    }

    select {
      transition: var(--transition);
      outline: none;
      border-width: var(--border-width);
      border-color: var(--base-7);
      border-radius: var(--border-radius-1);
      background: var(--base-3);
      padding: var(--spacing-2);
      color: var(--base-12);
      font-size: var(--font-size-2);
      line-height: 1;

      &:hover {
        border-color: var(--base-8);
      }

      &:focus {
        border-color: var(--base-11);
      }
    }
  }
</style>
