---
import type { TooltipAlign, TooltipSide } from "@data-slot/tooltip"
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

interface Props extends HTMLAttributes<"div"> {
  side?: TooltipSide
  align?: TooltipAlign
  sideOffset?: number
  alignOffset?: number
  avoidCollisions?: boolean
  collisionPadding?: number
}

const {
  class: className,
  hidden = true,
  side,
  align,
  sideOffset,
  alignOffset,
  avoidCollisions,
  collisionPadding,
  ...props
} = Astro.props

const booleanDataAttr = (value?: boolean) =>
  value === undefined ? undefined : value ? "" : "false"
---

<div
  data-slot="tooltip-content"
  data-side={side}
  data-align={align}
  data-side-offset={sideOffset}
  data-align-offset={alignOffset}
  data-avoid-collisions={booleanDataAttr(avoidCollisions)}
  data-collision-padding={collisionPadding}
  hidden={hidden}
  class={cn(
    "bg-foreground text-background z-50 inline-flex w-fit max-w-xs origin-(--transform-origin) items-center gap-1.5 rounded-md px-3 py-1.5 text-xs shadow-md has-data-[slot=kbd]:pr-1.5 data-open:animate-in data-open:fade-in-0 data-open:zoom-in-95 data-closed:pointer-events-none data-closed:animate-out data-closed:fade-out-0 data-closed:zoom-out-95 data-[instant]:transition-none data-[instant]:animate-none data-[side=bottom]:slide-in-from-top-2 data-[side=inline-end]:slide-in-from-left-2 data-[side=inline-start]:slide-in-from-right-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2",
    className
  )}
  {...props}
>
  <slot />
</div>
