---
import "@/styles/globals.css"
import "@/styles/theme.css"

import type { LayoutSchema } from "@/schemas/layout"
import { SEO } from "astro-seo"

import Block from "@/components/misc/block.astro"

interface Props extends LayoutSchema {
  search?: any
}

const {
  lang = "en",
  title,
  description,
  image,
  company,
  head,
  body,
  css,
  banner,
  header,
  footer,
  search,
} = Astro.props
---

<!doctype html>
<html
  class="layout text-foreground bg-background h-full w-full font-sans text-base scheme-light dark:scheme-dark"
  {lang}
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="UTF-8"
      title={title || undefined}
      description={description || undefined}
      openGraph={{
        basic: {
          title: title || "",
          image: Astro.url.origin + image?.src,
          type: "website",
          url: Astro.url.href,
        },
        image: {
          url: Astro.url.origin + image?.src,
          alt: image?.alt || title || title || company || undefined,
        },
        optional: {
          description: description || undefined,
          siteName: company || undefined,
        },
      }}
    />
    <!-- <script is:inline src="https://unpkg.com/react-scan/dist/auto.global.js"
    ></script> -->
    <Fragment set:html={head} />
  </head>
  <body data-sb-object-id={Astro.url.pathname}>
    <Block type="banner" {...banner} />
    <Block type="header" search={search} {...header} />
    <main>
      <slot />
    </main>
    <Block type="footer" {...footer}>
      <div id="mc_embed_shell !p-0">
        <link
          href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
          rel="stylesheet"
          type="text/css"
        />
        <div id="mc_embed_signup">
          <form
            action="https://cardgamelife.us5.list-manage.com/subscribe/post?u=226c0a940b01a8775bad88225&id=75c9125420&f_id=0032dee6f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate !m-0 !p-0"
            target="_blank"
          >
            <div id="mc_embed_signup_scroll">
              <h2 class="!mt-0 !mb-2 py-0 font-sans !text-lg">Nieuwsbrief</h2>
              <p class="text-muted-foreground mb-4 font-sans text-sm">
                Meld je aan voor de nieuwsbrief voor nieuws over voorraad en
                nieuwe producten.
              </p>
              <div class="mc-field-group !w-full">
                <label for="mce-EMAIL" class="!text-sm">Email</label>
                <input
                  type="email"
                  name="EMAIL"
                  class="required email"
                  id="mce-EMAIL"
                  required=""
                  value=""
                />
              </div>
              <div id="mce-responses" class="clear">
                <div
                  class="response"
                  id="mce-error-response"
                  style="display: none;"
                >
                </div>
                <div
                  class="response"
                  id="mce-success-response"
                  style="display: none;"
                >
                </div>
              </div>
              <div
                style="position: absolute; left: -5000px;"
                aria-hidden="true"
              >
                <input
                  class="!w-full"
                  type="text"
                  name="b_226c0a940b01a8775bad88225_75c9125420"
                  tabindex="-1"
                  value=""
                />
              </div><div class="clear">
                <input
                  type="submit"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="button !bg-primary !w-full text-white"
                  value="Aanmelden"
                />
              </div>
            </div>
          </form>
        </div>
        <script
          type="text/javascript"
          src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
        ></script><script type="text/javascript">
          ;(function ($) {
            window.fnames = new Array()
            window.ftypes = new Array()
            fnames[0] = "EMAIL"
            ftypes[0] = "email"
            fnames[1] = "FNAME"
            ftypes[1] = "text"
            fnames[2] = "LNAME"
            ftypes[2] = "text"
            fnames[3] = "ADDRESS"
            ftypes[3] = "address"
            fnames[4] = "PHONE"
            ftypes[4] = "phone"
            fnames[5] = "BIRTHDAY"
            ftypes[5] = "birthday" /*
             * Translated default messages for the $ validation plugin.
             * Locale: NL
             */
            $.extend($.validator.messages, {
              required: "Dit is een verplicht veld.",
              remote: "Controleer dit veld.",
              email: "Vul hier een geldig e-mailadres in.",
              url: "Vul hier een geldige URL in.",
              date: "Vul hier een geldige datum in.",
              dateISO: "Vul hier een geldige datum in (ISO-formaat).",
              number: "Vul hier een geldig getal in.",
              digits: "Vul hier alleen getallen in.",
              creditcard: "Vul hier een geldig creditcardnummer in.",
              equalTo: "Vul hier dezelfde waarde in.",
              accept: "Vul hier een waarde in met een geldige extensie.",
              maxlength: $.validator.format("Vul hier maximaal {0} tekens in."),
              minlength: $.validator.format("Vul hier minimaal {0} tekens in."),
              rangelength: $.validator.format(
                "Vul hier een waarde in van minimaal {0} en maximaal {1} tekens."
              ),
              range: $.validator.format(
                "Vul hier een waarde in van minimaal {0} en maximaal {1}."
              ),
              max: $.validator.format(
                "Vul hier een waarde in kleiner dan of gelijk aan {0}."
              ),
              min: $.validator.format(
                "Vul hier een waarde in groter dan of gelijk aan {0}."
              ),
            })
          })(jQuery)
          var $mcj = jQuery.noConflict(true)
        </script>
      </div>

      <!--  -->
    </Block>
    <style set:html={css}></style>
    <Fragment set:html={body} />
  </body>
</html>
