---
import type { ComponentProps } from 'astro/types'
import {
  Avatar,
  Button,
  Card,
  Column,
  Heading,
  Row,
  Section,
  Split,
  Tagline,
  Text,
} from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  heading?: string
  paragraph?: string
  text?: string
  tagline?: string
  image?: string
  buttons?: ComponentProps<typeof Button>[]
  employees?: {
    image?: string
    name?: string
    text?: string
    tagline?: string
  }[]
}

const { tagline, heading, text, buttons, image, employees, ...rest } =
  Astro.props
---

<Section {...rest}>
  <Heading html={heading} />
  <Text html={text} />
  <Split align="center">
    {
      employees?.map(({ image, name, text, tagline }) => (
        <Card frame="none">
          <Row>
            <Avatar src={image} />
            <Column>
              <Tagline html={tagline} />
              <Heading
                html={name}
                level={3}
              />
            </Column>
          </Row>
          <Text html={text} />
        </Card>
      ))
    }
  </Split>
</Section>
