---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

import NavigationMenuPositioner from "./navigation-menu-positioner.astro"

type Props = HTMLAttributes<"nav"> & {
  delayOpen?: number
  delayClose?: number
  openOnFocus?: boolean
  side?: "top" | "right" | "bottom" | "left"
  align?: "start" | "center" | "end"
  sideOffset?: number
  alignOffset?: number
  positionMethod?: "absolute" | "fixed"
  safeTriangle?: boolean
  debugSafeTriangle?: boolean
}

const {
  class: className = "",
  delayOpen = 0,
  delayClose = 0,
  openOnFocus,
  side = "bottom",
  align = "start",
  sideOffset = 0,
  alignOffset = 0,
  positionMethod = "absolute",
  safeTriangle,
  debugSafeTriangle,
  ...props
} = Astro.props
---

<nav
  {...props}
  data-slot="navigation-menu"
  data-delay-open={delayOpen}
  data-delay-close={delayClose}
  data-open-on-focus={openOnFocus}
  data-side={side}
  data-align={align}
  data-side-offset={sideOffset}
  data-align-offset={alignOffset}
  data-position-method={positionMethod}
  data-safe-triangle={safeTriangle}
  data-debug-safe-triangle={debugSafeTriangle}
  class={cn(
    "group/navigation-menu relative flex max-w-max flex-1 items-center justify-center",
    className
  )}
>
  <slot />
  <NavigationMenuPositioner align={align} />
</nav>

<script>
  import { create } from "@data-slot/navigation-menu"

  create()
</script>
