---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"li"> & {
  value: string
  align?: "start" | "center" | "end"
  alignOffset?: number
  side?: "top" | "right" | "bottom" | "left"
  sideOffset?: number
}

const {
  class: className,
  value,
  align,
  alignOffset,
  side,
  sideOffset,
  ...props
} = Astro.props
---

<li
  data-slot="navigation-menu-item"
  data-value={value}
  data-align={align}
  data-align-offset={alignOffset}
  data-side={side}
  data-side-offset={sideOffset}
  class={cn("relative", className)}
  {...props}
>
  <slot />
</li>
