---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import {
  Section,
  SectionContainer,
  SectionContent,
  SectionStack,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  title?: ComponentProps<typeof Typography>["title"]
  description?: ComponentProps<typeof Typography>["description"]
  image?: ComponentProps<typeof Image>
  person?: {
    href?: string
    avatar?: ComponentProps<typeof Avatar>
    title?: string
    tagline?: string
  }
}

const {
  class: className,
  align,
  size,
  title,
  description,
  image,
  person,
  ...props
} = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer class="max-w-screen-lg">
    <SectionStack align="center">
      <SectionContent align={align}>
        <Typography
          size={size}
          align={align}
          title={title}
          description={description}
        />
        <Item class="-m-4" size="sm" href={person?.href}>
          <ItemMedia>
            <Avatar class="size-10">
              <AvatarImage {...person?.avatar} />
            </Avatar>
          </ItemMedia>
          <ItemContent>
            <ItemTitle>{person?.title}</ItemTitle>
            <ItemDescription>{person?.tagline}</ItemDescription>
          </ItemContent>
        </Item>
      </SectionContent>
      <Image class="rounded-lg" {...image} />
      <Typography>
        <slot />
      </Typography>
    </SectionStack>
  </SectionContainer>
</Section>
