---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import AvatarImage from "@/components/ui/avatar-image.astro"
import Avatar from "@/components/ui/avatar.astro"
import Image from "@/components/ui/image.astro"
import ItemContent from "@/components/ui/item-content.astro"
import ItemDescription from "@/components/ui/item-description.astro"
import ItemMedia from "@/components/ui/item-media.astro"
import ItemTitle from "@/components/ui/item-title.astro"
import Item from "@/components/ui/item.astro"
import SectionContainer from "@/components/ui/section-container.astro"
import SectionContent from "@/components/ui/section-content.astro"
import SectionStack from "@/components/ui/section-stack.astro"
import Section from "@/components/ui/section.astro"
import Typography from "@/components/ui/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  title?: ComponentProps<typeof Typography>["title"]
  description?: ComponentProps<typeof Typography>["description"]
  image?: ComponentProps<typeof Image>
  person?: {
    href?: string
    avatar?: ComponentProps<typeof Avatar>
    title?: string
    tagline?: string
  }
}

const {
  class: className,
  align,
  size,
  title,
  description,
  image,
  person,
  ...props
} = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer class="max-w-screen-lg">
    <SectionStack align="center">
      <SectionContent align={align}>
        <Typography
          size={size}
          align={align}
          title={title}
          description={description}
        />
        <Item class="-m-4" size="sm" href={person?.href}>
          <ItemMedia>
            <Avatar class="size-10">
              <AvatarImage {...person?.avatar} />
            </Avatar>
          </ItemMedia>
          <ItemContent>
            <ItemTitle>{person?.title}</ItemTitle>
            <ItemDescription>{person?.tagline}</ItemDescription>
          </ItemContent>
        </Item>
      </SectionContent>
      <Image class="rounded-lg" {...image} />
      <Typography>
        <slot />
      </Typography>
    </SectionStack>
  </SectionContainer>
</Section>
