---
import { cn } from "@/lib/utils"
import { Banner, BannerContainer } from "@/components/ui/banner"
import { Button } from "@/components/ui/button"

type Props = {
  class?: string
  title: string
  description: string
  buttons?: {
    label: string
    href: string
    variant?: "default" | "outline" | "secondary" | "ghost"
  }[]
}

const { class: className, title, description, buttons } = Astro.props
---

<Banner variant="floating" storageKey="banner-2" class={cn("", className)}>
  <BannerContainer class="gap-4 py-1" showClose={false}>
    <div
      class="flex flex-1 flex-col gap-0.5 @5xl:flex-row @5xl:items-center @5xl:gap-x-4"
    >
      <p class="text-sm font-semibold">{title}</p>
      <p class="text-muted-foreground text-sm">{description}</p>
    </div>
    {
      buttons?.length && (
        <div class="flex shrink-0 items-center gap-2">
          {buttons.map(({ href, label, ...button }, index) => (
            <Button
              as="a"
              href={href}
              size="sm"
              variant={button.variant ?? (index === 0 ? "default" : "outline")}
              {...button}
            >
              {label}
            </Button>
          ))}
        </div>
      )
    }
  </BannerContainer>
</Banner>
