---
import fs from "fs"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Section,
  SectionContent,
  SectionGrid,
  SectionProse,
  SectionSpread,
} from "@/components/ui/section"
import Block from "@/components/block.astro"

interface Props {
  class?: string
  id?: string
  title?: string
  description?: string
  items?: any[]
}

const { class: className, id, title, description, items } = Astro.props
---

<Section class={cn("", className)} id={id}>
  <SectionSpread>
    <SectionContent>
      <SectionProse>
        {title && <h1>{title}</h1>}
        {description && <p>{description}</p>}
      </SectionProse>
    </SectionContent>
  </SectionSpread>
  <SectionGrid class="grid-cols-1 sm:grid-cols-1 @6xl:grid-cols-2">
    {
      items?.map(({ block, href, ...props }) => {
        if (!block) return null
        const fileContent = fs.readFileSync(
          `src/components/blocks/${block}.astro`,
          "utf8"
        )
        return (
          <div class="group relative aspect-video overflow-hidden rounded-lg border">
            <div class="bg-background @container h-full w-[400%] origin-top-left scale-25 @xl:w-[200%] @xl:scale-50">
              <Block block={block} {...props} />
            </div>
            <div class="bg-background absolute bottom-0 left-0 hidden w-full items-center justify-between border-t p-4 text-sm shadow-lg group-hover:flex">
              <Button variant="outline" size="sm" href={href}>
                <Icon name="eye" class="[&:is(.copied_&)]:hidden" />
                {block}
              </Button>
              <div class="flex gap-2">
                <Button
                  class="copy"
                  variant="outline"
                  size="sm"
                  data-copy={fileContent}
                >
                  <Icon name="copy" class="[&:is(.copied_&)]:hidden" />
                  <Icon name="check" class="hidden [&:is(.copied_&)]:block" />
                  Copy code
                </Button>
                <Button
                  class="copy"
                  variant="outline"
                  size="sm"
                  data-copy={`npx shadcn@latest add @fulldev/${block}`}
                >
                  <Icon name="terminal" class="[&:is(.copied_&)]:hidden" />
                  <Icon name="check" class="hidden [&:is(.copied_&)]:block" />
                  npx shadcn add
                </Button>
              </div>
            </div>
          </div>
        )
      })
    }
  </SectionGrid>
</Section>

<script>
  const buttons = document.querySelectorAll("button.copy")
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const copy = button.getAttribute("data-copy") || ""
      navigator.clipboard.writeText(copy)
      button.classList.add("copied")
    })
  })

  sessionStorage.removeItem("closedBanners")
</script>
