---
import CircleCheck from "lucide-static/icons/circle-check.svg"
import X from "lucide-static/icons/x.svg"

import { Button } from "@/components/ui/button"
import { List, ListItem } from "@/components/ui/list"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"
import { Tile, TileContent, TileDescription, TileTitle } from "@/components/ui/tile"

interface Props {
  buttons?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    title?: string
    description?: string
    list?: string[]
  }[]
}

const { buttons, items } = Astro.props
---

<Section>
  <SectionContent>
    <SectionTypography size="lg">
      <slot />
    </SectionTypography>
    <SectionActions>
      {
        buttons?.map(({ icon, text, ...button }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} size="lg" {...button}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
    <SectionSplit class="gap-8">
      {
        items?.map(({ title, description, list }, i) => (
          <Tile class="items-start" variant={i === 0 ? "outline" : "muted"}>
            <TileContent>
              <TileTitle>{title}</TileTitle>
              <TileDescription>{description}</TileDescription>
              <List
                class={`not-first:mt-4 ${i === 0 ? "text-muted-foreground" : "text-foreground"}`}
              >
                {list?.map((item) => (
                  <ListItem>
                    {i === 0 ? <X /> : <CircleCheck />}
                    {item}
                  </ListItem>
                ))}
              </List>
            </TileContent>
          </Tile>
        ))
      }
    </SectionSplit>
  </SectionContent>
</Section>
