---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import Image from "@/components/ui/image.astro"
import Link from "@/components/ui/link.astro"
import SectionActions from "@/components/ui/section-actions.astro"
import SectionContainer from "@/components/ui/section-container.astro"
import SectionContent from "@/components/ui/section-content.astro"
import SectionSplit from "@/components/ui/section-split.astro"
import Section from "@/components/ui/section.astro"
import Typography from "@/components/ui/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  links?: ComponentProps<typeof Link>[]
  image?: ComponentProps<typeof Image>
}

const { class: className, align, size, links, image, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer>
    <SectionSplit align={align}>
      <SectionContent>
        <Typography size={size}>
          <slot />
        </Typography>
        <SectionActions>
          {
            links?.map((link, i) => (
              <Link
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...link}
              />
            ))
          }
        </SectionActions>
      </SectionContent>
      <Image class="rounded-lg" {...image} />
    </SectionSplit>
  </SectionContainer>
</Section>
