---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Form } from "@/components/ui/form"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemGroup,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import { Section, SectionContent, SectionGroup } from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  align?: ComponentProps<typeof Typography>["align"]
  size?: ComponentProps<typeof Typography>["size"]
  form?: any
  items?: {
    title?: string
    description?: string
    variant?: ComponentProps<typeof Item>["variant"]
    href?: ComponentProps<typeof Button>["href"]
    icon?: ComponentProps<typeof Icon>["name"]
  }[]
}

const { class: className, align, size, form, items, ...props } = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent class="max-w-screen-md">
    <SectionGroup align={align}>
      <Typography size={size} align={align}>
        <slot />
      </Typography>
      <ItemGroup class="w-full flex-row flex-wrap gap-2">
        {
          items?.map(
            ({ title, description, href, icon, variant = "muted" }) => (
              <Item variant={variant} href={href}>
                <ItemMedia variant="icon">
                  <Icon name={icon} href={href} />
                </ItemMedia>
                <ItemContent>
                  <ItemTitle>{title}</ItemTitle>
                  <ItemDescription>{description}</ItemDescription>
                </ItemContent>
              </Item>
            )
          )
        }
      </ItemGroup>
    </SectionGroup>
    <Form {...form} />
  </SectionContent>
</Section>
