---
import { Button } from "@/components/ui/button"
import { Form } from "@/components/ui/form"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemGroup,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import {
  Section,
  SectionContent,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"

interface Props {
  buttons?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    icon?: string
    href?: string
    title?: string
    description?: string
  }[]
  form?: any
}

const { buttons, items, form } = Astro.props
---

<Section>
  <SectionSplit>
    <SectionContent>
      <SectionTypography size="lg">
        <slot />
      </SectionTypography>
      <ItemGroup class="gap-4">
        {
          items?.map(({ icon, title, description, href }) => (
            <Item variant="muted" href={href}>
              <ItemMedia variant="icon">
                <Icon name={icon} href={href} />
              </ItemMedia>
              <ItemContent>
                <ItemTitle>{title}</ItemTitle>
                <ItemDescription>{description}</ItemDescription>
              </ItemContent>
            </Item>
          ))
        }
      </ItemGroup>
    </SectionContent>
    <Form {...form} />
  </SectionSplit>
</Section>
