---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionActions,
  SectionContainer,
  SectionContent,
  SectionStack,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  buttons?: ComponentProps<typeof Button>[]
  image?: ComponentProps<typeof Image>
}

const { class: className, align, size, buttons, image, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer>
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography size={size} align={align}>
          <slot />
        </Typography>
        <SectionActions align={align}>
          {
            buttons?.map((button, i) => (
              <Button
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...button}
              />
            ))
          }
        </SectionActions>
      </SectionContent>
      <Image class="rounded-lg" {...image} />
    </SectionStack>
  </SectionContainer>
</Section>
