---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Form } from "@/components/ui/form"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemGroup,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import {
  Section,
  SectionContent,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof SectionTypography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  items?: {
    variant?: ComponentProps<typeof Item>["variant"]
    icon?: ComponentProps<typeof Icon>["name"]
    href?: ComponentProps<typeof Button>["href"]
    title?: string
    description?: string
  }[]
  form?: any
}

const {
  class: className,
  align,
  order,
  size,
  buttons,
  items,
  form,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionSplit align={align} order={order}>
    <SectionContent>
      <SectionTypography size={size}>
        <slot />
      </SectionTypography>
      <ItemGroup class="gap-4">
        {
          items?.map(
            ({ title, description, href, icon, variant = "muted" }) => (
              <Item variant={variant} href={href}>
                <ItemMedia variant="icon">
                  <Icon name={icon} href={href} />
                </ItemMedia>
                <ItemContent>
                  <ItemTitle>{title}</ItemTitle>
                  <ItemDescription>{description}</ItemDescription>
                </ItemContent>
              </Item>
            )
          )
        }
      </ItemGroup>
    </SectionContent>
    <Form {...form} />
  </SectionSplit>
</Section>
