---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Form } from "@/components/ui/form"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemGroup,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import {
  Section,
  SectionContainer,
  SectionContent,
  SectionStack,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  form?: any
  channels?: {
    title?: string
    description?: string
    variant?: ComponentProps<typeof Item>["variant"]
    href?: ComponentProps<typeof Button>["href"]
    icon?: ComponentProps<typeof Icon>["name"]
  }[]
}

const { class: className, align, size, form, channels, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer class="max-w-screen-md">
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography size={size} align={align}>
          <slot />
        </Typography>
        <ItemGroup class="w-full flex-row flex-wrap gap-2">
          {
            channels?.map(
              ({ title, description, href, icon, variant = "muted" }) => (
                <Item variant={variant} href={href}>
                  <ItemMedia variant="icon">
                    <Icon name={icon} href={href} />
                  </ItemMedia>
                  <ItemContent>
                    <ItemTitle>{title}</ItemTitle>
                    <ItemDescription>{description}</ItemDescription>
                  </ItemContent>
                </Item>
              )
            )
          }
        </ItemGroup>
      </SectionContent>
      <Form {...form} />
    </SectionStack>
  </SectionContainer>
</Section>
