---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import Image from "@/components/elements/image.astro"
import LinkGroup from "@/components/elements/link-group.astro"
import Link from "@/components/elements/link.astro"
import SectionContainer from "@/components/elements/section-container.astro"
import SectionContent from "@/components/elements/section-content.astro"
import SectionStack from "@/components/elements/section-stack.astro"
import Section from "@/components/elements/section.astro"
import Typography from "@/components/elements/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  links?: ComponentProps<typeof Link>[]
  image?: ComponentProps<typeof Image>
}

const { class: className, align, size, links, image, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer>
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography size={size} align={align}>
          <slot />
        </Typography>
        <LinkGroup align={align}>
          {
            links?.map((link, i) => (
              <Link
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...link}
              />
            ))
          }
        </LinkGroup>
      </SectionContent>
      <Image class="rounded-lg" {...image} />
    </SectionStack>
  </SectionContainer>
</Section>
