---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import Form from "@/components/elements/form.astro"
import Icon from "@/components/elements/icon.astro"
import ItemContent from "@/components/elements/item-content.astro"
import ItemDescription from "@/components/elements/item-description.astro"
import ItemGroup from "@/components/elements/item-group.astro"
import ItemMedia from "@/components/elements/item-media.astro"
import ItemTitle from "@/components/elements/item-title.astro"
import Item from "@/components/elements/item.astro"
import Link from "@/components/elements/link.astro"
import SectionContainer from "@/components/elements/section-container.astro"
import SectionContent from "@/components/elements/section-content.astro"
import SectionStack from "@/components/elements/section-stack.astro"
import Section from "@/components/elements/section.astro"
import Typography from "@/components/elements/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  form?: any
  channels?: {
    title?: string
    description?: string
    variant?: ComponentProps<typeof Item>["variant"]
    href?: ComponentProps<typeof Link>["href"]
    icon?: ComponentProps<typeof Icon>["name"]
  }[]
}

const { class: className, align, size, form, channels, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer class="max-w-screen-md">
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography size={size} align={align}>
          <slot />
        </Typography>
        <ItemGroup class="w-full flex-row flex-wrap gap-2">
          {
            channels?.map(
              ({ title, description, href, icon, variant = "muted" }) => (
                <Item variant={variant} href={href} class="grow basis-[218px]">
                  <ItemMedia variant="icon">
                    <Icon name={icon} />
                  </ItemMedia>
                  <ItemContent>
                    <ItemTitle>{title}</ItemTitle>
                    <ItemDescription>{description}</ItemDescription>
                  </ItemContent>
                </Item>
              )
            )
          }
        </ItemGroup>
      </SectionContent>
      <Form {...form} />
    </SectionStack>
  </SectionContainer>
</Section>
