---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Form } from "@/components/ui/form"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemGroup,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import {
  Section,
  SectionContent,
  SectionGroup,
  SectionSplit,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  items?: {
    variant?: ComponentProps<typeof Item>["variant"]
    icon?: ComponentProps<typeof Icon>["name"]
    href?: ComponentProps<typeof Button>["href"]
    title?: string
    description?: string
  }[]
  form?: any
}

const {
  class: className,
  align,
  size,
  buttons,
  items,
  form,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent>
    <SectionSplit align={align}>
      <SectionGroup>
        <Typography size={size}>
          <slot />
        </Typography>
        <ItemGroup class="min-w-2xs gap-2">
          {
            items?.map(
              ({ title, description, href, icon, variant = "muted" }) => (
                <Item variant={variant} href={href}>
                  <ItemMedia variant="icon">
                    <Icon name={icon} href={href} />
                  </ItemMedia>
                  <ItemContent>
                    <ItemTitle>{title}</ItemTitle>
                    <ItemDescription>{description}</ItemDescription>
                  </ItemContent>
                </Item>
              )
            )
          }
        </ItemGroup>
      </SectionGroup>
      <Form {...form} />
    </SectionSplit>
  </SectionContent>
</Section>
