---
// Stack
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
} from "@/components/ui/item"
import { List, ListItem } from "@/components/ui/list"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContainer,
  SectionContent,
  SectionGroup,
  SectionMedia,
  SectionStack,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  list?: string[]
  buttons?: ComponentProps<typeof Button>[]
  image?: ComponentProps<typeof Image>
  item?: {
    avatars?: ComponentProps<typeof Avatar>[]
    rating?: ComponentProps<typeof Rating>["rating"]
    description?: string
  }
}

const {
  class: className,
  align,
  order,
  size,
  list,
  buttons,
  image,
  item,
  ...props
} = Astro.props
---

<Section class={cn("", className)} order={order} {...props}>
  <SectionContent align={align}>
    <SectionGroup align={align}>
      <Typography class="text-balance" align={align} size={size}>
        <slot />
      </Typography>
      <List>
        {
          list?.map((item) => (
            <ListItem>
              <Icon name="check" />
              {item}
            </ListItem>
          ))
        }
      </List>
      <SectionActions align={align}>
        {
          buttons?.map((button, i) => (
            <Button
              variant={i === 0 ? "default" : "outline"}
              size={size}
              {...button}
            />
          ))
        }
      </SectionActions>
      <Item class="items-center p-0">
        <ItemMedia class="-space-x-4">
          {
            item?.avatars?.map((avatar) => (
              <Avatar class="ring-background size-10 ring-2">
                <AvatarImage {...avatar} />
              </Avatar>
            ))
          }
        </ItemMedia>
        <ItemContent>
          <Rating rating={item?.rating} />
          <ItemDescription>
            {item?.description}
          </ItemDescription>
        </ItemContent>
      </Item>
    </SectionGroup>
  </SectionContent>
  <SectionMedia variant="inset">
    <Image {...image} />
  </SectionMedia>
</Section>
