---
// stack
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemGroup,
  ItemMedia,
} from "@/components/ui/item"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGroup,
  SectionMedia,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  image?: ComponentProps<typeof Image> & ComponentProps<typeof SectionMedia>
  item?: {
    avatars?: ComponentProps<typeof Avatar>[]
    rating?: ComponentProps<typeof Rating>["rating"]
    description?: string
  }
  video?: any
}

const {
  class: className,
  align,
  order,
  size,
  buttons,
  image,
  item,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent align={align}>
    <SectionGroup>
      <Typography class="text-balance" align={align} size={size}>
        <slot />
      </Typography>
      <SectionActions align={align}>
        {
          buttons?.map((button, i) => (
            <Button
              variant={i === 0 ? "default" : "outline"}
              size={size}
              {...button}
            />
          ))
        }
      </SectionActions>
      <Item class="items-center p-0">
        <ItemMedia class="-space-x-4">
          {
            item?.avatars?.map((avatar) => (
              <Avatar class="ring-background size-10 ring-2">
                <AvatarImage {...avatar} />
              </Avatar>
            ))
          }
        </ItemMedia>
        <ItemContent class="gap-1.5">
          <Rating rating={item?.rating} />
          <ItemDescription class="leading-none">
            {item?.description}
          </ItemDescription>
        </ItemContent>
      </Item>
    </SectionGroup>
    <SectionMedia variant={image?.variant}>
      <Image {...image} />
    </SectionMedia>
  </SectionContent>
</Section>
