---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
} from "@/components/ui/item"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGroup,
  SectionSpread,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  image?: ComponentProps<typeof Image>
  item?: {
    avatars?: ComponentProps<typeof Avatar>[]
    rating?: ComponentProps<typeof Rating>["rating"]
    description?: string
  }
}

const {
  class: className,
  align,
  size,
  buttons,
  image,
  item,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent>
    <SectionSpread align={align}>
      <Typography class="text-balance" size={size}>
        <slot />
      </Typography>
      <SectionGroup>
        <SectionActions>
          {
            buttons?.map((button, i) => (
              <Button
                class="lg:w-full"
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...button}
              />
            ))
          }
        </SectionActions>
        <Item class="items-center p-0">
          <ItemMedia class="-space-x-4">
            {
              item?.avatars?.map((avatar) => (
                <Avatar class="ring-background size-10 ring-2">
                  <AvatarImage {...avatar} />
                </Avatar>
              ))
            }
          </ItemMedia>
          <ItemContent class="gap-1.5">
            <Rating rating={item?.rating} />
            <ItemDescription class="leading-none">
              {item?.description}
            </ItemDescription>
          </ItemContent>
        </Item>
      </SectionGroup>
    </SectionSpread>
  </SectionContent>
  <Image
    class="mx-auto max-h-[80vh] max-w-screen-2xl object-cover 2xl:rounded-lg"
    {...image}
  />
</Section>
