---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGroup,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  image?: ComponentProps<typeof Image>
}

const {
  class: className,
  align,
  order,
  size,
  buttons,
  image,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent align={align} order={order}>
    <SectionGroup align={align}>
      <Typography align={align} size={size}>
        <slot />
      </Typography>
      <SectionActions align={align}>
        {
          buttons?.map((button, i) => (
            <Button
              variant={i === 0 ? "default" : "outline"}
              size={size}
              {...button}
            />
          ))
        }
      </SectionActions>
    </SectionGroup>
  </SectionContent>
  <Image
    class="mx-auto max-h-[80vh] max-w-screen-2xl object-cover"
    {...image}
  />
</Section>
