---
import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
} from "@/components/ui/item"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionProse,
  SectionSpread,
} from "@/components/ui/section"

interface Props {
  class?: string
  id?: string
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  item?: {
    images?: {
      src: string
      alt: string
    }[]
    rating?: number
    description?: string
  }
}

const { class: className, id, links, item } = Astro.props
---

<Section class={cn("bg-accent/50", className)} id={id}>
  <SectionSpread class="@5xl:items-center">
    <SectionProse>
      <slot />
    </SectionProse>
    <SectionContent>
      <SectionActions>
        {
          links?.map(({ icon, text, ...link }, i) => (
            <Button variant={i === 0 ? "default" : "secondary"} {...link}>
              {icon && <Icon name={icon} />}
              {text}
            </Button>
          ))
        }
      </SectionActions>
      <Item class="p-0">
        <ItemMedia class="-space-x-5">
          {
            item?.images?.map((image) => (
              <Avatar class="ring-background size-11 ring">
                <AvatarImage {...image} />
              </Avatar>
            ))
          }
        </ItemMedia>
        <ItemContent class="mt-1">
          <Rating rating={item?.rating} />
          <ItemDescription>
            {item?.description}
          </ItemDescription>
        </ItemContent>
      </Item>
    </SectionContent>
  </SectionSpread>
</Section>
