---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import { Section, SectionContent, SectionTypography } from "@/components/ui/section"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof SectionTypography>["size"]
  title?: ComponentProps<typeof SectionTypography>["title"]
  description?: ComponentProps<typeof SectionTypography>["description"]
  image?: ComponentProps<typeof Image>
  person?: {
    href?: ComponentProps<typeof Item>["href"]
    avatar?: ComponentProps<typeof Avatar>
    title?: string
    tagline?: string
  }
}

const {
  class: className,
  align,
  size,
  title,
  description,
  image,
  person,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent class="max-w-screen-md" align={align}>
    <SectionTypography
      align={align}
      size={size}
      title={title}
      description={description}
    />
    <SectionTypography>
      <slot />
    </SectionTypography>
  </SectionContent>
</Section>
