---
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "@/components/ui/accordion"
import { Section, SectionContainer } from "@/components/ui/section"

interface Props {
  title: string
  items: {
    id: string
    question: string
    answer: string
  }[]
  defaultItem?: string
}

const { title, items, defaultItem } = Astro.props
---

<Section>
  <SectionContainer class="items-center">
    <div class="mx-auto w-full max-w-3xl">
      <h2
        class="text-foreground text-3xl font-semibold tracking-tight text-balance sm:text-4xl"
      >
        {title}
      </h2>
      <div class="mt-10">
        <Accordion collapsible defaultValue={defaultItem}>
          {
            items.map((item, index) => (
              <AccordionItem value={item.id}>
                <AccordionTrigger>{item.question}</AccordionTrigger>
                <AccordionContent hidden={index !== 0}>
                  {item.answer}
                </AccordionContent>
              </AccordionItem>
            ))
          }
        </Accordion>
      </div>
    </div>
  </SectionContainer>
</Section>
