---
import { cn } from "@/lib/utils"
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "@/components/ui/accordion"
import { Badge } from "@/components/ui/badge"
import { Section, SectionContainer } from "@/components/ui/section"

type Props = {
  class?: string
  badge?: string
  title: string
  description: string
  faqs: {
    id: string
    question: string
    answer: string
  }[]
}

const { class: className, badge, title, description, faqs } = Astro.props
---

<Section class={cn("", className)}>
  <SectionContainer class="items-center text-center">
    <div class="flex max-w-2xl flex-col items-center gap-5">
      {badge && <Badge variant="secondary">{badge}</Badge>}
      <h2
        class="text-foreground text-3xl font-semibold tracking-tight text-balance sm:text-4xl"
      >
        {title}
      </h2>
      <p class="text-muted-foreground text-base leading-relaxed text-balance">
        {description}
      </p>
    </div>
  </SectionContainer>
  <SectionContainer>
    <div class="mx-auto w-full max-w-3xl rounded-xl border px-6 py-2">
      <Accordion collapsible>
        {
          faqs.map((item) => (
            <AccordionItem value={item.id}>
              <AccordionTrigger>{item.question}</AccordionTrigger>
              <AccordionContent>{item.answer}</AccordionContent>
            </AccordionItem>
          ))
        }
      </Accordion>
    </div>
  </SectionContainer>
</Section>
