---
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from "@/components/ui/accordion"
import { Badge } from "@/components/ui/badge"
import { Section, SectionContainer } from "@/components/ui/section"

interface Props {
  badge?: string
  title: string
  description: string
  items: {
    id: string
    question: string
    answer: string
  }[]
  defaultItem?: string
}

const { badge, title, description, items, defaultItem } = Astro.props
---

<Section>
  <SectionContainer class="items-center text-center">
    <div class="flex max-w-2xl flex-col items-center gap-5">
      {badge ? <Badge variant="secondary">{badge}</Badge> : null}
      <h2
        class="text-foreground text-3xl font-semibold tracking-tight text-balance sm:text-4xl"
      >
        {title}
      </h2>
      <p class="text-muted-foreground text-base leading-relaxed text-balance">
        {description}
      </p>
    </div>
  </SectionContainer>
  <SectionContainer>
    <div class="mx-auto w-full max-w-3xl rounded-xl border px-6 py-2">
      <Accordion collapsible defaultValue={defaultItem}>
        {
          items.map((item, index) => (
            <AccordionItem value={item.id}>
              <AccordionTrigger>{item.question}</AccordionTrigger>
              <AccordionContent hidden={index !== 0}>
                {item.answer}
              </AccordionContent>
            </AccordionItem>
          ))
        }
      </Accordion>
    </div>
  </SectionContainer>
</Section>
