---
// split 2/3
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionGroup,
  SectionSplit,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileMedia,
  TileTypography,
} from "@/components/ui/tile"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  items?: {
    title?: string
    description?: string
    html?: string
    icon?: string
    button?: ComponentProps<typeof Button>
  }[]
}

const {
  class: className,
  align,
  order,
  size,
  buttons,
  items,
  variant,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent>
    <SectionSplit align={align} order={order}>
      <SectionGroup>
        <Typography size={size}>
          <slot />
        </Typography>
        <SectionActions>
          {
            buttons?.map((button, i) => (
              <Button
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...button}
              />
            ))
          }
        </SectionActions>
      </SectionGroup>
      <SectionGrid>
        {
          items?.map(({ title, description, html, icon, button }) => (
            <Tile variant={variant}>
              <TileContent>
                <TileMedia variant="icon">
                  <Icon name={icon} />
                </TileMedia>
                <TileTypography
                  size={size}
                  title={title}
                  description={description}
                  html={html}
                />
                <Button class="px-0" variant="link" size={size} {...button} />
              </TileContent>
            </Tile>
          ))
        }
      </SectionGrid>
    </SectionSplit>
  </SectionContent>
</Section>
