---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionGroup,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileTitle,
} from "@/components/ui/tile"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  align?: ComponentProps<typeof Typography>["align"]
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  items?: {
    title?: string
    description?: string
    icon?: string
    button?: ComponentProps<typeof Button>
  }[]
}

const { class: className, align, size, buttons, items, ...props } = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent>
    <SectionGroup align={align}>
      <Typography size={size} align={align}>
        <slot />
      </Typography>
      <SectionActions align={align}>
        {
          buttons?.map((button, i) => (
            <Button
              variant={i === 0 ? "default" : "outline"}
              size={size}
              {...button}
            />
          ))
        }
      </SectionActions>
    </SectionGroup>
    <SectionGrid class="gap-x-16 gap-y-8">
      {
        items?.map(({ title, description, icon, button }) => (
          <Tile class="items-start">
            <TileContent class="p-0">
              <Icon class="bg-accent size-9 rounded-full p-2" name={icon} />
              <TileTitle>{title}</TileTitle>
              <TileDescription>{description}</TileDescription>
              <Button class="px-0" variant="link" size={size} {...button} />
            </TileContent>
          </Tile>
        ))
      }
    </SectionGrid>
  </SectionContent>
</Section>
