---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import Button from "@/components/ui/button.astro"
import Grid from "@/components/ui/grid.astro"
import Icon from "@/components/ui/icon.astro"
import SectionActions from "@/components/ui/section-actions.astro"
import SectionContainer from "@/components/ui/section-container.astro"
import SectionContent from "@/components/ui/section-content.astro"
import SectionStack from "@/components/ui/section-stack.astro"
import Section from "@/components/ui/section.astro"
import TileContent from "@/components/ui/tile-content.astro"
import TileDescription from "@/components/ui/tile-description.astro"
import TileTitle from "@/components/ui/tile-title.astro"
import Typography from "@/components/ui/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  buttons?: ComponentProps<typeof Button>[]
  features?: {
    title?: string
    description?: string
    icon?: string
    link?: ComponentProps<typeof Button>
  }[]
}

const { class: className, align, size, links, features, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer>
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography size={size} align={align}>
          <slot />
        </Typography>
        <SectionActions align={align}>
          {
            links?.map((link, i) => (
              <Button
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...link}
              />
            ))
          }
        </SectionActions>
      </SectionContent>
      {
        features && features.length > 0 && (
          <Grid class="gap-x-16 gap-y-8">
            {features?.map(({ title, description, icon, link }) => (
              <SectionStack align={align}>
                {icon && (
                  <div class="bg-accent rounded-full p-2">
                    <Icon name={icon} />
                  </div>
                )}
                <TileContent class="flex flex-col gap-2 p-0">
                  <TileTitle>{title}</TileTitle>
                  <TileDescription>{description}</TileDescription>
                  <Button class="px-0" variant="link" size={size} {...link} />
                </TileContent>
              </SectionStack>
            ))}
          </Grid>
        )
      }
    </SectionStack>
  </SectionContainer>
</Section>
