---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionProse,
} from "@/components/ui/section"
import {
  Tile,
  TileDescription,
  TileSplit,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  class?: string
  id?: string
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    title?: string
    description?: string
    icon?: string
    href?: string
    links?: {
      icon?: string
      text?: string
      href?: string
      target?: string
    }[]
  }[]
}

const { class: className, id, links, items } = Astro.props
---

<Section class={className} id={id}>
  <SectionContent>
    <SectionProse>
      <slot />
    </SectionProse>
    <SectionActions>
      {
        links?.map(({ icon, text, ...link }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} {...link}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionGrid class="grid-cols-1! gap-12">
    {
      items?.map(({ title, description }) => (
        <Tile class="border-t pt-12">
          <TileSplit>
            <TileTitle>{title}</TileTitle>
            <TileDescription>{description}</TileDescription>
          </TileSplit>
        </Tile>
      ))
    }
  </SectionGrid>
</Section>
