---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Grid } from "@/components/ui/grid"
import { Icon } from "@/components/ui/icon"
import { Logo } from "@/components/ui/logo"
import {
  Section,
  SectionActions,
  SectionContainer,
  SectionContent,
} from "@/components/ui/section"

interface Props {
  class?: string
  logo?: ComponentProps<typeof Logo>
  description?: string
  buttons?: {
    text?: string
    href?: string
  }[]
  socials?: string[]
  menus?: {
    text?: string
    links?: {
      text?: string
      href?: string
    }[]
  }[]
}

const {
  class: className,
  logo,
  description,
  buttons,
  socials,
  menus,
} = Astro.props
---

<Section class={cn("py-0", className)}>
  <SectionContainer class="justify-between gap-8 py-16">
    <Grid>
      <SectionContent class="col-span-2 flex max-w-xs flex-col">
        <Logo href="/" {...logo} />
        {
          description && (
            <p class="text-muted-foreground text-sm not-first:mt-3">
              {description}
            </p>
          )
        }
        {
          buttons && buttons.length > 0 && (
            <div class="flex flex-col items-start gap-2 not-first:mt-8">
              {buttons.map(({ text, ...button }) => (
                <div class="flex items-center gap-3 text-sm">
                  <Icon href={button.href} />
                  <span>{text}</span>
                </div>
              ))}
            </div>
          )
        }
        <SectionActions class="flex gap-4">
          {
            socials?.map((social) => (
              <Button variant="ghost" size="icon" href={social}>
                <Icon href={social} />
              </Button>
            ))
          }
        </SectionActions>
      </SectionContent>
      {
        menus?.map((menu) => (
          <div class="menu flex flex-col items-start gap-4">
            <h4 class="text-foreground text-sm font-semibold whitespace-nowrap">
              {menu.text}
            </h4>
            <menu class="flex w-full flex-col items-start gap-3">
              {menu.links?.map(({ href, text }) => (
                <a
                  class="text-muted-foreground hover:text-foreground text-sm font-normal transition-colors"
                  href={href}
                >
                  {text}
                </a>
              ))}
            </menu>
          </div>
        ))
      }
    </Grid>
  </SectionContainer>
</Section>
