---
import { Button } from "@/components/ui/button"
import {
  Footer,
  FooterActions,
  FooterContainer,
  FooterDescription,
  FooterGrid,
  FooterGroup,
  FooterGroupContent,
  FooterGroupLabel,
  FooterMenu,
  FooterMenuItem,
  FooterMenuLink,
  FooterSplit,
  FooterSpread,
} from "@/components/ui/footer"
import { Icon } from "@/components/ui/icon"
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"

interface Props {
  class?: string
  logo?: {
    src?: string
    alt?: string
    title?: string
  }
  description?: string
  copyright?: string
  channels?: {
    title?: string
    description?: string
    href?: string
    icon?: string
  }[]
  socials?: string[]
  menus?: {
    text?: string
    links?: {
      text?: string
      href?: string
    }[]
  }[]
  policies?: {
    text?: string
    href?: string
  }[]
}

const { logo, description, copyright, channels, socials, menus, policies } =
  Astro.props
---

<Footer>
  <FooterContainer>
    <FooterSplit>
      <FooterGroup>
        <Logo href="/">
          <LogoImage src={logo?.src} alt={logo?.alt} />
          <LogoText>{logo?.title}</LogoText>
        </Logo>
        <FooterDescription>{description}</FooterDescription>
        <FooterMenu>
          {
            channels?.map(({ href, icon, title }) => (
              <FooterMenuItem>
                <FooterMenuLink href={href}>
                  <Icon name={icon} href={href} />
                  {title}
                </FooterMenuLink>
              </FooterMenuItem>
            ))
          }
        </FooterMenu>
        <FooterActions class="-mx-2">
          {
            socials?.map((social) => (
              <Button variant="ghost" size="icon-sm" href={social}>
                <Icon href={social} />
              </Button>
            ))
          }
        </FooterActions>
      </FooterGroup>
      <FooterGrid class="lg:col-span-3 lg:justify-end">
        {
          menus?.map((menu) => (
            <FooterGroup>
              <FooterGroupLabel>{menu.text}</FooterGroupLabel>
              <FooterGroupContent>
                <FooterMenu>
                  {menu.links?.map(({ href, text }) => (
                    <FooterMenuItem>
                      <FooterMenuLink href={href}>{text}</FooterMenuLink>
                    </FooterMenuItem>
                  ))}
                </FooterMenu>
              </FooterGroupContent>
            </FooterGroup>
          ))
        }
      </FooterGrid>
    </FooterSplit>
    <FooterSpread class="mt-8 border-t pt-8">
      <FooterDescription size="sm">{copyright}</FooterDescription>
      <FooterMenu orientation="horizontal">
        {
          policies?.map((policy) => (
            <FooterMenuItem>
              <FooterMenuLink size="sm" href={policy.href}>
                {policy.text}
              </FooterMenuLink>
            </FooterMenuItem>
          ))
        }
      </FooterMenu>
    </FooterSpread>
  </FooterContainer>
</Footer>
