---
import type { ImageMetadata } from "astro"
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"

type BlockImage = {
  src: ImageMetadata
  alt: string
}

interface Props {
  props: {
    homeHref: string
    name: string
    logos: {
      dark: BlockImage
      light: BlockImage
    }
    copyright: string
  }
}

const { props } = Astro.props
---

<footer class="px-6 py-8">
  <div
    class="text-muted-foreground mx-auto flex max-w-container items-center justify-between text-sm"
  >
    <Logo href={props.homeHref}>
      <LogoImage
        src={props.logos.dark.src}
        alt={props.logos.dark.alt}
        class="dark:hidden"
      />
      <LogoImage
        src={props.logos.light.src}
        alt={props.logos.light.alt}
        class="hidden dark:block"
      />
      <LogoText>{props.name}</LogoText>
    </Logo>
    <span>{props.copyright}</span>
  </div>
</footer>
