---
import type { ImageMetadata } from "astro"

import { Logo, LogoImage, LogoText } from "@/components/ui/logo"

type Props = {
  homeHref?: string
  name: string
  darkLogo: ImageMetadata
  lightLogo: ImageMetadata
  year: number
}

const props: Props = Astro.props
---

<footer class="px-6 py-8">
  <div
    class="text-muted-foreground mx-auto flex max-w-container items-center justify-between text-sm"
  >
    <Logo href={props.homeHref ?? "/"}>
      <LogoImage
        src={props.darkLogo}
        alt={`${props.name} logo`}
        class="dark:hidden"
      />
      <LogoImage
        src={props.lightLogo}
        alt={`${props.name} logo`}
        class="hidden dark:block"
      />
      <LogoText>{props.name}</LogoText>
    </Logo>
    <span>&copy; {props.year} {props.name}</span>
  </div>
</footer>
