---
import { Button } from "@/components/ui/button"
import {
  Footer,
  FooterContainer,
  FooterMenu,
  FooterMenuItem,
  FooterMenuLink,
} from "@/components/ui/footer"
import { Icon } from "@/components/ui/icon"
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"
import { SectionActions } from "@/components/ui/section"

interface Props {
  image?: {
    src: string
    alt: string
  }
  description?: string
  items?: {
    text?: string
    href?: string
  }[]
  socials?: string[]
  menus?: {
    text?: string
    links?: {
      text?: string
      href?: string
    }[]
  }[]
}

const { image, items, socials } = Astro.props
---

<Footer>
  <FooterContainer class="flex flex-col items-center gap-8">
    <Logo href="/">
      <LogoImage src={image?.src} alt={image?.alt} />
      <LogoText>{image?.alt}</LogoText>
    </Logo>
    {
      items && items.length > 0 && (
        <FooterMenu orientation="horizontal">
          {items?.map(({ text, href }) => (
            <FooterMenuItem>
              <FooterMenuLink href={href}>{text}</FooterMenuLink>
            </FooterMenuItem>
          ))}
        </FooterMenu>
      )
    }
    <SectionActions class="flex gap-4">
      {
        socials?.map((social) => (
          <Button variant="ghost" size="icon" href={social}>
            <Icon href={social} />
          </Button>
        ))
      }
    </SectionActions>
  </FooterContainer>
</Footer>
