---
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
} from "@/components/ui/item"
import { List, ListItem } from "@/components/ui/list"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionMedia,
  SectionProse,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileMedia,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  list?: string[]
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  image?: {
    src: string
    alt: string
    title?: string
  }
  item?: {
    images?: {
      src: string
      alt: string
    }[]
    rating?: number
    description?: string
  }
  items?: {
    title?: string
    description?: string
    html?: string
    icon?: string
    href?: string
    links?: {
      icon?: string
      text?: string
      href?: string
      target?: string
    }[]
  }[]
}

const { list, links, image, item, items } = Astro.props
---

<Section>
  <SectionContent class="items-center">
    <Item class="-m-4">
      <ItemMedia class="-space-x-4">
        {
          item?.images?.map((image) => (
            <Avatar class="ring-background size-10 ring-2">
              <AvatarImage {...image} />
            </Avatar>
          ))
        }
      </ItemMedia>
      <ItemContent>
        <Rating rating={item?.rating} />
        <ItemDescription>
          {item?.description}
        </ItemDescription>
      </ItemContent>
    </Item>
    <SectionProse align="center" size="lg">
      <slot />
    </SectionProse>
    <SectionActions align="center">
      {
        links?.map(({ icon, text, ...button }, i) => (
          <Button
            variant={i === 0 ? "default" : "outline"}
            size="lg"
            {...button}
          >
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionMedia>
    <Image {...image} />
  </SectionMedia>
  <SectionGrid>
    {
      items?.map(({ title, description, html, icon, links, href }) => (
        <Tile href={href} class="items-center">
          <TileMedia variant="icon">
            <Icon name={icon} />
          </TileMedia>
          <TileContent class="items-center">
            <TileTitle>{title}</TileTitle>
            {description && <TileDescription>{description}</TileDescription>}
            {html && (
              <p class="text-muted-foreground text-sm" set:html={html} />
            )}
            {links?.map(({ icon, text, href, target }) => (
              <Button class="-mx-4" variant="link" href={href} target={target}>
                {icon && <Icon name={icon} />}
                {text}
              </Button>
            ))}
          </TileContent>
        </Tile>
      ))
    }
  </SectionGrid>
</Section>
