---
// stack
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
} from "@/components/ui/item"
import Video from "@/components/ui/media/video.astro"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionGroup,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileMedia,
  TileTypography,
} from "@/components/ui/tile"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  image?: ComponentProps<typeof Image>
  item?: {
    avatars?: ComponentProps<typeof Avatar>[]
    rating?: ComponentProps<typeof Rating>["rating"]
    description?: string
  }
  video?: any
  items?: {
    title?: string
    description?: string
    html?: string
    icon?: string
    button?: ComponentProps<typeof Button>
    variant?: ComponentProps<typeof Tile>["variant"]
  }[]
}

const {
  class: className,
  align,
  order,
  size,
  buttons,
  image,
  item,
  items,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent align={align} order={order}>
    <SectionGroup align={align}>
      <Typography class="text-balance" align={align} size={size}>
        <slot />
      </Typography>
      <SectionActions align={align}>
        {
          buttons?.map((button, i) => (
            <Button
              variant={i === 0 ? "default" : "outline"}
              size={size}
              {...button}
            />
          ))
        }
      </SectionActions>
      <Item class="items-center p-0">
        <ItemMedia class="-space-x-4">
          {
            item?.avatars?.map((avatar) => (
              <Avatar class="ring-background size-10 ring-2">
                <AvatarImage {...avatar} />
              </Avatar>
            ))
          }
        </ItemMedia>
        <ItemContent class="gap-1.5">
          <Rating rating={item?.rating} />
          <ItemDescription class="leading-none">
            {item?.description}
          </ItemDescription>
        </ItemContent>
      </Item>
    </SectionGroup>
    <Image class="rounded-lg" {...image} />
    <SectionGrid class="gap-x-16">
      {
        items?.map(({ title, description, html, icon, button }) => (
          <Tile class="hover:bg-transparent" variant="default">
            <TileContent class="p-0" align={align}>
              <TileMedia variant="icon">
                <Icon name={icon} />
              </TileMedia>
              <TileTypography
                align={align}
                size={size}
                title={title}
                description={description}
                html={html}
              />
              <Button class="px-0" variant="link" size={size} {...button} />
            </TileContent>
          </Tile>
        ))
      }
    </SectionGrid>
  </SectionContent>
</Section>
