---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemActions,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionGroup,
  SectionSpread,
} from "@/components/ui/section"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  items?: {
    href?: string
    title?: string
    description?: string
    image?: ComponentProps<typeof Image>
    icon?: string
  }[]
}

const {
  class: className,
  align,
  order,
  size,
  buttons,
  items,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent order={order}>
    <SectionSpread>
      <Typography size={size}>
        <slot />
      </Typography>
      <SectionActions>
        {
          buttons?.map((button, i) => (
            <Button
              variant={i === 0 ? "default" : "outline"}
              size={size}
              {...button}
            />
          ))
        }
      </SectionActions>
    </SectionSpread>
    <SectionGrid class="gap-4">
      {
        items?.map(({ title, description, href, icon }) => (
          <Item href={href} variant="muted">
            <ItemMedia variant="icon">
              <Icon name={icon} />
            </ItemMedia>
            <ItemContent>
              <ItemTitle>{title}</ItemTitle>
              <ItemDescription>{description}</ItemDescription>
            </ItemContent>
            <ItemActions>
              <Icon name="chevron-right" class="size-4" />
            </ItemActions>
          </Item>
        ))
      }
    </SectionGrid>
  </SectionContent>
</Section>
