---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import Button from "@/components/ui/button.astro"
import ListItem from "@/components/ui/list-item.astro"
import List from "@/components/ui/list.astro"
import SectionActions from "@/components/ui/section-actions.astro"
import SectionContainer from "@/components/ui/section-container.astro"
import SectionStack from "@/components/ui/section-stack.astro"
import Section from "@/components/ui/section.astro"
import Typography from "@/components/ui/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  title?: string
  description?: string
  location?: string
  salary?: string
  hours?: string
  buttons?: ComponentProps<typeof Button>[]
}

const {
  class: className,
  align,
  size,
  title,
  description,
  location,
  salary,
  hours,
  buttons,
  ...props
} = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer class="max-w-screen-md">
    <SectionStack align={align}>
      <Typography size={size} align={align}>
        {title && <h1>{title}</h1>}
        {description && <p>{description}</p>}
      </Typography>
      <List>
        <ListItem>{location}</ListItem>
        <ListItem>{salary}</ListItem>
        <ListItem>{hours}</ListItem>
      </List>
    </SectionStack>
    <SectionActions>
      {
        buttons?.map((button, i) => (
          <Button
            variant={i === 0 ? "default" : "outline"}
            size={size}
            {...button}
          />
        ))
      }
    </SectionActions>
    <Typography size={size}>
      <slot />
    </Typography>
  </SectionContainer>
</Section>
