---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { List, ListItem } from "@/components/ui/list"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionTypography,
} from "@/components/ui/section"

interface Props {
  title?: string
  description?: string
  location?: string
  salary?: string
  hours?: string
  buttons?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
}

const { title, description, location, salary, hours, buttons } = Astro.props
---

<Section>
  <SectionContent class="max-w-screen-md">
    <SectionTypography title={title} description={description} />
    <List>
      <ListItem>{location}</ListItem>
      <ListItem>{salary}</ListItem>
      <ListItem>{hours}</ListItem>
    </List>
    <SectionActions>
      {
        buttons?.map(({ icon, text, ...button }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} {...button}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
    <SectionTypography>
      <slot />
    </SectionTypography>
  </SectionContent>
</Section>
