---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import Link from "@/components/ui/link.astro"
import ListItem from "@/components/ui/list-item.astro"
import List from "@/components/ui/list.astro"
import SectionActions from "@/components/ui/section-actions.astro"
import SectionContainer from "@/components/ui/section-container.astro"
import SectionContent from "@/components/ui/section-content.astro"
import SectionStack from "@/components/ui/section-stack.astro"
import Section from "@/components/ui/section.astro"
import TileContent from "@/components/ui/tile-content.astro"
import TileDescription from "@/components/ui/tile-description.astro"
import TileTitle from "@/components/ui/tile-title.astro"
import Tile from "@/components/ui/tile.astro"
import Typography from "@/components/ui/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  links?: ComponentProps<typeof Link>[]
  jobs?: {
    href?: string
    title?: string
    description?: string
    published?: Date
    location?: string
    salary?: string
    hours?: string
  }[]
}

const { class: className, align, size, jobs, links, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer class="max-w-screen-md">
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography size={size} align={align}>
          <slot />
        </Typography>
        <SectionActions align={align}>
          {
            links?.map((link, i) => (
              <Link
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...link}
              />
            ))
          }
        </SectionActions>
      </SectionContent>
      {
        jobs && jobs.length > 0 && (
          <div class="flex w-full flex-col gap-4">
            {jobs.map(
              ({ href, title, description, location, salary, hours }) => {
                return (
                  <Tile href={href}>
                    <TileContent>
                      <TileTitle>{title}</TileTitle>
                      <TileDescription>{description}</TileDescription>
                      <List class="not-first:mt-4">
                        <ListItem>{location}</ListItem>
                        <ListItem>{salary}</ListItem>
                        <ListItem>{hours}</ListItem>
                      </List>
                    </TileContent>
                  </Tile>
                )
              }
            )}
          </div>
        )
      }
    </SectionStack>
  </SectionContainer>
</Section>
