---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Section,
  SectionContent,
  SectionGrid,
  SectionProse,
} from "@/components/ui/section"

interface Props {
  class?: string
  id?: string
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
}

const { class: className, id, links } = Astro.props
---

<Section class={className} id={id}>
  <SectionContent>
    <SectionProse>
      <slot />
    </SectionProse>
  </SectionContent>
  <SectionGrid class="-mx-4" size="sm">
    {
      links?.map(({ icon, text, href, target }) => (
        <Button
          class="text-foreground justify-start text-start text-base"
          variant="link"
          href={href}
          target={target}
        >
          {icon && <Icon name={icon} />}
          {text}
        </Button>
      ))
    }
  </SectionGrid>
</Section>
