---
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"
import { Section, SectionGrid, SectionProse } from "@/components/ui/section"

interface Props {
  class?: string
  id?: string
  logos?: {
    src: string
    alt: string
    text?: string
    href?: string
  }[]
}

const { class: className, id, logos } = Astro.props
---

<Section class={className} id={id}>
  <SectionProse class="mx-auto text-center" size="sm">
    <slot />
  </SectionProse>
  <SectionGrid class="flex flex-wrap justify-center">
    {
      logos?.map(({ src, alt, text, href }) => (
        <Logo href={href}>
          <LogoImage src={src} alt={alt} />
          <LogoText>{text}</LogoText>
        </Logo>
      ))
    }
  </SectionGrid>
</Section>
