---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionTypography,
} from "@/components/ui/section"

interface Props {
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  images?: {
    src: string
    alt: string
  }[]
}

const { links, images } = Astro.props
---

<Section>
  <SectionContent>
    <SectionTypography>
      <slot />
    </SectionTypography>
    <SectionActions>
      {
        links?.map(({ icon, text, ...button }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} {...button}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
    <SectionGrid class="flex flex-wrap justify-between gap-8">
      {
        images?.map(({ src, alt }) => (
          <Logo href="/">
            <LogoImage src={src} alt={alt} />
            <LogoText>{alt}</LogoText>
          </Logo>
        ))
      }
    </SectionGrid>
  </SectionContent>
</Section>
