---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionTypography,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileMedia,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    href?: string
    image?: {
      src: string
      alt: string
    }
    title?: string
    description?: string
    icon?: string
  }[]
}

const { links, items } = Astro.props
---

<Section>
  <SectionContent>
    <SectionTypography>
      <slot />
    </SectionTypography>
    <SectionActions>
      {
        links?.map(({ icon, text, ...button }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} {...button}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionGrid>
    {
      items?.map(({ title, description, image, href }) => (
        <Tile href={href} frame="panel">
          <TileMedia variant="inset">
            <Image class="aspect-video" {...image} />
          </TileMedia>
          <TileContent>
            <TileTitle>{title}</TileTitle>
            <TileDescription>{description}</TileDescription>
          </TileContent>
        </Tile>
      ))
    }
  </SectionGrid>
</Section>
