---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Grid } from "@/components/ui/grid"
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionActions,
  SectionContainer,
  SectionContent,
  SectionStack,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileTitle,
} from "@/components/ui/tile"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  buttons?: ComponentProps<typeof Button>[]
  services?: {
    href?: string
    title?: string
    description?: string
    image?: ComponentProps<typeof Image>
  }[]
}

const {
  class: className,
  align,
  size,
  buttons,
  services,
  ...props
} = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer>
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography class="not-first:mt-4" size={size}>
          <slot />
        </Typography>
        <SectionActions class="not-first:mt-8 not-last:mb-4">
          {
            buttons?.map((button, i) => (
              <Button
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...button}
              />
            ))
          }
        </SectionActions>
      </SectionContent>
      <Grid class="gap-4">
        {
          services?.map(({ title, description, image, href }) => (
            <Tile href={href} class="group flex flex-col items-start">
              <Image
                class="aspect-4/3 rounded-lg object-cover transition-opacity group-hover:opacity-75"
                sizes="200px"
                {...image}
              />
              <TileContent class="flex flex-col gap-2 not-first:mt-4">
                <TileTitle>{title}</TileTitle>
                <TileDescription>{description}</TileDescription>
              </TileContent>
            </Tile>
          ))
        }
      </Grid>
    </SectionStack>
  </SectionContainer>
</Section>
