---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import Button from "@/components/ui/button.astro"
import Grid from "@/components/ui/grid.astro"
import Image from "@/components/ui/image.astro"
import SectionActions from "@/components/ui/section-actions.astro"
import SectionContainer from "@/components/ui/section-container.astro"
import SectionContent from "@/components/ui/section-content.astro"
import SectionStack from "@/components/ui/section-stack.astro"
import Section from "@/components/ui/section.astro"
import TileContent from "@/components/ui/tile-content.astro"
import TileDescription from "@/components/ui/tile-description.astro"
import TileTitle from "@/components/ui/tile-title.astro"
import Tile from "@/components/ui/tile.astro"
import Typography from "@/components/ui/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  buttons?: ComponentProps<typeof Button>[]
  services?: {
    href?: string
    title?: string
    description?: string
    image?: ComponentProps<typeof Image>
  }[]
}

const { class: className, align, size, links, services, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer>
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography class="not-first:mt-4" size={size}>
          <slot />
        </Typography>
        <SectionActions class="not-first:mt-8 not-last:mb-4">
          {
            links?.map((link, i) => (
              <Button
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...link}
              />
            ))
          }
        </SectionActions>
      </SectionContent>
      <Grid class="gap-4">
        {
          services?.map(({ title, description, image, href }) => (
            <Tile href={href} class="group flex flex-col items-start">
              <Image
                class="aspect-4/3 rounded-lg object-cover transition-opacity group-hover:opacity-75"
                sizes="200px"
                {...image}
              />
              <TileContent class="flex flex-col gap-2 not-first:mt-4">
                <TileTitle>{title}</TileTitle>
                <TileDescription>{description}</TileDescription>
              </TileContent>
            </Tile>
          ))
        }
      </Grid>
    </SectionStack>
  </SectionContainer>
</Section>
