---
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Image } from "@/components/ui/image"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import { Section, SectionContent, SectionProse } from "@/components/ui/section"

interface Props {
  title?: string
  description?: string
  image?: {
    src: string
    alt: string
  }
  item?: {
    href?: string
    image?: {
      src: string
      alt: string
    }
    title?: string
    tagline?: string
  }
}

const { title, description, image, item } = Astro.props
---

<Section>
  <SectionContent class="max-w-screen-lg">
    <SectionProse title={title} description={description} />
    <Item class="-m-4" size="sm" href={item?.href}>
      <ItemMedia>
        <Avatar class="size-10">
          <AvatarImage src={item?.image?.src} alt={item?.image?.alt} />
        </Avatar>
      </ItemMedia>
      <ItemContent>
        <ItemTitle>{item?.title}</ItemTitle>
        <ItemDescription>{item?.tagline}</ItemDescription>
      </ItemContent>
    </Item>
    <Image class="rounded-lg" {...image} />
    <SectionProse class="mx-auto max-w-screen-md">
      <slot />
    </SectionProse>
  </SectionContent>
</Section>
