---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Image } from "@/components/ui/image"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof SectionTypography>["size"]
  title?: string
  tagline?: string
  description?: string
  image?: ComponentProps<typeof Image>
  buttons?: ComponentProps<typeof Button>[]
}

const {
  class: className,
  align = "center",
  size,
  title,
  tagline,
  description,
  image,
  buttons,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent class="max-w-screen-lg" align={align}>
    <SectionSplit align={align}>
      <div>
        <SectionTypography size={size} title={title} description={description} />
        <SectionActions align={align}>
          {
            buttons?.map((button, i) => (
              <Button
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...button}
              />
            ))
          }
        </SectionActions>
      </div>
      <Image
        class="aspect-square rounded-lg object-cover"
        sizes="(max-width: 1024px) 100vw, 1024px"
        {...image}
      />
    </SectionSplit>
    <SectionTypography>
      <slot />
    </SectionTypography>
  </SectionContent>
</Section>
