---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { List, ListItem } from "@/components/ui/list"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionGroup,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileTitle,
} from "@/components/ui/tile"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  items?: {
    title?: string
    description?: string
    icon?: string
    list?: string[]
    button?: ComponentProps<typeof Button>
    price?: string
    unit?: string
  }[]
}

const { class: className, align, size, buttons, items, ...props } = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent align={align}>
    <SectionGroup align={align}>
      <Typography size={size} align={align}>
        <slot />
      </Typography>
      <SectionActions align={align}>
        {
          buttons?.map((button, i) => (
            <Button
              variant={i === 0 ? "default" : "outline"}
              size={size}
              {...button}
            />
          ))
        }
      </SectionActions>
    </SectionGroup>
    <SectionGrid class="gap-6">
      {
        items?.map(({ title, description, button, list, price, unit }) => (
          <Tile variant="accent">
            <TileContent>
              <TileTitle>{title}</TileTitle>
              <TileDescription>{description}</TileDescription>
              {(price || unit) && (
                <div class="font-semibold">
                  {price && (
                    <span class="text-foreground text-2xl">{price}</span>
                  )}
                  {unit && (
                    <span class="text-muted-foreground ml-1.5 text-sm font-normal">
                      / {unit}
                    </span>
                  )}
                </div>
              )}
              <List>
                {list?.map((item) => (
                  <ListItem>{item}</ListItem>
                ))}
              </List>
              <Button class="mt-auto w-full" size={size} {...button} />
            </TileContent>
          </Tile>
        ))
      }
    </SectionGrid>
  </SectionContent>
</Section>
