---
import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { List, ListItem } from "@/components/ui/list"
import { Price, PriceUnit, PriceValue } from "@/components/ui/price"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionProse,
} from "@/components/ui/section"
import {
  Tile,
  TileActions,
  TileContent,
  TileDescription,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  class?: string
  id?: string
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    title?: string
    description?: string
    icon?: string
    list?: string[]
    links?: {
      text?: string
      href?: string
      target?: string
    }[]
    price?: string | number
    unit?: string
  }[]
}

const { class: className, id, links, items } = Astro.props
---

<Section class={className} id={id}>
  <SectionContent>
    <SectionProse>
      <slot />
    </SectionProse>
    <SectionActions>
      {
        links?.map(({ icon, text, ...button }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} {...button}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionGrid>
    {
      items?.map(({ title, description, links, list, price, unit }) => (
        <Tile variant="floating" class="justify-between">
          <TileContent>
            <TileTitle class="text-xl">{title}</TileTitle>
            <TileDescription>{description}</TileDescription>
            <Price>
              <PriceValue price={price} />
              <PriceUnit>{unit}</PriceUnit>
            </Price>
            <List class="mt-4">
              {list?.map((item) => (
                <ListItem>
                  <Icon name="check" />
                  {item}
                </ListItem>
              ))}
            </List>
          </TileContent>
          <TileActions class="w-full">
            {links?.map(({ text, href, target }) => (
              <Button class="w-full" href={href} target={target}>
                {text}
              </Button>
            ))}
          </TileActions>
        </Tile>
      ))
    }
  </SectionGrid>
</Section>
