---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import Button from "@/components/ui/button.astro"
import Icon from "@/components/ui/icon.astro"
import ListItem from "@/components/ui/list-item.astro"
import List from "@/components/ui/list.astro"
import SectionActions from "@/components/ui/section-actions.astro"
import SectionContainer from "@/components/ui/section-container.astro"
import SectionContent from "@/components/ui/section-content.astro"
import SectionStack from "@/components/ui/section-stack.astro"
import Section from "@/components/ui/section.astro"
import TileContent from "@/components/ui/tile-content.astro"
import TileDescription from "@/components/ui/tile-description.astro"
import TileTitle from "@/components/ui/tile-title.astro"
import Tile from "@/components/ui/tile.astro"
import Typography from "@/components/ui/typography.astro"

interface Props extends ComponentProps<typeof Section> {
  buttons?: ComponentProps<typeof Button>[]
  pricings?: {
    title?: string
    description?: string
    icon?: string
    list?: string[]
    link?: ComponentProps<typeof Button>
    price?: string
    unit?: string
  }[]
}

const { class: className, align, size, links, pricings, ...props } = Astro.props
---

<Section class={cn("", className)} size={size} align={align} {...props}>
  <SectionContainer>
    <SectionStack align={align}>
      <SectionContent align={align}>
        <Typography size={size} align={align}>
          <slot />
        </Typography>
        <SectionActions align={align}>
          {
            links?.map((link, i) => (
              <Button
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...link}
              />
            ))
          }
        </SectionActions>
      </SectionContent>
      {
        pricings && pricings.length > 0 && (
          <div class="flex flex-col items-stretch gap-6 md:flex-row">
            {pricings?.map(
              ({ title, description, icon, link, list, price, unit }) => (
                <Tile
                  class="min-w-4xs basis-4xs flex max-w-md flex-col justify-start text-left"
                  variant="outline"
                >
                  <TileContent class="flex h-full flex-col">
                    {icon && (
                      <div class="mb-3">
                        <Icon name={icon} />
                      </div>
                    )}
                    {title && (
                      <TileTitle class="not-first:mt-3">{title}</TileTitle>
                    )}
                    {description && (
                      <TileDescription class="text-muted-foreground text-base not-first:mt-2">
                        {description}
                      </TileDescription>
                    )}
                    {(price || unit) && (
                      <div class="font-semibold not-first:mt-4">
                        {price && (
                          <span class="text-foreground text-3xl">{price}</span>
                        )}
                        {unit && (
                          <span class="text-muted-foreground ml-1.5 text-base">
                            {unit}
                          </span>
                        )}
                      </div>
                    )}
                    {list && list.length > 0 && (
                      <List class="not-first:mt-4">
                        {list?.map((item) => (
                          <ListItem>{item}</ListItem>
                        ))}
                      </List>
                    )}
                    <div class="mt-auto pt-4">
                      <Button class="w-full" size={size} {...link} />
                    </div>
                  </TileContent>
                </Tile>
              )
            )}
          </div>
        )
      }
    </SectionStack>
  </SectionContainer>
</Section>
