---
import type { ImageMetadata } from "astro"
import { Image } from "astro:assets"

import { cn } from "@/lib/utils"
import { Badge } from "@/components/ui/badge"
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
import { Price, PriceUnit, PriceValue } from "@/components/ui/price"
import { Section, SectionContainer } from "@/components/ui/section"

type Props = {
  class?: string
  badge: string
  title: string
  products: {
    image: {
      src: ImageMetadata
      alt: string
    }
    title: string
    description: string
    price: {
      value: number
      currency: string
      unit: string
    }
  }[]
}

const { class: className, badge, title, products } = Astro.props
---

<Section class={cn("", className)}>
  <SectionContainer class="gap-8">
    <div class="mx-auto max-w-2xl text-center">
      <Badge variant="secondary">{badge}</Badge>
      <h2
        class="mt-4 text-3xl font-semibold tracking-tight text-balance sm:text-4xl"
      >
        {title}
      </h2>
    </div>
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
      {
        products.map((product) => (
          <Card>
            <Image
              src={product.image.src}
              alt={product.image.alt}
              class="aspect-[4/3] w-full object-cover"
            />
            <CardHeader>
              <CardTitle>{product.title}</CardTitle>
              <CardDescription>{product.description}</CardDescription>
            </CardHeader>
            <CardContent>
              <Price>
                <PriceValue
                  price={product.price.value}
                  currency={product.price.currency}
                />
                <PriceUnit>{product.price.unit}</PriceUnit>
              </Price>
            </CardContent>
          </Card>
        ))
      }
    </div>
  </SectionContainer>
</Section>
