---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGroup,
  SectionMasonry,
  SectionSplit,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileTitle,
} from "@/components/ui/tile"
import { Typography } from "@/components/ui/typography"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof Typography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  variant?: ComponentProps<typeof Tile>["variant"]
  items?: {
    title?: string
    description?: string
    rating?: number
    avatar?: ComponentProps<typeof Avatar>
    tagline?: string
    href?: string
  }[]
}

const {
  class: className,
  align,
  order,
  size,
  buttons,
  variant,
  items,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent>
    <SectionSplit align={align} order={order}>
      <SectionGroup>
        <Typography size={size}>
          <slot />
        </Typography>
        <SectionActions>
          {
            buttons?.map((button, i) => (
              <Button
                variant={i === 0 ? "default" : "outline"}
                size={size}
                {...button}
              />
            ))
          }
        </SectionActions>
      </SectionGroup>
      <SectionMasonry>
        {
          items?.map(
            ({ title, description, rating, avatar, tagline, href }) => (
              <Tile href={href} variant={variant}>
                <TileContent>
                  <Item class="-m-4">
                    <ItemMedia>
                      <Avatar>
                        <AvatarImage {...avatar} />
                      </Avatar>
                    </ItemMedia>
                    <ItemContent>
                      <ItemTitle>{tagline}</ItemTitle>
                      <ItemDescription>{title}</ItemDescription>
                    </ItemContent>
                  </Item>
                  <Rating rating={rating} />
                  <TileTitle>{title}</TileTitle>
                  <TileDescription>{description}</TileDescription>
                </TileContent>
              </Tile>
            )
          )
        }
      </SectionMasonry>
    </SectionSplit>
  </SectionContent>
</Section>
