---
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionSpread,
  SectionTypography,
} from "@/components/ui/section"
import { Tile, TileContent, TileTypography } from "@/components/ui/tile"

interface Props {
  buttons?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    name?: string
    title?: string
    description?: string
    html?: string
    rating?: number
    href?: string
    avatar?: {
      src: string
      alt: string
      title?: string
    }
    tagline?: string
  }[]
}

const { buttons, items } = Astro.props
---

<Section>
  <SectionContent>
    <SectionTypography>
      <slot />
    </SectionTypography>
    <SectionActions>
      {
        buttons?.map(({ icon, text, ...button }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} {...button}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionSpread>
    {
      items?.map(
        ({ title, description, html, rating, href, avatar, name, tagline }) => (
          <Tile href={href}>
            <Item class="-m-4">
              <ItemMedia>
                <Avatar>
                  <AvatarImage {...avatar} />
                </Avatar>
              </ItemMedia>
              <ItemContent>
                <ItemTitle>{name}</ItemTitle>
                <ItemDescription>{tagline}</ItemDescription>
              </ItemContent>
            </Item>
            <Rating rating={rating} />
            <TileContent>
              <TileTypography
                title={title}
                description={description}
                html={html}
              />
            </TileContent>
          </Tile>
        )
      )
    }
  </SectionSpread>
</Section>
