---
import type { ComponentProps } from "astro/types"

import { cn } from "@/lib/utils"
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionMasonry,
  SectionTypography,
} from "@/components/ui/section"
import { Tile, TileContent, TileTypography } from "@/components/ui/tile"

interface Props extends ComponentProps<typeof Section> {
  size?: ComponentProps<typeof SectionTypography>["size"]
  buttons?: ComponentProps<typeof Button>[]
  items?: {
    name?: string
    title?: string
    description?: string
    html?: string
    rating?: number
    href?: string
    avatar?: ComponentProps<typeof Avatar>
    tagline?: string
  }[]
}

const {
  class: className,
  align,
  size,
  buttons,
  variant,
  items,
  frame,
  ...props
} = Astro.props
---

<Section class={cn("", className)} {...props}>
  <SectionContent align={align}>
    <SectionTypography align={align} size={size}>
      <slot />
    </SectionTypography>
    <SectionActions align={align}>
      {
        buttons?.map((button, i) => (
          <Button
            variant={i === 0 ? "default" : "outline"}
            size={size}
            {...button}
          />
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionMasonry>
    {
      items?.map(
        ({ title, description, html, rating, href, avatar, name, tagline }) => (
          <Tile href={href} frame={frame} variant={variant}>
            <Item class="-m-4">
              <ItemMedia>
                <Avatar>
                  <AvatarImage {...avatar} />
                </Avatar>
              </ItemMedia>
              <ItemContent>
                <ItemTitle>{name}</ItemTitle>
                <ItemDescription>{tagline}</ItemDescription>
              </ItemContent>
            </Item>
            <Rating rating={rating} />
            <TileContent>
              <TileTypography
                size={size}
                title={title}
                description={description}
                html={html}
              />
            </TileContent>
          </Tile>
        )
      )
    }
  </SectionMasonry>
</Section>
