---
import { Avatar, AvatarImage } from "@/components/ui/avatar"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "@/components/ui/item"
import { Rating } from "@/components/ui/rating"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionMasonry,
  SectionProse,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  class?: string
  id?: string
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    title?: string
    description?: string
    rating?: number
    image?: {
      src: string
      alt: string
    }
    item?: {
      title?: string
      description?: string
      image?: {
        src: string
        alt: string
      }
    }
  }[]
}

const { class: className, id, links, items } = Astro.props
---

<Section class={className} id={id}>
  <SectionContent>
    <SectionProse>
      <slot />
    </SectionProse>
    <SectionActions>
      {
        links?.map(({ icon, text, ...link }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} {...link}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionMasonry>
    {
      items?.map(({ title, description, rating, item }) => (
        <Tile class="shadow-none" variant="floating">
          <Item class="p-0">
            <ItemMedia>
              <Avatar class="size-10">
                <AvatarImage {...item?.image} />
              </Avatar>
            </ItemMedia>
            <ItemContent>
              <ItemTitle>{item?.title}</ItemTitle>
              <ItemDescription>{item?.description}</ItemDescription>
            </ItemContent>
          </Item>
          <Rating rating={rating} />
          <TileContent>
            <TileTitle>{title}</TileTitle>
            <TileDescription>{description}</TileDescription>
          </TileContent>
        </Tile>
      ))
    }
  </SectionMasonry>
</Section>
