---
import type { ComponentProps } from "astro/types"

import type { GlobalSchema } from "@/schemas/global"
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"
import {
  Sidebar,
  SidebarContent,
  SidebarFooter,
  SidebarGroup,
  SidebarGroupLabel,
  SidebarHeader,
  SidebarMenu,
  SidebarMenuButton,
  SidebarMenuItem,
  SidebarTrigger,
} from "@/components/ui/sidebar"

type Props = {
  global: GlobalSchema
  links: GlobalSchema["sidebar"]["links"]
  buttons: {
    text: string
    href: string
    icon?: string
    variant?: "default" | "outline" | "ghost" | "secondary"
  }[]
} & ComponentProps<typeof Sidebar>

const { global, links, buttons, ...sidebarProps } = Astro.props
---

<Sidebar class="z-30" {...sidebarProps}>
  <SidebarHeader>
    <div class="flex items-center justify-between gap-2 pl-2">
      <Logo href="/">
        <LogoImage
          src={global.logo.src}
          srcLight={global.logo.srcLight}
          srcDark={global.logo.srcDark}
          alt={global.logo.alt}
        />
        <LogoText>{global.logo.text}</LogoText>
      </Logo>
      <SidebarTrigger />
    </div>
    <div class="flex items-center gap-2">
      <slot />
    </div>
  </SidebarHeader>
  <SidebarContent>
    {
      links.map((group) => (
        <SidebarGroup>
          <SidebarGroupLabel>{group.text}</SidebarGroupLabel>
          <SidebarMenu>
            {(group.links ?? [group]).map((item) => (
              <SidebarMenuItem>
                <SidebarMenuButton
                  href={item.href}
                  isActive={item.href === Astro.url.pathname}
                >
                  <span>{item.text}</span>
                </SidebarMenuButton>
              </SidebarMenuItem>
            ))}
          </SidebarMenu>
        </SidebarGroup>
      ))
    }
  </SidebarContent>
  <SidebarFooter>
    <div class="flex items-center justify-end gap-1">
      {
        buttons.map(({ text, icon, ...button }) => (
          <Button
            as="a"
            size={icon && !text ? "icon-sm" : "sm"}
            aria-label={text}
            target={button.href.startsWith("http") ? "_blank" : undefined}
            rel={button.href.startsWith("http") ? "noreferrer" : undefined}
            {...button}
          >
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </div>
  </SidebarFooter>
</Sidebar>
