---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  buttons?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    title?: string
    description?: string
    icon?: string
  }[]
}

const { buttons, items } = Astro.props
---

<Section>
  <SectionSplit>
    <SectionContent>
      <SectionTypography>
        <slot />
      </SectionTypography>
      <SectionActions>
        {
          buttons?.map(({ icon, text, ...button }, i) => (
            <Button variant={i === 0 ? "default" : "outline"} {...button}>
              {icon && <Icon name={icon} />}
              {text}
            </Button>
          ))
        }
      </SectionActions>
    </SectionContent>
    <SectionGrid class="grid-cols-1">
      {
        items?.map(({ title, description, icon }) => (
          <Tile>
            <TileContent>
              <Icon name={icon} />
              <TileTitle>{title}</TileTitle>
              <TileDescription>{description}</TileDescription>
            </TileContent>
          </Tile>
        ))
      }
    </SectionGrid>
  </SectionSplit>
</Section>
