---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionGrid,
  SectionProse,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  class?: string
  id?: string
  links?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    title?: string
    description?: string
  }[]
}

const { class: className, id, links, items } = Astro.props
---

<Section class={className} id={id}>
  <SectionContent>
    <SectionProse>
      <slot />
    </SectionProse>
    <SectionActions>
      {
        links?.map(({ icon, text, ...link }, i) => (
          <Button variant={i === 0 ? "default" : "outline"} {...link}>
            {icon && <Icon name={icon} />}
            {text}
          </Button>
        ))
      }
    </SectionActions>
  </SectionContent>
  <SectionGrid>
    {
      items?.map(({ title, description }) => (
        <Tile>
          <TileContent>
            <TileTitle class="text-3xl">{title}</TileTitle>
            <TileDescription class="text-base">{description}</TileDescription>
          </TileContent>
        </Tile>
      ))
    }
  </SectionGrid>
</Section>
