---
import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import { List, ListItem } from "@/components/ui/list"
import {
  Section,
  SectionActions,
  SectionContent,
  SectionSplit,
  SectionTypography,
} from "@/components/ui/section"
import {
  Tile,
  TileContent,
  TileDescription,
  TileMedia,
  TileTitle,
} from "@/components/ui/tile"

interface Props {
  buttons?: {
    icon?: string
    text?: string
    href?: string
    target?: string
  }[]
  items?: {
    title?: string
    description?: string
    list?: string[]
  }[]
}

const { buttons, items } = Astro.props
---

<Section>
  <SectionSplit>
    <SectionContent>
      <SectionTypography>
        <slot />
      </SectionTypography>
      <SectionActions>
        {
          buttons?.map(({ icon, text, ...button }, i) => (
            <Button variant={i === 0 ? "default" : "outline"} {...button}>
              {icon && <Icon name={icon} />}
              {text}
            </Button>
          ))
        }
      </SectionActions>
    </SectionContent>
    {
      items && items.length > 0 && (
        <div class="flex flex-col gap-4">
          {items?.map(({ title, description, list }, i) => (
            <Tile>
              <TileMedia variant="icon">{i + 1}</TileMedia>
              <TileContent>
                <TileTitle>{title}</TileTitle>
                <TileDescription>{description}</TileDescription>
                <List>
                  {list?.map((item) => (
                    <ListItem>{item}</ListItem>
                  ))}
                </List>
              </TileContent>
            </Tile>
          ))}
        </div>
      )
    }
  </SectionSplit>
</Section>
