---
export type CheckboxProps = Props
interface Props {
  label: string
  required?: boolean
}

const { label, required } = Astro.props
---

<label
  for={label}
  class="input"
>
  <input
    type="checkbox"
    id={label}
    name={label}
    {required}
  />
  <span>{label}</span>
</label>
