---
import type { LayoutSettings } from "@/data/settings.d"
import settings from "@/data/settings.json"
import { getCollection, render } from "astro:content"

import { getHref } from "@/lib/get-href"
import Block from "@/components/misc/block.astro"
import Layout from "@/components/misc/layout.astro"

export async function getStaticPaths() {
  const pages = await getCollection("pages")
  return pages.map((page) => ({
    params: {
      page: getHref(page.id) === "/" ? undefined : getHref(page.id),
    },
    props: {
      page,
      search: pages.map((page) => ({
        text: page.data.title,
        href: getHref(page.id),
      })),
    },
  }))
}

const { page, search } = Astro.props
const { Content } = await render(page)
const { body } = page
const { seo, type, ...data } = page.data

const mergedLayout: LayoutSettings = { ...settings.layouts.base }
const { banner, header, footer, ...layout } = mergedLayout

const hasContent = body && body.trim().length > 0
const hasSections = "sections" in data
---

<Layout data-sb-object-id={page.filePath} {...settings} {...data} {...seo}>
  <Block type="banner" {...banner} />
  <Block type="header" search={search} {...header} />
  <main>
    <!-- {
      type === "page" ? (
        <>
          {hasContent && (
            <Block type="content" level={1} {...data}>
              <Content />
            </Block>
          )}
          {hasSections &&
            data.sections?.map((section, i) => (
              <Block
                key={i}
                level={!hasContent && i === 0 ? 1 : 2}
                {...section}
              />
            ))}
        </> -->
    {
      hasContent && (
        <Block
          level={1}
          type={type === "page" ? "content" : type}
          {...data}
          data-sb-field-path="."
        >
          <Content />
        </Block>
      )
    }
    {
      hasSections &&
        data.sections?.map((section, i) => (
          <Block
            key={i}
            level={!hasContent && i === 0 ? 1 : 2}
            data-sb-field-path={`sections.${i}`}
            {...section}
          />
        ))
    }
  </main>
  <Block type="footer" {...footer} />
</Layout>
