---
// This page is used for dynamic page building.
// It is still experimental and not yet documented or included within fulldev/ui.
import { Font } from "astro:assets"
import { getCollection, getEntry, render } from "astro:content"
import config from "fulldev:config"

import { Button } from "@/components/ui/button"
import { Icon } from "@/components/ui/icon"
import ModeToggleProvider from "@/components/ui/mode-toggle/mode-toggle-provider.astro"
import Block from "@/components/block.astro"
import Layout from "@/components/layout.astro"

export async function getStaticPaths() {
  const pages = await getCollection("pages")
  return pages.map((page) => {
    return {
      params: {
        page: page.id === "index" ? undefined : page.id,
      },
      props: page,
    }
  })
}

const { layout, ...page } = Astro.props.data
const { Content } = await render(Astro.props)

const indexLayout = await getEntry("layouts", "index")
const pageLayout = layout ? await getEntry("layouts", layout) : undefined
const mergedLayout = { ...indexLayout?.data, ...pageLayout?.data }
---

<Layout
  {...config}
  {...mergedLayout}
  {...page}
  {...mergedLayout.seo}
  {...page.seo}
>
  <Fragment slot="head">
    <ModeToggleProvider />
    <Font cssVariable="--font-base" preload />
    <Font cssVariable="--font-heading" preload />
    <Fragment set:html={mergedLayout.head} />
  </Fragment>
  <Block block={mergedLayout.header} />
  <Block block={mergedLayout.banner} />
  <main class="@container flex flex-col">
    <Block block={page}>
      <Content />
    </Block>
    {page.sections?.map((section) => <Block block={section} />)}
    {pageLayout?.data.sections?.map((section) => <Block block={section} />)}
    {indexLayout?.data.sections?.map((section) => <Block block={section} />)}
  </main>
  <Button
    class="absolute right-4 bottom-4"
    size="icon-lg"
    target="_blank"
    {...mergedLayout.bubble}
  >
    <Icon {...mergedLayout.bubble} />
  </Button>
  <Block block={mergedLayout.footer} />
  <style>
    /* Needed for astro:fonts */
    body {
      font-family: var(--font-base);

      h1,
      h2 {
        font-family: var(--font-heading);
      }
    }
  </style>
  <Fragment set:html={mergedLayout.body} />
</Layout>
