---
import CtaSection from 'src/components/blocks/cta/CtaSection.astro'
import FeaturesSection from 'src/components/blocks/features/FeaturesSection.astro'
import HeroSection from 'src/components/blocks/hero/HeroSection.astro'
import SpotlightSection from 'src/components/blocks/spotlight/SpotlightSection.astro'
import Alert from 'src/components/elements/Alert.astro'
import Checkbox from 'src/components/elements/Checkbox.astro'
import Dialog from 'src/components/elements/Dialog.astro'
import Separator from 'src/components/elements/Separator.astro'
import Spinner from 'src/components/elements/Spinner.astro'
import Toast from 'src/components/elements/Toast.astro'
import Button from 'src/components/elements/button/Button.astro'
import Collapsible from 'src/components/elements/collapsible/Collapsible.astro'
import CollapsibleGroup from 'src/components/elements/collapsible/CollapsibleGroup.astro'
import Input from 'src/components/elements/input/Input.astro'
import Radio from 'src/components/elements/radio/Radio.astro'
import RadioGroup from 'src/components/elements/radio/RadioGroup.astro'
import Layout from '../components/elements/layout/Layout.astro'

const elements = [{ label: 'text' }, { label: 'ok' }, { label: 'nah' }]
const collapsibles = [
  { heading: 'heading', text: 'text' },
  { heading: 'test', text: 'moment' },
  { heading: 'dit is een collapsible', text: 'en dit is de tekst' },
]
---

<Layout>
  <Button>Test</Button>

  <h2>Toast:</h2>
  <Toast
    title="Show"
    show={true}
    icon="message-circle"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic recusandae
    consectetur nulla laboriosam quos blanditiis eaque aspernatur consequatur
    alias repellat.
  </Toast>
  <Toast
    title="Show"
    show={true}
    icon="alert-triangle"
  >
    BLABLA BLA
  </Toast>
  <h2>Alert:</h2>
  <Alert icon="info">Test</Alert>
  <Alert icon="warning">Test</Alert>
  <Alert icon="danger">Test</Alert>
  <Alert icon="message-circle">Test</Alert>
  <h2>Dialog:</h2>
  <Dialog>This is a dialog</Dialog>
  <Dialog>This is also a dialog</Dialog>
  <h2>Input (number):</h2>
  <Input
    label="input a number"
    type="number"
  />
  <h2>RadioGroup:</h2>
  <RadioGroup
    radios={elements}
    group="radiogroup1"
  />
  <h2>Radio:</h2>
  <Radio label="Voetbal" />
  <h2>Radio (linked):</h2>
  <Radio
    label="Test"
    group="radiogroup1"
  />
  <h2>Checkbox:</h2>
  <Checkbox label="Terms of service" />
  <h2>Collapsible:</h2>
  <Collapsible heading="heading">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
    necessitatibus. Exercitationem aperiam suscipit quo nisi, quod tempore eum
    quos animi!
  </Collapsible>
  <h2>CollapsibleGroup:</h2>
  <CollapsibleGroup collapsibles={collapsibles} />
  <h2>Spinner:</h2>
  <Spinner />
  <h2>Seperator (wip):</h2>
  <span>Hello</span>
  <Separator />
  <span>Hello</span>
  <HeroSection
    layout="center"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    buttons={[
      {
        label: 'Click me now',
        href: '#',
      },
      {
        label: 'Click me',
        href: '#',
      },
    ]}
    image={{
      src: 'https://source.unsplash.com/random/800x600',
      alt: 'Random image',
    }}
  />
  <FeaturesSection
    layout="wide"
    tagline="Tagline features"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    features={[
      {
        tagline: 'Tagline 1',
        heading: 'Feature 1',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      },
      {
        tagline: 'Tagline 1',
        heading: 'Feature 1',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      },
      {
        tagline: 'Tagline 1',
        heading: 'Feature 1',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      },
    ]}
  />
  <SpotlightSection
    layout="split"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    buttons={[
      {
        label: 'Click me now',
        href: '#',
      },
      {
        label: 'Click me',
        href: '#',
      },
    ]}
    image={{
      src: 'https://source.unsplash.com/random/800x600',
      alt: 'Random image',
    }}
  />
  <SpotlightSection
    layout="split"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    buttons={[
      {
        label: 'Click me now',
        href: '#',
      },
      {
        label: 'Click me',
        href: '#',
      },
    ]}
    image={{
      src: 'https://source.unsplash.com/random/800x600',
      alt: 'Random image',
    }}
  />
  <CtaSection
    layout="split"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
    buttons={[
      {
        label: 'Click me now',
        href: '#',
      },
      {
        label: 'Click me',
        href: '#',
      },
    ]}
  />
  <!-- <IntroSection
    layout="split"
    tagline="Tagline lorem ipsum"
    heading="Heading lorem ipsum dolor."
    text="Lorem ipsum dolor ipsum dolor sit amet, consectetur adipiscing elit."
  /> -->

  <div class="test">
    {
      [1, 2, 3, 4, 5, 6].map((i) => (
        <div class="child">
          <img
            src="img.webp"
            alt=""
          />
          <h1>Lorem ipsum dolor{i}</h1>
        </div>
      ))
    }
  </div>
</Layout>

<style>
  :root {
    --scale: 1;
  }

  /* .test {
    display: grid;
    grid-auto-flow: column;
    padding: var(--gutter-padding);
    padding-bottom: 2000px;
    grid-auto-columns: 4fr 1fr;
  }

  .child {
    counter-reset: child;
    counter-increment: child;
    background: lightgray;
    height: 100px;
    margin: -7.5%;

    &:nth-child(1) {
      grid-column-start: 1;
    }
    &:nth-child(2) {
      grid-column-start: 3;
    }
    &:nth-child(3) {
      grid-column-start: 5;
    }
    &:nth-child(4) {
      grid-column-start: 7;
    }
    &:nth-child(5) {
      grid-column-start: 9;
    }
    &:nth-child(6) {
      grid-column-start: 11;
    }
  } */
</style>
