---
export interface Props {
  label: string
  required?: boolean
  type?: 'text' | 'email' | 'tel' | 'url' | 'number'
}

const { label, required, type = 'text' } = Astro.props
---

{
  label && (
    <div>
      <label for={label}>{label}</label>
      <input
        class="area-input"
        id={label}
        name={label}
        {type}
        {required}
      />
    </div>
  )
}

<style>
  div {
    gap: var(--flow1);
    display: flex;
    flex-direction: column;
  }

  label {
    color: var(--text);
    font-size: var(--text1);
  }

  input {
    font-size: var(--text2);
    padding: var(--flow2);
    color: var(--text);
    background-color: var(--bg);
    border-width: var(--borderWidth);
    border-color: var(--ring);
    border-radius: var(--rounded1);
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: var(--ring-hover);
      background-color: var(--bg-hover);
    }

    &:active {
      background-color: var(--bg-active);
    }
  }
</style>
