---
import * as radixColors from '@radix-ui/colors'

const colors = {
  base: 'mauve',
  brand: 'tomato',
}

const radix = (palette: string, step: string, scheme?: string) => {
  if (step === 'fg') return 'white'

  const alpha = step.includes('A') ? 'A' : ''
  step = step.replace('A', '')
  scheme = scheme === 'dark' ? 'Dark' : ''

  const paletteName = `${palette}${scheme}P3${alpha}`
  const stepName = `${palette}${alpha}${step}`
  const color = (radixColors as any)[paletteName][stepName]

  return color
}
---

<div>
  <slot />
</div>

<style
  is:global
  define:vars={{
    'radix-base1': radix(colors.base, '1'),
    'radix-base2': radix(colors.base, '2'),
    'radix-base3': radix(colors.base, '3'),
    'radix-base4': radix(colors.base, '4'),
    'radix-base5': radix(colors.base, '5'),
    'radix-base6': radix(colors.base, '6'),
    'radix-base7': radix(colors.base, '7'),
    'radix-base8': radix(colors.base, '8'),
    'radix-base9': radix(colors.base, '9'),
    'radix-base10': radix(colors.base, '10'),
    'radix-base11': radix(colors.base, '11'),
    'radix-base12': radix(colors.base, '12'),
    'radix-base-fg': radix(colors.base, 'fg'),
    'radix-brand1': radix(colors.brand, '1'),
    'radix-brand2': radix(colors.brand, '2'),
    'radix-brand3': radix(colors.brand, '3'),
    'radix-brand4': radix(colors.brand, '4'),
    'radix-brand5': radix(colors.brand, '5'),
    'radix-brand6': radix(colors.brand, '6'),
    'radix-brand7': radix(colors.brand, '7'),
    'radix-brand8': radix(colors.brand, '8'),
    'radix-brand9': radix(colors.brand, '9'),
    'radix-brand10': radix(colors.brand, '10'),
    'radix-brand11': radix(colors.brand, '11'),
    'radix-brand12': radix(colors.brand, '12'),
    'radix-brand-fg': radix(colors.brand, 'fg'),
  }}
>
  .theme-danger {
    --theme1: var(--radix-red1);
    --theme2: var(--radix-red2);
    --theme3: var(--radix-red3);
  }

  .theme-warning {
    --theme1: var(--radix-yellow1);
    --theme2: var(--radix-yellow2);
    --theme3: var(--radix-yellow3);
  }

  .impact-low {
    --bg: var(--color-base1);
    --border: var(--color-base6);
    --text: var(--color-base11);
    --heading: var(--color-base12);

    --section-bg: var(--color-base1);
    --section-ring: transparent;
    --section-text: var(--color-base11);
    --section-heading: var(--color-base12);

    --card-bg: transparent;
    --card-ring: transparent;
    --card-text: var(--color-base11);
    --card-heading: var(--color-base12);

    --primary-bg: var(--radix-brand3);
    --primary-bg-hover: var(--radix-brand4);
    --primary-bg-active: var(--radix-brand5);
    --primary-ring: var(--radix-brand7);
    --primary-ring-hover: var(--radix-brand8);
    --primary-text: var(--radix-brand11);

    --secondary-bg: transparent;
    --secondary-bg-hover: var(--radix-brand3);
    --secondary-bg-active: var(--radix-brand4);
    --secondary-ring: transparent;
    --secondary-ring-hover: transparent;
    --secondary-text: var(--radix-brand11);

    --input-bg: var(--color-base2);
    --input-ring: var(--color-base6);
    --input-text: var(--color-base11);
  }

  .impact-medium,
  :root,
  body {
    --bg: var(--radix-base1);
    --ring: var(--radix-base6);
    --text: var(--radix-base11);
    --heading: var(--radix-base12);

    --section-bg: var(--radix-base1);
    --section-ring: transparent;
    --section-text: var(--radix-base11);
    --section-heading: var(--radix-base12);

    --card-bg: var(--radix-base2);
    --card-ring: var(--radix-base6);
    --card-text: var(--radix-base11);
    --card-heading: var(--radix-base12);

    --primary-bg: var(--radix-brand9);
    --primary-bg-hover: var(--radix-brand10);
    --primary-bg-active: var(--radix-brand10);
    --primary-ring: var(--radix-brand10);
    --primary-ring-hover: var(--radix-brand10);
    --primary-text: var(--radix-brand-fg);

    --secondary-bg: var(--radix-brand3);
    --secondary-bg-hover: var(--radix-brand4);
    --secondary-bg-active: var(--radix-brand5);
    --secondary-ring: var(--radix-brand7);
    --secondary-ring-hover: var(--radix-brand8);
    --secondary-text: var(--radix-brand11);

    --input-bg: var(--radix-base2);
    --input-ring: var(--radix-base6);
    --input-text: var(--radix-base11);
  }

  .impact-high {
    --bg: var(--radix-base2);
    --ring: var(--radix-base6);
    --text: var(--radix-base11);
    --heading: var(--radix-base12);

    --section-bg: var(--radix-brand2);
    --section-ring: transparent;
    --section-text: var(--radix-base11);
    --section-heading: var(--radix-base12);

    --card-bg: var(--radix-base2);
    --card-ring: var(--radix-base6);
    --card-text: var(--radix-base11);
    --card-heading: var(--radix-base12);

    --primary-bg: var(--radix-brand9);
    --primary-bg-hover: var(--radix-brand10);
    --primary-bg-active: var(--radix-brand10);
    --primary-ring: var(--radix-brand10);
    --primary-ring-hover: var(--radix-brand10);
    --primary-text: var(--radix-brand-fg);

    --secondary-bg: var(--radix-brand3);
    --secondary-bg-hover: var(--radix-brand4);
    --secondary-bg-active: var(--radix-brand5);
    --secondary-ring: var(--radix-brand7);
    --secondary-ring-hover: var(--radix-brand8);
    --secondary-text: var(--radix-brand11);

    --input-bg: var(--radix-base2);
    --input-ring: var(--radix-base6);
    --input-text: var(--radix-base11);
  }

  .impact-solid {
    --bg: var(--radix-base12);
    --ring: transparent;
    --text: var(--radix-base6);
    --heading: var(--radix-base1);

    --section-bg: var(--radix-base12);
    --section-ring: transparent;
    --section-text: var(--radix-base1);
    --section-heading: var(--radix-base1);

    --card-bg: var(--radix-base12);
    --card-ring: var(--radix-base11);
    --card-text: var(--radix-base1);
    --card-heading: var(--radix-base1);

    --primary-bg: var(--radix-brand9);
    --primary-bg-hover: var(--radix-brand10);
    --primary-bg-active: var(--radix-brand10);
    --primary-ring: transparent;
    --primary-ring-hover: transparent;
    --primary-text: var(--radix-brand-fg);

    --secondary-bg: transparent;
    --secondary-bg-hover: transparent;
    --secondary-bg-active: transparent;
    --secondary-ring: var(--radix-brand9);
    --secondary-ring-hover: var(--radix-brand10);
    --secondary-text: var(--radix-brand1);

    --input-bg: var(--radix-base12);
    --input-ring: var(--radix-base12);
    --input-text: var(--radix-base1);
  }

  .impact-extreme {
    --bg: var(--radix-brand9);
    --ring: var(--radix-brand-fg);
    --text: var(--radix-brand-fg);
    --heading: var(--radix-brand-fg);

    --section-bg: var(--radix-brand9);
    --section-ring: transparent;
    --section-text: var(--radix-brand-fg);
    --section-heading: var(--radix-brand-fg);

    --card-bg: var(--radix-brand9);
    --card-ring: var(--radix-brand-fg);
    --card-text: var(--radix-brand-fg);
    --card-heading: var(--radix-brand-fg);

    --primary-bg: var(--radix-brand-fg);
    --primary-bg-hover: var(--radix-brand-fg);
    --primary-bg-active: var(--radix-brand-fg);
    --primary-ring: var(--radix-brand-fg);
    --primary-ring-hover: var(--radix-brand-fg);
    --primary-text: var(--radix-brand9);

    --secondary-bg: transparent;
    --secondary-bg-hover: transparent;
    --secondary-bg-active: transparent;
    --secondary-ring: var(--radix-brand-fg);
    --secondary-ring-hover: var(--radix-brand-fg);
    --secondary-text: var(--radix-brand-fg);

    --input-bg: var(--radix-brand9);
    --input-ring: var(--radix-brand-fg);
    --input-text: var(--radix-brand-fg);
  }
</style>
