---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"div"> & {
  multiple?: boolean
  defaultValue?: string | string[]
  disabled?: boolean
  orientation?: "horizontal" | "vertical"
  loopFocus?: boolean
  hiddenUntilFound?: boolean
  collapsible?: boolean
}

const {
  class: className,
  multiple,
  defaultValue,
  disabled,
  orientation = "vertical",
  loopFocus,
  hiddenUntilFound,
  collapsible,
  ...props
} = Astro.props

const serializedDefaultValue = Array.isArray(defaultValue)
  ? JSON.stringify(defaultValue)
  : defaultValue
---

<div
  data-slot="accordion"
  data-multiple={multiple}
  data-default-value={serializedDefaultValue}
  data-disabled={disabled}
  data-orientation={orientation}
  data-loop-focus={loopFocus}
  data-hidden-until-found={hiddenUntilFound}
  data-collapsible={collapsible}
  class={cn("flex w-full flex-col", className)}
  {...props}
>
  <slot />
</div>

<script>
  import { create } from "@data-slot/accordion"

  create()
</script>
