---
import * as radixColors from '@radix-ui/colors'

const colors = {
  base: 'slate',
  brand: 'indigo',
}

const radix = (palette: string, step: string, scheme?: string) => {
  if (step === 'fg') return 'white'

  const alpha = step.includes('A') ? 'A' : ''
  step = step.replace('A', '')
  scheme = scheme === 'dark' ? 'Dark' : ''

  const paletteName = `${palette}${scheme}P3${alpha}`
  const stepName = `${palette}${alpha}${step}`
  const color = (radixColors as any)[paletteName][stepName]

  return color
}
---

<body>
  <slot />
</body>

<style
  is:global
  define:vars={{
    'radix-base1': radix(colors.base, '1'),
    'radix-base2': radix(colors.base, '2'),
    'radix-base3': radix(colors.base, '3'),
    'radix-base4': radix(colors.base, '4'),
    'radix-base5': radix(colors.base, '5'),
    'radix-base6': radix(colors.base, '6'),
    'radix-base7': radix(colors.base, '7'),
    'radix-base8': radix(colors.base, '8'),
    'radix-base9': radix(colors.base, '9'),
    'radix-base10': radix(colors.base, '10'),
    'radix-base11': radix(colors.base, '11'),
    'radix-base12': radix(colors.base, '12'),
    'radix-base-fg': radix(colors.base, 'fg'),
    'radix-brand1': radix(colors.brand, '1'),
    'radix-brand2': radix(colors.brand, '2'),
    'radix-brand3': radix(colors.brand, '3'),
    'radix-brand4': radix(colors.brand, '4'),
    'radix-brand5': radix(colors.brand, '5'),
    'radix-brand6': radix(colors.brand, '6'),
    'radix-brand7': radix(colors.brand, '7'),
    'radix-brand8': radix(colors.brand, '8'),
    'radix-brand9': radix(colors.brand, '9'),
    'radix-brand10': radix(colors.brand, '10'),
    'radix-brand11': radix(colors.brand, '11'),
    'radix-brand12': radix(colors.brand, '12'),
    'radix-brand-fg': radix(colors.brand, 'fg'),
  }}
>
  :root {
    --scale: 1;
    --scale-padding: 1;
    --scale-margin: 0;
    --borderWidth: 1px;

    --slope: calc(min(100vw, 200cqw) - 360px);
    --slope-absolute: calc(100vw - 360px);
    --spacing1: calc(4px + var(--slope) * 0.0016 * var(--scale));
    --spacing2: calc(8px + var(--slope) * 0.0032 * var(--scale));
    --spacing3: calc(12px + var(--slope) * 0.0048 * var(--scale));
    --spacing4: calc(16px + var(--slope) * 0.0064 * var(--scale));
    --spacing5: calc(24px + var(--slope) * 0.0096 * var(--scale));
    --spacing6: calc(32px + var(--slope) * 0.0128 * var(--scale));
    --spacing7: calc(40px + var(--slope) * 0.016 * var(--scale));
    --spacing8: calc(48px + var(--slope) * 0.0192 * var(--scale));
    --spacing9: calc(64px + var(--slope) * 0.0256 * var(--scale));
    --text1: calc(14px + var(--slope) * 0.0028 * var(--scale));
    --text2: calc(17px + var(--slope) * 0.0032 * var(--scale));
    --text3: calc(19px + var(--slope) * 0.012 * var(--scale));
    --text4: calc(30px + var(--slope) * 0.02 * var(--scale));
    --gutter-padding: calc(
      (24px + var(--slope-absolute) * 0.06) * var(--scale-padding)
    );
    --gutter-margin: calc(
      (24px + var(--slope-absolute) * 0.06) * var(--scale-margin)
    );
    --spacer: calc((64px + var(--slope-absolute) * 0.024) * var(--scale));
  }

  .impact-low {
    --bg: var(--radix-base1);
    --border: var(--radix-base6);
    --text: var(--radix-base11);
    --heading: var(--radix-base12);

    --section-bg: var(--radix-base1);
    --section-ring: transparent;
    --section-text: var(--radix-base11);
    --section-heading: var(--radix-base12);

    --card-bg: var(--radix-base2);
    --card-ring: var(--radix-base6);
    --card-text: var(--radix-base11);
    --card-heading: var(--radix-base12);

    --primary-bg: var(--radix-brand9);
    --primary-bg--hover: var(--radix-brand10);
    --primary-bg--active: var(--radix-brand10);
    --primary-ring: var(--radix-brand10);
    --primary-ring--hover: var(--radix-brand10);
    --primary-text: var(--radix-brand-fg);

    --secondary-bg: var(--radix-brand3);
    --secondary-bg--hover: var(--radix-brand4);
    --secondary-bg--active: var(--radix-brand5);
    --secondary-ring: var(--radix-brand4);
    --secondary-ring--hover: var(--radix-brand5);
    --secondary-text: var(--radix-brand11);

    --input-bg: var(--radix-base2);
    --input-ring: var(--radix-base6);
    --input-text: var(--radix-base11);
  }

  .impact-medium,
  :root,
  body {
    --bg: var(--radix-base1);
    --ring: var(--radix-base6);
    --text: var(--radix-base11);
    --heading: var(--radix-base12);

    --section-bg: var(--radix-base1);
    --section-ring: transparent;
    --section-text: var(--radix-base11);
    --section-heading: var(--radix-base12);

    --card-bg: var(--radix-base2);
    --card-ring: var(--radix-base6);
    --card-text: var(--radix-base11);
    --card-heading: var(--radix-base12);

    --primary-bg: var(--radix-brand9);
    --primary-bg--hover: var(--radix-brand10);
    --primary-bg--active: var(--radix-brand10);
    --primary-ring: var(--radix-brand10);
    --primary-ring--hover: var(--radix-brand10);
    --primary-text: var(--radix-brand-fg);

    --secondary-bg: var(--radix-brand3);
    --secondary-bg--hover: var(--radix-brand4);
    --secondary-bg--active: var(--radix-brand5);
    --secondary-ring: var(--radix-brand4);
    --secondary-ring--hover: var(--radix-brand5);
    --secondary-text: var(--radix-brand11);

    --input-bg: var(--radix-base2);
    --input-ring: var(--radix-base6);
    --input-text: var(--radix-base11);
  }

  .impact-high {
    --bg: var(--radix-base2);
    --ring: var(--radix-base6);
    --text: var(--radix-base11);
    --heading: var(--radix-base12);

    --section-bg: var(--radix-base2);
    --section-ring: var(--radix-base6);
    --section-text: var(--radix-base11);
    --section-heading: var(--radix-base12);

    --card-bg: var(--radix-base2);
    --card-ring: var(--radix-base6);
    --card-text: var(--radix-base11);
    --card-heading: var(--radix-base12);

    --primary-bg: var(--radix-brand9);
    --primary-bg--hover: var(--radix-brand10);
    --primary-bg--active: var(--radix-brand10);
    --primary-ring: var(--radix-brand10);
    --primary-ring--hover: var(--radix-brand10);
    --primary-text: var(--radix-brand-fg);

    --secondary-bg: var(--radix-brand3);
    --secondary-bg--hover: var(--radix-brand4);
    --secondary-bg--active: var(--radix-brand5);
    --secondary-ring: var(--radix-brand4);
    --secondary-ring--hover: var(--radix-brand5);
    --secondary-text: var(--radix-brand11);

    --input-bg: var(--radix-base2);
    --input-ring: var(--radix-base6);
    --input-text: var(--radix-base11);
  }

  .impact-solid {
    --bg: var(--radix-base12);
    --ring: var(--radix-base12);
    --text: var(--radix-base1);
    --heading: var(--radix-base1);

    --section-bg: var(--radix-base12);
    --section-ring: var(--radix-base12);
    --section-text: var(--radix-base1);
    --section-heading: var(--radix-base1);

    --card-bg: var(--radix-base12);
    --card-ring: var(--radix-base12);
    --card-text: var(--radix-base1);
    --card-heading: var(--radix-base1);

    --primary-bg: var(--radix-brand9);
    --primary-bg--hover: var(--radix-brand10);
    --primary-bg--active: var(--radix-brand10);
    --primary-ring: var(--radix-brand10);
    --primary-ring--hover: var(--radix-brand10);
    --primary-text: var(--radix-brand-fg);

    --secondary-bg: var(--radix-brand3);
    --secondary-bg--hover: var(--radix-brand4);
    --secondary-bg--active: var(--radix-brand5);
    --secondary-ring: var(--radix-brand4);
    --secondary-ring--hover: var(--radix-brand5);
    --secondary-text: var(--radix-brand11);

    --input-bg: var(--radix-base12);
    --input-ring: var(--radix-base12);
    --input-text: var(--radix-base1);
  }

  .impact-extreme {
    --bg: var(--radix-brand9);
    --ring: var(--radix-brand-fg);
    --text: var(--radix-brand-fg);
    --heading: var(--radix-brand-fg);

    --section-bg: var(--radix-brand9);
    --section-ring: var(--radix-brand-fg);
    --section-text: var(--radix-brand-fg);
    --section-heading: var(--radix-brand-fg);

    --card-bg: var(--radix-brand9);
    --card-ring: var(--radix-brand-fg);
    --card-text: var(--radix-brand-fg);
    --card-heading: var(--radix-brand-fg);

    --primary-bg: var(--radix-brand-fg);
    --primary-bg--hover: var(--radix-brand-fg);
    --primary-bg--active: var(--radix-brand-fg);
    --primary-ring: var(--radix-brand-fg);
    --primary-ring--hover: var(--radix-brand-fg);
    --primary-text: var(--radix-brand9);

    --secondary-bg: transparent;
    --secondary-bg--hover: transparent;
    --secondary-bg--active: transparent;
    --secondary-ring: var(--radix-brand-fg);
    --secondary-ring--hover: var(--radix-brand-fg);
    --secondary-text: var(--radix-brand-fg);

    --input-bg: var(--radix-brand9);
    --input-ring: var(--radix-brand-fg);
    --input-text: var(--radix-brand-fg);
  }

  body {
    background: var(--bg);
    color: var(--text);
    border-color: var(--ring);
  }
</style>
