---
import { getEntry } from 'astro:content'
import {
  Badge,
  Button,
  Card,
  Deck,
  Group,
  Heading,
  Icon,
  Layout,
  Main,
  Paragraph,
  Section,
  Text,
} from 'fulldev-ui'
import 'fulldev-ui/radix'
import Cta from '../components/Cta.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

const { data, render } = await getEntry('pages', 'index')
const { Content } = await render()
---

<Layout
  title="Fulldev UI - Astro UI component library, open-source"
  description="A library of UI components, written in Astro, compatible with all frameworks. Unique features to build entire websites, check it out."
  image="https://ui.full.dev/og-image-fulldev-ui.png"
  body={{
    class: 'not-content',
    theme: 'dark',
  }}
>
  <Header />
  <Main>
    <Section
      class="hero"
      size="3xl"
      structure="column"
      frame="container"
      align="center"
    >
      <Badge
        size="md"
        contrast
        style={{ borderRadius: '999px' }}
        as="a"
        variant="outline"
        {...data.hero.badge}
      />
      <Heading
        as="h1"
        text={data.hero.heading}
      />
      <Text
        size="xl"
        text={data.hero.paragraph}
      />
      <Group structure="wrap">
        {
          data.hero.buttons.map((button: any, i: any) => (
            <Button
              color="brand"
              variant={i > 0 ? 'soft' : 'solid'}
              contrast={i > 0}
              {...button}
            />
          ))
        }
      </Group>
      <Deck
        structure="grid"
        size="md"
      >
        {
          data.hero.features.map((feature: any) => (
            <Card>
              <Icon
                color="brand"
                name={feature.icon}
                size="xl"
                style={{
                  height: '1.4em',
                  width: '1.4em',
                }}
              />
              <Heading>{feature.heading}</Heading>
              <Paragraph>{feature.paragraph}</Paragraph>
            </Card>
          ))
        }
      </Deck>
    </Section>
    <Section
      align="center"
      structure="column"
      class="cta-section"
    >
      <Heading size="xl"> Have a look at some examples </Heading>
    </Section>

    <div class="examples">
      <Content />
    </div>
  </Main>
  <Cta buttons={data.cta.buttons} />
</Layout>

<!-- <Footer /> -->

<style is:global>
  @import url(https://fonts.bunny.net/css?family=raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

  .hero,
  .cta {
    padding-top: var(--space-5) !important;

    &::before {
      position: absolute;
      left: 0;
      background: radial-gradient(
        circle,
        rgba(255, 85, 0, 0.08) 0%,
        rgba(255, 85, 0, 0) 52%
      );
      width: 100%;
      height: 170%;
      overflow: visible;
      content: '';
    }
  }

  .hero {
    &::before {
      top: -80%;
    }
  }

  .cta {
    overflow: hidden;
    &::before {
      bottom: -80%;
    }
  }

  /* .variant-subtle {
    backdrop-filter: blur(8px) !important;
    background: rgba(23, 25, 26, 0.5) !important;
  } */

  .examples {
    border-radius: 4px;

    .example-container {
      border: none !important;
      border-top: 1px solid var(--border) !important;

      > div {
        align-items: stretch !important;
        margin: 0 !important;
        border-width: 0px !important;
        padding: 0 !important;
      }
    }

    .expressive-code {
      border-top: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
      background: var(--raised-background);
      padding-right: var(--space-gutter);
      padding-left: var(--space-gutter);
    }
  }
</style>
