---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"span"> & {
  defaultChecked?: boolean
  disabled?: boolean
  readOnly?: boolean
  required?: boolean
  name?: string
  size?: "default" | "sm"
  value?: string
  uncheckedValue?: string
}

const {
  class: className,
  defaultChecked,
  disabled,
  readOnly,
  required,
  name,
  size = "default",
  value,
  uncheckedValue,
  ...props
} = Astro.props

const initialChecked = defaultChecked === true
const switchStyle =
  "peer group/switch focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:border-destructive/50 dark:aria-invalid:ring-destructive/40 data-checked:bg-primary data-unchecked:bg-input dark:data-unchecked:bg-input/80 relative inline-flex shrink-0 items-center rounded-full border border-transparent shadow-xs transition-all outline-none after:absolute after:-inset-x-3 after:-inset-y-2 focus-visible:ring-3 aria-invalid:ring-3 data-disabled:cursor-not-allowed data-disabled:opacity-50 data-readonly:cursor-default"
const switchSizeStyle = {
  sm: "h-[14px] w-[24px]",
  default: "h-[18.4px] w-[32px]",
}
---

<span
  role="switch"
  aria-checked={initialChecked ? "true" : "false"}
  aria-disabled={disabled ? "true" : undefined}
  aria-readonly={readOnly ? "true" : undefined}
  aria-required={required ? "true" : undefined}
  data-slot="switch"
  data-size={size}
  data-checked={initialChecked ? "" : undefined}
  data-unchecked={initialChecked ? undefined : ""}
  data-default-checked={defaultChecked}
  data-disabled={disabled}
  data-read-only={readOnly}
  data-readonly={readOnly}
  data-required={required}
  data-name={name}
  data-value={value}
  data-unchecked-value={uncheckedValue}
  class={cn(switchStyle, switchSizeStyle[size], className)}
  {...props}
>
  <span
    aria-hidden="true"
    data-slot="switch-thumb"
    class="bg-background dark:data-checked:bg-primary-foreground dark:data-unchecked:bg-foreground pointer-events-none block rounded-full ring-0 transition-transform group-data-[size=default]/switch:size-4 group-data-[size=sm]/switch:size-3 group-data-[size=default]/switch:data-checked:translate-x-[calc(100%-2px)] group-data-[size=sm]/switch:data-checked:translate-x-[calc(100%-2px)] group-data-[size=default]/switch:data-unchecked:translate-x-0 group-data-[size=sm]/switch:data-unchecked:translate-x-0"
  ></span>
</span>

<script>
  import { create } from "@data-slot/switch"

  create()
</script>
