---
import Icon from './Icon.astro'

export type ChannelProps = Props
export interface Props {
  type: 'phone' | 'email' | 'whatsapp' | 'address'
  value: string
}

const { type, value } = Astro.props

const map = {
  email: {
    value: value,
    href: `mailto:${value}`,
    icon: 'mail',
    title: 'Email',
  },
  phone: {
    value: value,
    href: `tel:${value}`,
    icon: 'phone',
    title: 'Telefoon',
  },
  whatsapp: {
    value: value,
    href: `https://wa.me/${value}`,
    icon: 'brand-whatsapp',
    title: 'Whatsapp',
  },
  address: {
    value: value,
    href: `https://www.google.com/maps/search/?api=1&query=${value}`,
    icon: 'location',
    title: 'Adres',
  },
}
---

{
  type && value && (
    <div class="gap-size3 mode-compact size-medium flex items-center">
      <a
        class="button-secondary"
        href={map[type].href}
        target="_blank"
      >
        <Icon icon={map[type].icon} />
      </a>
      <div class="gap-size1 gap-size1 flex flex-col">
        <p class="hue-base description-size2 description-hue12 description-left">
          {map[type].title}
        </p>
        <p class="hue-base description-size1 description-left">
          {map[type].value}
        </p>
      </div>
    </div>
  )
}

<!-- ---
const company = (await getEntry('globals', 'company')).data

interface Props {
  key: keyof typeof map
}

const { key } = Astro.props

const map = {
  email: {
    value: company.channels.email,
    href: `mailto:${company.channels.email}`,
    icon: 'icon:mail',
    title: 'Email',
  },
  phone: {
    value: company.channels.phone,
    href: `tel:${company.channels.phone}`,
    icon: 'icon:phone',
    title: 'Telefoon',
  },
  whatsapp: {
    value: company.channels.whatsapp,
    href: `https://wa.me/${company.channels.whatsapp}`,
    icon: 'icon:brand-whatsapp',
    title: 'Whatsapp',
  },
  address: {
    value: company.channels.address,
    href: `https://www.google.com/maps/search/?api=1&query=${company.channels.address}`,
    icon: 'icon:location',
    title: 'Adres',
  },
}
---

{
  company.channels[key] && (
    <div>
      <a
        href={map[key].href}
        target="_blank"
      >
        <i class:list={map[key].icon} />
      </a>
      <div>
        <p>{map[key].title}</p>
        <p>{map[key].value}</p>
      </div>
    </div>
  )
}

<style is:global>
  div {
    gap: var(--spacing-3);
    display: flex;
    align-items: center;

    i {
      height: 1.4em;
      width: 1.4em;
      display: block;
    }

    div {
      gap: var(--spacing-1);
      display: flex;
      flex-direction: column;
      &:first-child {
        font-size: var(--flow-description2);
        line-height: 1;
      }
    }
  }
</style> -->
