---
import type { HTMLAttributes } from 'astro/types'
import Element from 'fulldev-ui/components/Element.astro'
import Label from 'fulldev-ui/components/Label.astro'

interface Props extends HTMLAttributes<'input'> {
  size?: 'sm' | 'md' | 'lg' | undefined
  label?: string | undefined
}

const { label, name = label, id = name, size = 'md', ...rest } = Astro.props
---

<Label
  class:list={`checkbox size-${size}`}
  for={id}
>
  <Element
    as="input"
    type="checkbox"
    show={id}
    {id}
    {name}
    {...rest}
  />
  <Fragment set:html={label} />
</Label>

<style>
  @layer fulldev {
    .checkbox {
      display: flex;
      align-items: center;

      input {
        cursor: pointer;
        border-radius: var(--radius-md);
        accent-color: var(--color-ring);

        &:focus-visible {
          outline: none;
          box-shadow: 0 0 0 2px var(--color-ring);
        }

        &[readonly] {
          pointer-events: none;
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      &.size-sm {
        gap: var(--spacing-1-5);

        input {
          width: var(--spacing-3-5) !important;
          height: var(--spacing-3-5) !important;
        }
      }
      &.size-md {
        gap: var(--spacing-2);

        input {
          width: var(--spacing-4) !important;
          height: var(--spacing-4) !important;
        }
      }

      &.size-lg {
        gap: var(--spacing-2-5);

        input {
          width: 1.125rem !important;
          height: 1.125rem !important;
        }
      }
    }
  }
</style>
