---
import type { HTMLAttributes } from 'astro/types'
import Element from 'fulldev-ui/components/Element.astro'
import Icon from 'fulldev-ui/components/Icon.astro'
import Label from 'fulldev-ui/components/Label.astro'

interface Props extends HTMLAttributes<'input'> {
  size?: 'sm' | 'md' | 'lg' | undefined
  label?: string | undefined
}

const { label, name = label, id = name, size = 'md', ...rest } = Astro.props
---

<Label
  class:list="checkbox"
  for={id}
  {size}
>
  <Element
    class:list="checkbox-input"
    as="input"
    type="checkbox"
    show={id}
    {id}
    {name}
    {...rest}
  />
  <Icon
    class="checkbox-icon"
    name="check"
    {size}
  />
  <Fragment set:html={label} />
</Label>

<style is:global>
  @layer fulldev {
    .checkbox {
      @apply relative flex items-center gap-2;

      .checkbox-input {
        @apply size-[1em] cursor-pointer rounded-sm border border-primary bg-transparent accent-primary;
        @apply appearance-none border border-primary bg-background checked:bg-primary;
      }

      .icon.checkbox-icon {
        @apply absolute bg-transparent p-0.5 text-background;

        * {
          stroke-width: 3.5px !important;
        }
      }

      &.size-sm {
        .checkbox-input,
        .icon.checkbox-icon {
          @apply !size-3.5;
        }
      }
      &.size-md {
        .checkbox-input,
        .checkbox-icon {
          @apply !size-4;
        }
      }

      &.size-lg {
        .checkbox-input,
        .checkbox-icon {
          @apply !size-[1.125rem];
        }
      }
    }
  }
</style>
