---
import Select from './Select.astro'

// interface Props {
//   variants: any
//   title: string
//   description: string
//   slug: string
//   image: string
//   price?: number | null
// }

const { title, description, slug, image, price, variants } = Astro.props
---

{
  variants && (
    <form>
      {variants?.map((variant: any) => (
        <Select
          label={variant.name}
          options={variant.options.map((item: any) => item.value)}
        />
      ))}
    </form>
  )
}

{
  false && (
    <button
      class="fullcart-add"
      data-id={slug}
      data-price={price}
      data-title={title}
      data-description={description}
      data-image={image}
      data-quantity="1"
      data-url={Astro.url.href}
    >
      Add to cart
    </button>
  )
}
