---
import { Input as ShadcnInput } from '@/components/ui/input'
import { Label } from '@/components/ui/label'
import type { HTMLAttributes } from 'astro/types'
import Element from 'fulldev-ui/components/Element.astro'
import Icon from 'fulldev-ui/components/Icon.astro'

interface Props extends HTMLAttributes<'div'> {
  type?: 'text' | 'email' | 'tel' | 'url' | undefined
  label?: string | undefined
  placeholder?: string | undefined
  icon?: string | undefined
  value?: string | undefined
  disabled?: boolean | undefined
  readonly?: boolean | undefined
  required?: boolean | undefined
  minlength?: number | undefined
  maxlength?: number | undefined
  pattern?: string | undefined
  form?: string | undefined
  name?: string | undefined
  id?: string | undefined
}

const {
  label,
  placeholder,
  name = label || placeholder,
  id = name,
  type = 'text',
  icon,
  value,
  disabled,
  readonly,
  required,
  minlength,
  maxlength,
  pattern,
  form,
  ...rest
} = Astro.props
---

<Element
  class:list={`input`}
  {...rest}
>
  <Label htmlFor={id}>
    {label}
  </Label>
  <Icon name={icon} />
  <ShadcnInput
    {id}
    {name}
    {placeholder}
    {type}
    {value}
    {disabled}
    {required}
    {pattern}
    {form}
  />
</Element>

<style is:global>
  @layer fulldev {
    .input {
      display: flex;
      position: relative;
      flex-direction: column;

      .label {
        padding-bottom: var(--spacing-1-5);
      }

      .icon {
        position: absolute;
        pointer-events: none;
      }
    }
  }
</style>
