---
import { SEO } from "astro-seo"
import { Font } from "astro:assets"
import { getEntry } from "astro:content"

import { Button } from "@/components/ui/button"
import Block from "@/components/block.astro"

import "@/styles/global.css"

import { Icon } from "@/components/ui/icon"
import ModeToggleProvider from "@/components/ui/mode-toggle/mode-toggle-provider.astro"

type Props = {
  layout?: string
  title?: string
  description?: string
  image?: {
    src?: string
    alt?: string
  }
}

const { layout, ...props } = Astro.props

const indexLayout = await getEntry("layouts", "index")
const pageLayout = layout ? await getEntry("layouts", layout) : undefined

const {
  title,
  description,
  image,
  header,
  banner,
  sections,
  footer,
  bubble,
  head,
  body,
  css,
} = {
  ...indexLayout?.data,
  ...pageLayout?.data,
  ...props,
}

const baseUrl = Astro.site?.origin || Astro.url.origin
const pagePathname = Astro.url.pathname.endsWith("/")
  ? Astro.url.pathname
  : `${Astro.url.pathname}/`
const pageUrl = `${baseUrl}${pagePathname}`
---

<html
  class="bg-background scroll-smooth"
  lang={Astro.currentLocale}
  transition:name="root"
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="UTF-8"
      title={title}
      description={description}
      canonical={pageUrl}
      openGraph={{
        basic: {
          title: title || "",
          image: image?.src ? baseUrl + image.src : "",
          type: "website",
          url: Astro.url.href,
        },
        image: image?.src
          ? {
              url: baseUrl + image.src,
              alt: image?.alt,
            }
          : undefined,
        optional: {
          description: description,
          locale: Astro.currentLocale,
        },
      }}
    />
    <ModeToggleProvider />
    <Font cssVariable="--font-base" preload />
    <Font cssVariable="--font-heading" preload />
    <Fragment set:html={head} />
    <slot name="head" />
  </head>
  <body
    class="text-foreground bg-background font-base @container overscroll-none font-(--font-base) antialiased"
    id={Astro.url.pathname}
  >
    <Block {...header} />
    <Block {...banner} />
    <main class="@container flex flex-col">
      <slot />
      {sections?.map((section) => <Block {...section} />)}
    </main>
    <Block {...footer} />
    <Button
      class="absolute right-4 bottom-4"
      size="icon-lg"
      target="_blank"
      {...bubble}
    >
      <Icon {...bubble} />
    </Button>
    <Fragment set:html={body} />
    <style set:html={css}></style>
    <slot name="body" />
  </body>
</html>
