---
import layout from "@/data/layout.yaml"
import { Font } from "astro:assets"

import type { EntrySchema } from "@/lib/schemas"

import "@/styles/globals.css"

import { SEO } from "astro-seo"

import { Social } from "@/components/ui/social"
import { Block } from "@/components/block"

type Props = Pick<EntrySchema, "title" | "description" | "image" | "seo">

const { title, description, image, seo } = Astro.props as Props
const { banner, header, footer, name, bubble } = layout
---

<!doctype html>
<html class="layout light" lang="nl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="UTF-8"
      title={seo?.title || title}
      description={seo?.description || description}
      canonical={Astro.url.href.endsWith("/")
        ? Astro.url.href
        : Astro.url.href + "/"}
      openGraph={{
        basic: {
          title: seo?.title || title || "",
          image: Astro.url.origin + image?.src,
          type: "website",
          url: Astro.url.href,
        },
        image: {
          url: Astro.url.origin + image?.src,
          alt: image?.alt,
        },
        optional: {
          description: seo?.description || description,
          siteName: name || "",
        },
      }}
    />
    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-serif" preload />
    <Fragment set:html={seo?.head} />
  </head>
  <body
    class="text-foreground bg-background overscroll-none font-sans antialiased"
  >
    <Block client:load {...banner} />
    <Block client:load {...header} />
    <main>
      <slot />
    </main>
    <Block client:load {...footer} />
    {
      bubble && (
        <Social
          className="fixed right-4 bottom-4 p-6 *:!size-6 z-50"
          variant="default"
          href={bubble}
        />
      )
    }
    <style set:html={seo?.css}></style>
    <Fragment set:html={seo?.body} />
  </body>
</html>
