---
import type { GlobalSchema } from 'fulldev-ui/schemas/global'
import type { PageSchema } from 'fulldev-ui/schemas/page'

type Props = GlobalSchema & PageSchema

const { title, description, image, seo, code, sections, logo, company } =
  Astro.props

const url = Astro.url.href.endsWith('/') ? Astro.url.href : `${Astro.url.href}/`

// FIXME
const theme = 'light'

// const url = href ? new URL(href, Astro.url) : Astro.url
---

<!doctype html>
<html>
  <head>
    <!-- General -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>{seo?.title ?? title}</title>
    <meta
      content={seo?.description ?? description}
      name="description"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <link
      rel="canonical"
      href={url}
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="copyright"
      content={company}
    />
    <!-- OG -->
    <meta
      property="og:title"
      content={title}
    />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:image"
      content={image?.src ?? sections?.[0]?.image?.src ?? logo?.src}
    />
    <meta
      property="og:url"
      content={url}
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      name="og:site_name"
      content="IMDb"
    />

    <!-- Code -->
    <Fragment set:html={code} />
    <slot name="head" />

    <!-- Light / Dark theme -->
    <script is:inline define:vars={{ theme }}>
      function setTheme(document) {
        const value = localStorage.getItem('theme') || theme

        const isDark =
          value === 'dark' ||
          (value === 'system' &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)

        document.documentElement.classList.toggle('dark', isDark)

        document.querySelectorAll('.themer').forEach((themer) => {
          themer?.querySelectorAll('option').forEach((option) => {
            option.selected = option.value === value
          })
        })
      }

      function setOption(document) {
        const value = localStorage.getItem('theme') || theme

        document.querySelectorAll('.themer').forEach((themer) => {
          themer?.querySelectorAll('option').forEach((option) => {
            option.selected = option.value === value
          })
        })
      }

      setTheme(document)
      setOption(document)

      document.addEventListener('astro:before-swap', (event) => {
        setTheme(event.newDocument)
      })

      document.addEventListener('astro:page-load', (event) => {
        setOption(document)
      })
    </script>
  </head>
  <slot />
</html>

<style>
  @layer fulldev {
    html {
      width: 100%;
      color: var(--color-foreground);
      color-scheme: light;
      font-size: var(--text-base);
      line-height: var(--line-height-relaxed);
      font-family: var(--font-sans);
    }

    .dark {
      color-scheme: dark;
    }

    body {
      background-color: var(--color-background);
      width: 100%;
      color: var(--color-foreground);
      font-family: var(--font-sans);
    }
  }
</style>
