---
import { cn } from '@/lib/utils'
import '@/styles/global.css'
import { SEO } from 'astro-seo'
import type { HTMLAttributes } from 'astro/types'
interface Props extends HTMLAttributes<'html'> {
  company?: string | null
  title?: string | null
  description?: string | null
  image?: {
    src?: string | null
    alt?: string | null
  } | null
  canonical?: string | null
  noindex?: boolean | null
  nofollow?: boolean | null
  head?: string | null
  body?: string | null
  css?: string | null
}

const {
  lang = 'en',
  company,
  title,
  description,
  image,
  canonical,
  noindex,
  nofollow,
  head,
  body,
  css,
  class: className,
  ...rest
} = Astro.props

// TODO: shadcn theme switcher
const theme = 'light'
---

<!doctype html>
<html
  class={cn('scheme-light dark:scheme-dark h-full w-full font-sans text-base text-foreground', className)}
  {lang}
  {...rest}
>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <SEO
      charset="UTF-8"
      title={title || undefined}
      description={description || description || undefined}
      noindex={noindex || undefined}
      nofollow={nofollow || undefined}
      canonical={canonical || Astro.url.href}
      openGraph={{
        basic: {
          title: title || '',
          image: Astro.url.origin + image?.src,
          type: 'website',
          url: Astro.url.href,
        },
        image: {
          url: Astro.url.origin + image?.src,
          alt: image?.alt || title || title || company || undefined,
        },
        optional: {
          description: description || undefined,
          siteName: company || undefined,
        },
      }}
    />

    <!-- Code -->
    <Fragment set:html={head} />
    <slot name="head" />

    <!-- Light / Dark theme -->
    <script is:inline define:vars={{ theme }}>
      function setTheme(document) {
        const value = localStorage.getItem('theme') || theme

        const isDark =
          value === 'dark' || (value === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)

        document.documentElement.classList.toggle('dark', isDark)

        document.querySelectorAll('.themer').forEach((themer) => {
          themer?.querySelectorAll('option').forEach((option) => {
            option.selected = option.value === value
          })
        })
      }

      function setOption(document) {
        const value = localStorage.getItem('theme') || theme

        document.querySelectorAll('.themer').forEach((themer) => {
          themer?.querySelectorAll('option').forEach((option) => {
            option.selected = option.value === value
          })
        })
      }

      setTheme(document)
      setOption(document)

      document.addEventListener('astro:before-swap', (event) => {
        setTheme(event.newDocument)
      })

      document.addEventListener('astro:page-load', () => {
        setOption(document)
      })
    </script>
  </head>
  <body
    class="bg-background text-foreground flex min-h-full w-full flex-col justify-start font-sans text-base scheme-light dark:scheme-dark"
  >
    <slot />
    <style set:html={css}></style>
    <Fragment set:html={body} />
  </body>
</html>
