---
import { SEO } from "astro-seo"
import { Font } from "astro:assets"

import { type LayoutSchema } from "@/schemas/layout"
import Banner from "@/components/blocks/banner.astro"
import Footer from "@/components/blocks/footer.astro"
import Header from "@/components/blocks/header.astro"
import Social from "@/components/elements/social"
import Section from "@/components/section.astro"

import "@/styles/globals.css"
import "@/styles/_variables.scss"
import "@/styles/_keyframe-animations.scss"
import "@/styles/_forced-content-structure.scss"

type Props = LayoutSchema

const {
  header,
  banner,
  sections,
  footer,
  bubble,
  head,
  body,
  css,
  title,
  description,
  image,
} = Astro.props

const baseUrl = Astro.site?.origin || Astro.url.origin
const pagePathname = Astro.url.pathname.endsWith("/")
  ? Astro.url.pathname
  : `${Astro.url.pathname}/`
const pageUrl = `${baseUrl}${pagePathname}`
---

<html class="layout" lang={Astro.currentLocale}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="UTF-8"
      title={title}
      description={description}
      canonical={pageUrl}
      openGraph={{
        basic: {
          title: title || "",
          image: image?.src ? baseUrl + image.src : "",
          type: "website",
          url: Astro.url.href,
        },
        image: image?.src
          ? {
              url: baseUrl + image.src,
              alt: image?.alt,
            }
          : undefined,
        optional: {
          description: description,
          locale: Astro.currentLocale,
        },
      }}
    />
    <Font cssVariable="--font-base" preload />
    <Font cssVariable="--font-heading" preload />
    <Fragment set:html={head} />
  </head>
  <body
    class="text-foreground bg-background font-base overscroll-none antialiased"
    id={Astro.url.pathname}
  >
    {header && <Header {...header} />}
    {banner && <Banner {...banner} />}
    <main>
      <slot />
      {sections?.map((section) => <Section {...section} />)}
    </main>
    {footer && <Footer {...footer} />}
    {
      bubble && (
        <Social
          className="fixed right-4 bottom-4 p-6 *:!size-6 z-50"
          variant="default"
          {...bubble}
        />
      )
    }
    <Fragment set:html={body} />
    <style set:html={css}></style>
    <style>
      body {
        font-family: var(--font-base);

        h1,
        h2 {
          font-family: var(--font-heading);
        }
      }
    </style>
  </body>
</html>
