---
import { getImage } from "astro:assets"

import "@/styles/global.css"

import { Font } from "astro:assets"
import site from "site.json"

import type { PageSchema } from "@/lib/schemas"
import { ModeToggleProvider } from "@/components/ui/mode-toggle"
import Block from "@/components/block.astro"

type Props = PageSchema

const baseUrl = Astro.site?.origin || Astro.url.origin
const pagePathname = Astro.url.pathname.endsWith("/")
  ? Astro.url.pathname
  : `${Astro.url.pathname}/`
const pageUrl = `${baseUrl}${pagePathname}`

const { headers, sections, footers, block, meta, ...props } = Astro.props

const title = meta?.title || props?.title
const description = meta?.description || props?.description
const image = meta?.image || props?.image
const transformedImage = image?.src
  ? await getImage({
      src: image.src,
      format: "png",
      width: 1200,
      height: 630,
      quality: "medium",
    })
  : undefined
---

<html class="bg-background scroll-smooth" lang={Astro.currentLocale}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <link rel="canonical" href={meta?.canonical} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:locale" content={Astro.currentLocale} />
    <meta property="og:image" content={`${baseUrl}${transformedImage?.src}`} />
    <meta
      property="og:image:url"
      content={`${baseUrl}${transformedImage?.src}`}
    />
    <meta
      property="og:image:secure_url"
      content={`${baseUrl}${transformedImage?.src}`}
    />
    <meta
      property="og:image:type"
      content={transformedImage?.attributes.format || "image/png"}
    />
    <meta
      property="og:image:width"
      content={transformedImage?.attributes.width.toString()}
    />
    <meta
      property="og:image:height"
      content={transformedImage?.attributes.height.toString()}
    />
    <meta property="og:image:alt" content={image?.alt} />
    <meta
      name="robots"
      content={`${meta?.noindex ? "noindex" : "index"}, ${meta?.nofollow ? "nofollow" : "follow"}`}
    />
    <Fragment
      set:html={`<script type="application/ld+json">${JSON.stringify(
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          name: site.name,
          url: pageUrl,
          logo: {
            "@type": "ImageObject",
            url: `${baseUrl}${transformedImage?.src}`,
            alt: image?.alt,
            width: transformedImage?.attributes.width.toString(),
            height: transformedImage?.attributes.height.toString(),
          },
          description: description,
          headline: title,
          creator: {
            "@type": "Organization",
            name: site.name,
            url: pageUrl,
          },
        },
        null,
        2
      )}</script>`}
    />
    <ModeToggleProvider />
    <Font cssVariable="--font-base" preload />
    <Font cssVariable="--font-heading" preload />
    <slot name="head" />
  </head>
  <body
    class="text-foreground bg-background font-base @container overscroll-none antialiased"
    id={Astro.url.pathname}
  >
    {headers?.map((header) => <Block {...header} />)}
    <main class="@container flex flex-col">
      <Block
        data-cms-bind="#"
        data-cms-bind-style="sidebar"
        block={block}
        {...props}
      >
        <slot />
      </Block>
      {
        sections?.map((section, i) => (
          <div data-cms-bind={`#sections[${i}]`} data-cms-bind-style="sidebar">
            <Block {...section} />
          </div>
        ))
      }
      <slot />
    </main>
    {footers?.map((footer) => <Block {...footer} />)}
    <style>
      /* Needed for astro:fonts */
      body {
        font-family: var(--font-base);

        h1,
        h2 {
          font-family: var(--font-heading);
        }
      }
    </style>
  </body>
</html>
