---
import { Font } from "astro:assets"

import "@/styles/globals.css"

import { SEO } from "astro-seo"

import type { PageProps } from "@/lib/types"
import { Block } from "@/components/block"
import { Social } from "@/components/elements/social"

type Props = PageProps

const {
  href,
  title,
  description,
  image,
  seo,
  published,
  block,
  blocks,
  body,
  css,
  head,
  banner,
  header,
  bubble,
  footer,
  legal,
  ...data
} = Astro.props

const slot = await Astro.slots.render("default")

// Simple structured data
const baseUrl = Astro.site?.origin || ""
const currentUrl = `${baseUrl}${href}`
---

<!doctype html>
<html class="layout" lang={Astro.currentLocale}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="UTF-8"
      title={seo?.title}
      description={seo?.description}
      canonical={currentUrl}
      openGraph={{
        basic: {
          title: seo?.title || "",
          image: seo.image ? baseUrl + seo.image.src : "",
          type: "website",
          url: Astro.url.href,
        },
        image: seo.image
          ? {
              url: baseUrl + seo.image.src,
              alt: seo.image.alt,
            }
          : undefined,
        optional: {
          description: seo?.description,
          locale: Astro.currentLocale,
        },
        article: {
          publishedTime: published?.toISOString(),
        },
      }}
    />
    <Font cssVariable="--font-base" preload />
    <Font cssVariable="--font-heading" preload />
    <Fragment set:html={head} />
  </head>
  <body
    class="text-foreground bg-background font-base overscroll-none antialiased"
    id={Astro.params.page}
  >
    <Block client:load {...header} />
    <!-- <Block client:load {...banner}>
      <Fragment set:html={banner?.html} />
    </Block> -->
    <main>
      {
        block && (
          <Block
            client:load
            block={block}
            title={title}
            description={description}
            image={image}
            {...data}
          >
            <slot />
          </Block>
        )
      }
      {
        blocks?.map((block, index) => (
          <Block client:load {...block} index={index}>
            {block.html && <Fragment set:html={block.html} />}
          </Block>
        ))
      }
      {
        !block && slot.trim().length > 0 && (
          <Block client:load block={"article-1"} {...data}>
            <slot />
          </Block>
        )
      }
    </main>
    <Block client:load {...footer} />
    <Block client:load {...legal} />
    {
      bubble && (
        <Social
          className="fixed right-4 bottom-4 p-6 *:!size-6 z-50"
          variant="default"
          href={bubble}
        />
      )
    }
    <Fragment set:html={body} />
    <style set:html={css}></style>
    <style>
      body {
        font-family: var(--font-base);

        h1,
        h2 {
          font-family: var(--font-heading);
        }
      }
    </style>
  </body>
</html>
