---
import type { HTMLAttributes } from 'astro/types'
import Element from 'fulldev-ui/components/Element.astro'
import Icon from 'fulldev-ui/components/Icon.astro'
import Label from 'fulldev-ui/components/Label.astro'

interface Props extends HTMLAttributes<'select'> {
  size?: 'sm' | 'md' | 'lg' | undefined
  label?: string | undefined
  placeholder?: string | undefined
  options?: string[] | undefined
  value?: string | undefined
}

const {
  label,
  placeholder,
  name = label || placeholder,
  id = name,
  size = 'md',
  options,
  value,
  disabled,
  required,
  form,
  ...rest
} = Astro.props
---

{
  options && (
    <Label
      class:list={`select size-${size}`}
      for={id}
    >
      <Fragment set:html={label} />
      <Element
        class:list="select-select"
        as="select"
        {id}
        {name}
        {disabled}
        {required}
        {form}
        {...rest}
      >
        <Element
          class:list="select-option"
          as="option"
          value={placeholder}
          set:html={placeholder}
          disabled
          selected
        />
        {options?.map((option: any) => (
          <Element
            class:list="select-option"
            as="option"
            selected={value === option}
            set:html={option}
            value={option}
          />
        ))}
        <slot />
      </Element>
      <Icon name="chevron-down" />
    </Label>
  )
}

<style is:global>
  @layer fulldev {
    .select {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: var(--spacing-1-5);

      .icon {
        position: absolute;
        pointer-events: none;
      }

      .select-select {
        display: flex;
        appearance: none;
        border: 1px solid var(--color-input);
        border-radius: var(--radius-md);
        background-color: var(--color-background);
        padding-right: var(--spacing-10);
        width: 100%;
        font-size: var(--text-sm);

        &:focus-visible {
          outline: none;
          box-shadow: 0 0 0 2px var(--color-ring);
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        &[readonly] {
          pointer-events: none;
        }
      }

      &.size-sm {
        .select-select {
          padding-top: var(--spacing-1-5);
          padding-right: var(--spacing-9);
          padding-right: var(--spacing-9);
          padding-bottom: var(--spacing-1-5);
          padding-left: var(--spacing-2-5);
          height: var(--spacing-9);
          font-size: var(--text-xs);
        }

        .icon {
          right: var(--spacing-2);
          bottom: var(--spacing-2);
        }
      }

      &.size-md {
        .select-select {
          padding-top: var(--spacing-2-5);
          padding-right: var(--spacing-10);
          padding-bottom: var(--spacing-2-5);
          padding-left: var(--spacing-3);
          height: var(--spacing-10);
          font-size: var(--text-sm);
        }

        .icon {
          right: var(--spacing-2-5);
          bottom: var(--spacing-2-5);
        }
      }

      &.size-lg {
        .select-select {
          padding-top: var(--spacing-3-5);
          padding-right: var(--spacing-11);
          padding-bottom: var(--spacing-3-5);
          padding-left: var(--spacing-3);
          height: var(--spacing-12);
          font-size: var(--text-base);
        }

        .icon {
          right: var(--spacing-3-5);
          bottom: var(--spacing-3-5);
        }
      }
    }
  }
</style>
