---
import type { ComponentProps, HTMLAttributes } from 'astro/types'
import Element from 'fulldev-ui/components/Element.astro'
import Label from 'fulldev-ui/components/Label.astro'

interface Props extends Omit<HTMLAttributes<'input'>, 'type'> {
  label?: ComponentProps<typeof Label>['text']
  size?: 'sm' | 'md' | 'lg'
}

const { label, name = label, id = name, size = 'md', ...rest } = Astro.props
---

<Label
  class:list="switch"
  for={id}
  {size}
>
  <Element
    class:list="switch-input"
    as="input"
    type="checkbox"
    show={id}
    {id}
    {name}
    {...rest}
  />
  <Element
    as="label"
    for={id}
    show={id}
    class="switch-mark"
  />
  <Fragment set:html={label} />
</Label>

<style is:global>
  @layer fulldev {
    .switch {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);

      .switch-input {
        display: none;
        opacity: 0;
      }

      .switch-mark {
        display: block;
        position: relative;
        transition: var(--transition);
        cursor: pointer;
        border-radius: var(--radius-full);
        background-color: var(--color-input);

        &::before {
          display: block;
          transition: var(--transition);
          border: 2px solid var(--color-input);
          border-radius: var(--radius-full);
          background-color: var(--color-background);
          width: 50%;
          height: 100%;
          content: '';
        }
      }

      .switch-input:checked ~ .switch-mark {
        background-color: var(--color-primary);

        &::before {
          transform: translateX(100%);
          border-color: var(--color-primary);
        }
      }

      &.size-sm {
        .switch-mark {
          width: var(--spacing-10);
          height: var(--spacing-5);
        }
      }

      &.size-md {
        .switch-mark {
          width: var(--spacing-12);
          height: var(--spacing-6);
        }
      }

      &.size-lg {
        .switch-mark {
          width: var(--spacing-14);
          height: var(--spacing-7);
        }
      }
    }
  }
</style>
