---
import type { HTMLAttributes } from 'astro/types'
import Element from 'fulldev-ui/components/Element.astro'
import Label from 'fulldev-ui/components/Label.astro'

interface Props extends HTMLAttributes<'textarea'> {
  size?: 'sm' | 'md' | 'lg' | undefined
  label?: string | undefined
}

const {
  label,
  placeholder,
  name = label || placeholder,
  id = name,
  size = 'md',
  rows = 3,
  ...rest
} = Astro.props
---

<Label
  class:list={`textarea size-${size}`}
  for={id}
>
  <Fragment set:html={label} />
  <Element
    class:list="textarea-textarea"
    as="textarea"
    show={id}
    {id}
    {name}
    {placeholder}
    {rows}
    {...rest}
  />
</Label>

<style is:global>
  @layer textarea {
    .textarea {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: var(--spacing-1-5);

      .textarea-textarea {
        display: flex;
        border: 1px solid var(--color-input);
        border-radius: var(--radius-md);
        background-color: var(--color-background);
        width: 100%;
        resize: y;
        font-size: var(--text-sm);

        &::placeholder {
          color: var(--color-muted-foreground);
        }

        &:focus-visible {
          outline: none;
          box-shadow: 0 0 0 2px var(--color-ring);
        }

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        &[readonly] {
          pointer-events: none;
        }
      }

      &.size-sm {
        gap: var(--spacing-1);

        .textarea-textarea {
          padding-top: var(--spacing-1-5);
          padding-right: var(--spacing-2-5);
          padding-bottom: var(--spacing-1-5);
          padding-left: var(--spacing-2-5);
          min-height: var(--spacing-9);
          font-size: var(--text-xs);
        }
      }

      &.size-md {
        gap: var(--spacing-1-5);

        .textarea-textarea {
          padding-top: var(--spacing-2-5);
          padding-right: var(--spacing-2-5);
          padding-bottom: var(--spacing-2-5);
          padding-left: var(--spacing-2-5);
          min-height: var(--spacing-10);
          font-size: var(--text-sm);
        }
      }

      &.size-lg {
        gap: var(--spacing-2);

        .textarea-textarea {
          padding-top: var(--spacing-2-5);
          padding-right: var(--spacing-2-5);
          padding-bottom: var(--spacing-2-5);
          padding-left: var(--spacing-2-5);
          min-height: var(--spacing-12);
          font-size: var(--text-base);
        }
      }
    }
  }
</style>
