---
import type { HTMLAttributes } from 'astro/types'
import Element from 'fulldev-ui/components/Element.astro'
import { Label } from 'fulldev-ui/shadcn/components/label'
import { Textarea as ShadcnTextarea } from 'fulldev-ui/shadcn/components/textarea'
import type { ComponentProps } from 'react'

interface Props extends HTMLAttributes<'div'> {
  label?: string | undefined
  // input
  id?: ComponentProps<typeof ShadcnTextarea>['id']
  name?: ComponentProps<typeof ShadcnTextarea>['name']
  disabled?: ComponentProps<typeof ShadcnTextarea>['disabled']
  required?: ComponentProps<typeof ShadcnTextarea>['required']
  form?: ComponentProps<typeof ShadcnTextarea>['form']
  readonly?: ComponentProps<typeof ShadcnTextarea>['readOnly']
  minlength?: ComponentProps<typeof ShadcnTextarea>['minLength']
  maxlength?: ComponentProps<typeof ShadcnTextarea>['maxLength']
  placeholder?: ComponentProps<typeof ShadcnTextarea>['placeholder']
}

const {
  label,
  // textarea
  placeholder,
  name = label || placeholder,
  id = name,
  disabled,
  required,
  form,
  readonly,
  minlength,
  maxlength,
  ...rest
} = Astro.props
---

<Element
  class:list="textarea flex flex-col"
  {...rest}
>
  {
    label && (
      <Label
        className="pb-1.5"
        htmlFor={id}
      >
        {label}
      </Label>
    )
  }
  {
    id && (
      <ShadcnTextarea
        id={name}
        readOnly={readonly}
        minLength={minlength}
        maxLength={maxlength}
        {placeholder}
        {name}
        {disabled}
        {required}
        {form}
      />
    )
  }
</Element>
