---
import type { ComponentProps, HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import Button from 'fulldev-ui/components/Button.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'

interface Props
  extends ComponentProps<typeof Element>,
    HTMLAttributes<'aside'> {
  render?: CollectionEntry<'pages'>['render'] | undefined
}

const { size = 'sm', render } = Astro.props

const headings = render ? (await render())?.headings : []
const filteredHeadings = headings?.filter(
  (heading: any) => heading.depth >= 2 && heading.depth <= 4
)
---

<input
  id="toc"
  class="toc-checkbox"
  type="checkbox"
/>

<Element
  class:list="toc"
  as="aside"
  {size}
>
  {
    filteredHeadings?.length > 0 && (
      <>
        <Heading
          text="On this page"
          level={6}
        />
        <nav class="toc-nav">
          <Button
            variant="link"
            href={`#${filteredHeadings[0]?.slug}`}
            text="Overview"
            class="toc-link toc-link-h2"
          />
          {filteredHeadings.map((heading: any) => (
            <Button
              variant="link"
              href={`#${heading.slug}`}
              text={heading.text}
              class={`toc-link toc-link-h${heading.depth}`}
            />
          ))}
        </nav>
      </>
    )
  }
</Element>

<style lang="scss" is:global>
  @layer fulldev {
    .toc-checkbox {
      display: none;
    }

    @media (max-width: 1023.999px) {
      body:has(.toc-checkbox:checked) {
        overflow: hidden;
      }
    }

    .toc {
      --toc-width: 240px;

      display: none;
      position: fixed;
      top: var(--header-height, 0px);
      right: 0;
      flex-shrink: 0;
      flex-direction: column;
      justify-content: flex-start;
      gap: calc(var(--space-4) + var(--space-1));
      z-index: 10;
      border-left-width: 1px;
      border-style: solid;
      border-color: var(--color-a6);
      background-color: var(--color-background);
      padding: var(--space-md-6) var(--gutter);
      width: 100%;
      max-height: calc(100vh - var(--header-height, 0px));
      overflow-y: auto;

      &:is(.toc-checkbox:checked + &) {
        display: flex;
      }

      @media (min-width: 1024px) {
        display: flex;
        position: sticky;
        border-left-width: 1px;
        width: var(--toc-width);
      }

      .button + .heading {
        margin-top: var(--space-5);
      }

      .toc-nav {
        display: flex;
        flex-direction: column;
      }

      .toc-link {
        text-align: left;
      }

      .toc-link-h2 {
        margin-top: var(--space-3);
      }

      .toc-link-h3 {
        margin-top: var(--space-3);
        margin-left: var(--space-4);
      }

      .toc-link-h4 {
        margin-top: var(--space-2);
        margin-left: var(--space-5);
      }
    }
  }
</style>
