---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"
import {
  Sheet,
  SheetContent,
  SheetDescription,
  SheetHeader,
  SheetTitle,
} from "@/components/ui/sheet"

type Props = HTMLAttributes<"div"> & {
  side?: "left" | "right"
  variant?: "sidebar" | "floating" | "inset"
  collapsible?: "offcanvas" | "icon" | "none"
  dir?: "ltr" | "rtl"
}

const {
  class: className,
  side = "left",
  variant = "sidebar",
  collapsible = "offcanvas",
  dir,
  ...props
} = Astro.props
---

{
  collapsible === "none" ? (
    <div
      data-slot="sidebar"
      data-state="expanded"
      data-collapsible="none"
      data-variant={variant}
      data-side={side}
      data-sidebar-collapsible="none"
      dir={dir}
      class={cn(
        "bg-sidebar text-sidebar-foreground flex h-full w-(--sidebar-width) flex-col",
        className
      )}
      {...props}
    >
      <slot />
    </div>
  ) : (
    <>
      <Sheet data-sidebar="sheet" defaultOpen={false}>
        <SheetContent
          dir={dir}
          side={side}
          showCloseButton={false}
          data-sidebar="sidebar"
          data-slot="sidebar"
          data-mobile="true"
          style="--sidebar-width: var(--sidebar-width-mobile);"
          class={cn(
            "bg-sidebar text-sidebar-foreground w-(--sidebar-width) p-0 md:hidden",
            className
          )}
        >
          <SheetHeader class="sr-only">
            <SheetTitle>Sidebar</SheetTitle>
            <SheetDescription>Displays the mobile sidebar.</SheetDescription>
          </SheetHeader>
          <div class="flex h-full w-full flex-col">
            <slot />
          </div>
        </SheetContent>
      </Sheet>

      <div
        data-slot="sidebar"
        data-state="expanded"
        data-collapsible=""
        data-variant={variant}
        data-side={side}
        data-sidebar-collapsible={collapsible}
        dir={dir}
        class="group peer text-sidebar-foreground hidden md:block"
      >
        <div
          data-slot="sidebar-gap"
          class={cn(
            "relative w-(--sidebar-width) bg-transparent transition-[width] duration-200 ease-linear",
            "group-data-[collapsible=offcanvas]:w-0",
            "group-data-[side=right]:rotate-180",
            variant === "floating" || variant === "inset"
              ? "group-data-[collapsible=icon]:w-[calc(var(--sidebar-width-icon)+(--spacing(4)))]"
              : "group-data-[collapsible=icon]:w-(--sidebar-width-icon)"
          )}
        />
        <div
          data-slot="sidebar-container"
          data-side={side}
          dir={dir}
          class={cn(
            "fixed inset-y-0 z-10 hidden h-svh w-(--sidebar-width) transition-[left,right,width] duration-200 ease-linear data-[side=left]:left-0 data-[side=left]:group-data-[collapsible=offcanvas]:left-[calc(var(--sidebar-width)*-1)] data-[side=right]:right-0 data-[side=right]:group-data-[collapsible=offcanvas]:right-[calc(var(--sidebar-width)*-1)] md:flex",
            variant === "floating" || variant === "inset"
              ? "p-2 group-data-[collapsible=icon]:w-[calc(var(--sidebar-width-icon)+(--spacing(4))+2px)]"
              : "group-data-[collapsible=icon]:w-(--sidebar-width-icon) group-data-[side=left]:border-r group-data-[side=right]:border-l",
            className
          )}
          {...props}
        >
          <div
            data-sidebar="sidebar"
            data-slot="sidebar-inner"
            class="bg-sidebar group-data-[variant=floating]:ring-sidebar-border flex size-full flex-col group-data-[variant=floating]:rounded-lg group-data-[variant=floating]:shadow-sm group-data-[variant=floating]:ring-1"
          >
            <slot />
          </div>
        </div>
      </div>
    </>
  )
}
