---
import { Select } from '../select'

interface Base {
  variants: any
  heading: string
  description: string
  slug: string
  image: string
  price: number
}

const { heading, description, slug, image, price, variants, ...restProps } =
  Astro.props
---

{
  variants && (
    <form>
      {variants?.map((variant: any) => (
        <Select
          label={variant.name}
          options={variant.options.map((item: any) => item.value)}
        />
      ))}
    </form>
  )
}

{
  false && (
    <button
      class="fullcart-add"
      data-id={slug}
      data-price={price}
      data-title={heading}
      data-description={description}
      data-image={image}
      data-quantity="1"
      data-url={Astro.url.href}
    >
      Add to cart
    </button>
  )
}
