---
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Matrix from 'fulldev-ui/components/Matrix.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'

interface Props extends BlockSchema {}

const { tagline, heading, paragraph, cards } = Astro.props
---

<Section class="colleagues-1">
  <Container>
    <Prose align="center">
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="3xl"
        text={heading}
      />
      <Paragraph text={paragraph} />
    </Prose>
    <Matrix>
      {
        cards?.map(({ image, heading, paragraph }) => (
          <Element class="colleagues-card">
            <Image {...image} />
            <Heading
              as="h3"
              size="xl"
              text={heading}
            />
            <Paragraph text={paragraph} />
          </Element>
        ))
      }
    </Matrix>
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-16);
    }

    .matrix {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: var(--spacing-8);

      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .image {
      margin-bottom: var(--spacing-4);
      border-radius: var(--radius-full);
      aspect-ratio: 1 / 1;
      width: 66.666667%;
      object-fit: cover;
    }
  }
</style>
