---
import Heading from 'fulldev-ui/components/Heading.astro'
import Menus from 'fulldev-ui/components/Menus.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Toc from 'fulldev-ui/components/Toc.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Sidebar from 'fulldev-ui/structures/Sidebar.astro'

interface Props extends BlockSchema {}

const { depth, heading, paragraph, content, menus, headings } = Astro.props
---

<Section>
  <Container>
    <Sidebar>
      <Menus
        size="sm"
        {menus}
      />
    </Sidebar>
    <Prose>
      <Heading
        size="3xl"
        text={heading}
      />
      <Paragraph
        muted
        text={paragraph}
      />
      <Fragment set:html={content} />
      <slot />
    </Prose>
    <Sidebar>
      <Toc
        size="sm"
        {heading}
        {headings}
      />
    </Sidebar>
  </Container>
</Section>

<style>
  @layer fulldev {
    .section {
      padding-top: 0;
      padding-bottom: 0;
    }

    .prose,
    .sidebar {
      padding-top: var(--spacing-8);
      padding-bottom: var(--spacing-8);
    }

    .container {
      display: flex;
      column-gap: var(--gutter);
      justify-content: space-between;
      align-items: flex-start;
    }
  }
</style>
