---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {}

const { tagline, heading, paragraph, content, buttons, image } = Astro.props
---

<Section class="intro-1">
  <Container>
    <Prose>
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="3xl"
        text={heading}
      />
      <Paragraph text={paragraph} />
      <Fragment set:html={content} />
      <Buttons
        size="sm"
        {buttons}
      />
    </Prose>
  </Container>
  <Image {...image} />
</Section>

<style>
  @layer fulldev {
    .intro-1 {
      border-bottom: 1px solid var(--color-border);
      padding-top: var(--spacing-8);
      padding-bottom: var(--spacing-8);
    }

    .image {
      border-radius: var(--radius-lg);
    }
  }
</style>
