---
// Heading etc left, image and content right, sticky
import Badges from 'fulldev-ui/components/Badges.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Split from 'fulldev-ui/components/Split.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'

interface Props extends BlockSchema {}

const { tagline, heading, paragraph, buttons, content, cards } = Astro.props
---

<Section class="pages-1">
  <Container>
    <Split align="sticky">
      <Prose>
        <Tagline text={tagline} />
        <Heading
          as="h2"
          size="4xl"
          text={heading}
        />
        <Paragraph
          muted
          size="lg"
          text={paragraph}
        />
        <Fragment set:html={content} />
        <Buttons
          variant="secondary"
          {buttons}
        />
      </Prose>
      <Element class="column">
        {
          cards?.map(({ href, image, badges, heading, paragraph }) => (
            <Element
              as="a"
              class="item"
              {href}
            >
              <Image {...image} />
              <Badges
                size="sm"
                {badges}
              />
              <Heading
                as="h3"
                size="xl"
                text={heading}
              />
              <Paragraph text={paragraph} />
            </Element>
          ))
        }
      </Element>
    </Split>
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-8);
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);
    }

    .image {
      margin-bottom: var(--spacing-4);
    }
  }
</style>
