---
import Abstract from '@/components/Abstract.astro'
import Button from '@/components/Button.astro'
import Card from '@/components/Card.astro'
import Container from '@/components/Container.astro'
import Element from '@/components/Element.astro'
import Grid from '@/components/Grid.astro'
import Image from '@/components/Image.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { ComponentProps } from 'astro/types'

interface Props {
  title?: string | undefined
  description?: string | undefined
  content?: string | undefined
  button?: ComponentProps<typeof Button> | undefined
  categories?: {
    href?: string | undefined
    image?: ComponentProps<typeof Image>[] | undefined
    title?: string | undefined
    description?: string | undefined
    content?: string | undefined
  }[]
}

const { title, description, content, button, categories } = Astro.props
---

<Section class="categories categories-1">
  <Container class="flex flex-col gap-8">
    <Element class="flex w-full items-center justify-between gap-8">
      <Writeup size="sm">
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Fragment set:html={content} />
        <slot />
      </Writeup>
      <Button
        class="!hidden lg:!flex"
        variant="link"
        {...button}
      />
    </Element>
    <Grid class="gap-4">
      {
        categories?.map(({ href, image, title, content }) => (
          <Card
            {href}
            class="group flex flex-col gap-3"
          >
            <Image
              class="aspect-square rounded-lg transition-opacity group-hover:opacity-75"
              {...image}
            />
            <Abstract class="spread">
              <Element as="h3">{title}</Element>
              <Fragment set:html={content} />
            </Abstract>
          </Card>
        ))
      }
    </Grid>
    <Button
      class="lg:hidden"
      variant="secondary"
      {...button}
    />
  </Container>
</Section>
