---
import type { ComponentProps } from 'astro/types'
import Card from 'fulldev-ui/components/Card.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Stack from 'fulldev-ui/components/Stack.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'

interface Props extends ComponentProps<typeof Section>, BlockSchema {}

const { tagline, heading, paragraph, cards, ...rest } = Astro.props
---

<Section
  class:list="colleagues-1"
  {...rest}
>
  <Container>
    <Writeup align="center">
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="3xl"
        text={heading}
      />
      <Paragraph text={paragraph} />
    </Writeup>
    <Stack>
      {
        cards?.map(({ image, heading, paragraph }) => (
          <Card>
            <Image {...image} />
            <Writeup align="center">
              <Heading
                as="h3"
                size="xl"
                text={heading}
              />
              <Paragraph text={paragraph} />
            </Writeup>
          </Card>
        ))
      }
    </Stack>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .colleagues-1 {
      .container {
        @apply flex flex-col items-center gap-16;
      }

      .card {
        @apply mt-20 flex flex-col items-center gap-1 pt-0;
      }

      .image {
        @apply -mt-20 mb-4 aspect-square max-w-40 rounded-full object-cover;
      }

      .icon {
        @apply text-primary;
      }
    }
  }
</style>
