---
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Matrix from 'fulldev-ui/structures/Matrix.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends BlockSchema {}

const { depth = 2, tagline, heading, paragraph, cards, ...rest } = Astro.props
---

<Section
  class:list="colleagues-1"
  {...rest}
>
  <Container>
    <Writeup align="center">
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="3xl"
        text={heading}
        {depth}
      />
      <Paragraph text={paragraph} />
    </Writeup>
    <Matrix>
      {
        cards?.map(({ image, heading, paragraph }) => (
          <Element class:list="colleagues-card">
            <Image {...image} />
            <Heading
              depth={(depth + 1) as 3}
              as="h3"
              size="xl"
              text={heading}
            />
            <Paragraph text={paragraph} />
          </Element>
        ))
      }
    </Matrix>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .colleagues-1 {
      .container {
        @apply flex flex-col items-center gap-16;
      }

      .colleagues-cards {
        @apply grid grid-cols-1 gap-8 lg:grid-cols-3;
      }

      .colleagues-card {
        @apply flex flex-col items-center text-center;
      }

      .image {
        @apply mb-4 aspect-square w-2/3 rounded-full object-cover;
      }
    }
  }
</style>
