---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import List from 'fulldev-ui/components/List.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Split from 'fulldev-ui/components/Split.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'

interface Props extends BlockSchema {}

const { size = 'md', title, description, list, buttons, image } = Astro.props
---

<Section class:list={`content content-3 size-${size}`}>
  <Container>
    <Split align="sticky">
      <Prose {size}>
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <List items={list} />
        <Buttons {buttons} />
      </Prose>
      <Prose>
        <Image {...image} />
        <slot />
        <Buttons
          class="end"
          {size}
          {buttons}
        />
      </Prose>
    </Split>
  </Container>
</Section>

<style>
  @layer fulldev {
    .buttons.end {
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
</style>
