---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block.ts'
import Column from 'fulldev-ui/structures/Column.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {}

const { depth, tagline, heading, paragraph, buttons, image, content } =
  Astro.props
---

<Section class="content-1">
  <Container>
    <Column align="center">
      <Prose>
        <Tagline text={tagline} />
        <Heading
          size="5xl"
          text={heading}
          {depth}
        />
        <Paragraph
          muted
          size="lg"
          text={paragraph}
        />
        <Image {...image} />
        <Fragment set:html={content} />
        <slot />
        <Buttons {buttons} />
      </Prose>
    </Column>
  </Container>
</Section>
