---
import Button from 'fulldev-ui/components/Button.astro'
import Column from 'fulldev-ui/components/Column.astro'
import Channel from 'fulldev-ui/components/experimental/Channel.astro'
import Form from 'fulldev-ui/components/experimental/Form.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Input from 'fulldev-ui/components/Input.astro'
import Row from 'fulldev-ui/components/Row.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Text from 'fulldev-ui/components/Text.astro'
import Textarea from 'fulldev-ui/components/Textarea.astro'

const {
  heading,
  text,
  tagline,
  googleMaps,
  buttons,
  channels,
  socials,
  position,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list={'contact'}
  structure="split"
  {...rest}
>
  <Column>
    <Tagline text={tagline} />
    <Heading
      level={1}
      text={heading}
    />
    <Text text={text} />
    <Row>
      {buttons?.map((button: any) => <Button {...button} />)}
    </Row>
    <Column>
      <Channel
        if={channels?.phone}
        icon="phone"
        heading="Telefoon"
        text={channels?.phone}
        href={`tel:${channels?.phone}`}
      />
      <Channel
        if={channels?.email}
        icon="mail"
        heading="Email"
        text={channels?.email}
        href={`mailto:${channels?.email}`}
      />
      {
        channels?.address && (
          <Channel
            if={channels?.address}
            icon="pin"
            heading="Adres"
            text={channels?.address}
          />
        )
      }
    </Column>
    {
      socials && (
        <Row size="sm">
          {socials?.facebook && (
            <Button
              href={socials?.facebook}
              variant="secondary"
              icon="brand-facebook"
            />
          )}
          {socials?.instagram && (
            <Button
              href={socials?.instagram}
              variant="secondary"
              href={socials?.instagram}
              icon="brand-instagram"
            />
          )}
        </Row>
      )
    }

    <Form
      action="/bedankt"
      method="POST"
    >
      <Input
        label="Naam"
        id="Naam"
        name="Naam"
        type="text"
        required
      />
      <Input
        label="Email"
        id="Email"
        name="Email"
        type="email"
        required
      />
      <Input
        label="Telefoon"
        id="Telefoon"
        name="Telefoon"
        type="tel"
        required
      />
      <Textarea
        label="Bericht"
        id="Bericht"
        name="Bericht"
      />
      <Button
        as="button"
        type="submit"
        color="brand"
        text="Verstuur bericht"
      />
    </Form>
  </Column>

  <!-- <iframe
    src={googleMaps}
    width="100%"
    height="450"
    style="border:0; margin-top: var(--space-6);"
    allowfullscreen="false"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe> -->
  <Image
    {position}
    src={image}
  />
</Section>

<style is:global lang="scss">
  @layer fulldev {
    .contact {
      .channel + .channel {
        margin-top: var(--space-3) !important;
      }
    }
  }
</style>
