---
import Channels from 'fulldev-ui/components/Channels.astro'
import Form from 'fulldev-ui/components/Form.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Socials from 'fulldev-ui/components/Socials.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Split from 'fulldev-ui/structures/Split.astro'

interface Props extends BlockSchema {}

const {
  depth = 2,
  tagline,
  heading,
  paragraph,
  channels,
  socials,
  form,
  image,
} = Astro.props
---

<Section class="contact-2">
  <Container>
    <Split>
      <Prose>
        <Tagline text={tagline} />
        <Heading
          size="4xl"
          text={heading}
          {depth}
        />
        <Paragraph
          muted
          size="lg"
          text={paragraph}
        />
        <Channels {channels} />
        <Socials
          variant="secondary"
          {socials}
        />
        <Form {...form} />
      </Prose>
    </Split>
  </Container>
  <Image {...image} />
</Section>

<style>
  @layer fulldev {
    .section {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      gap: var(--spacer);

      @media (min-width: 1024px) {
        flex-direction: row;
      }
    }

    .container {
      display: flex;
    }

    .image {
      @media (min-width: 1024px) {
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100% - var(--gutter)) / 2);
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>
