---
import type { ComponentProps } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props {
  depth?: 1 | 2 | undefined
  tagline?: string | undefined
  heading?: string | undefined
  paragraph?: string | undefined
  content?: string | undefined
  image?: ComponentProps<typeof Image> | undefined
  buttons?: ComponentProps<typeof Buttons>['buttons']
}

const {
  depth = 2,
  tagline,
  heading,
  paragraph,
  buttons,
  image,
  content,
} = Astro.props
---

<Section class="content-5">
  <Container class="flex flex-col items-start gap-8">
    <Prose class="ml-0">
      <Tagline text={tagline} />
      <Heading
        size="5xl"
        text={heading}
        {depth}
      />
      <Paragraph
        muted
        size="lg"
        text={paragraph}
      />
    </Prose>
    <Prose class="max-w-none break-inside-avoid gap-x-gutter lg:columns-2">
      <Fragment set:html={content} />
      <slot />
    </Prose>
    <Group>
      <Buttons {buttons} />
    </Group>
    <Image {...image} />
  </Container>
</Section>
