---
// Content in 2 columns
import type { ComponentProps } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends ComponentProps<typeof Section> {
  tagline?: string | undefined
  heading?: string | undefined
  paragraph?: string | undefined
  content?: string | undefined
  image?: ComponentProps<typeof Image> | undefined
  buttons?: ComponentProps<typeof Buttons>['buttons']
}

const { tagline, heading, paragraph, buttons, image, content, ...rest } =
  Astro.props
---

<Section
  class:list="content-5"
  {...rest}
>
  <Container>
    <Prose>
      <Tagline text={tagline} />
      <Heading
        as="h2"
        size="5xl"
        text={heading}
      />
      <Paragraph
        muted
        size="lg"
        text={paragraph}
      />
    </Prose>
    <Prose class:list="content-5-main">
      <Fragment set:html={content} />
      <slot />
    </Prose>
    <Group>
      <Buttons {buttons} />
    </Group>
    <Image {...image} />
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .content-5 {
      .container {
        @apply flex flex-col items-start gap-8;
      }

      .content-5-main {
        @apply max-w-none break-inside-avoid gap-x-gutter lg:columns-2;
      }

      .image {
        @apply rounded-md;
      }
    }
  }
</style>
