---
import Button from 'fulldev-ui/components/Button.astro'
import Channels from 'fulldev-ui/components/Channels.astro'
import Fields from 'fulldev-ui/components/Fields.astro'
import Form from 'fulldev-ui/components/Form.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Socials from 'fulldev-ui/components/Socials.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {}

const {
  depth = 2,
  tagline,
  heading,
  paragraph,
  content,
  channels,
  socials,
  form,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list="contact-1"
  {...rest}
>
  <Container>
    <Prose
      align="middle"
      class="max-w-xl"
    >
      <Tagline text={tagline} />
      <Heading
        size="4xl"
        text={heading}
        {depth}
      />
      <Paragraph
        muted
        size="lg"
        text={paragraph}
      />
      <Fragment set:html={content} />
      <Channels {channels} />
      <Group>
        <Socials {socials} />
      </Group>
      <Form
        action="/thank-you"
        method="POST"
      >
        <Fields fields={form?.fields} />
        <Button
          type="submit"
          text={form?.submit}
        />
      </Form>
      <Image {...image} />
    </Prose>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .contact-1 {
      @apply relative w-full;

      .container {
        @apply flex flex-col gap-16;
      }

      .contact-1-segment {
        @apply flex flex-col items-start gap-8;
      }

      .contact-1-content {
        @apply flex max-w-screen-md flex-col gap-4;
      }

      .image {
        @apply rounded-md;
      }
    }
  }
</style>
