---
import Box from '@/components/Box.astro'
import Button from '@/components/Button.astro'
import Container from '@/components/Container.astro'
import Form from '@/components/Form.astro'
import Heading from '@/components/Heading.astro'
import Section from '@/components/Section.astro'
import Split from '@/components/Split.astro'
import Writeup from '@/components/Writeup.astro'
import type { ComponentProps } from 'astro/types'

interface Props {
  channels?: {
    href?: string
    icon?: string
    title?: string
    description?: string
  }[]
  form?: ComponentProps<typeof Form>
}

const { channels, form } = Astro.props
---

<Section class="contact contact-2">
  <Container>
    <Split>
      <Box>
        <Writeup>
          <slot />
        </Writeup>
        <Box class="flex flex-col items-start gap-4">
          {
            channels?.map(({ href, icon, title, description }) => (
              <Box class="flex flex-col gap-4">
                <Button
                  size="icon"
                  variant="secondary"
                  {icon}
                  {href}
                />
                <Heading as="h3">{title}</Heading>
                <Box
                  class="text-muted-foreground hover:text-foreground transition-colors"
                  {href}
                >
                  {description}
                </Box>
              </Box>
            ))
          }
        </Box>
      </Box>
    </Split>
    <Form {...form} />
  </Container>
</Section>
