---
import Channels from 'fulldev-ui/components/Channels.astro'
import Form from 'fulldev-ui/components/Form.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Socials from 'fulldev-ui/components/Socials.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Split from 'fulldev-ui/structures/Split.astro'

interface Props extends BlockSchema {}

const {
  depth = 2,
  tagline,
  heading,
  paragraph,
  content,
  channels,
  socials,
  form,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list="contact-2"
  {...rest}
>
  <Container>
    <Split>
      <Prose align="middle">
        <Tagline text={tagline} />
        <Heading
          size="4xl"
          text={heading}
          {depth}
        />
        <Paragraph
          muted
          size="lg"
          text={paragraph}
        />
        <Fragment set:html={content} />
        <Channels {channels} />
        <Group>
          <Socials {socials} />
        </Group>
        <Form
          action="/thank-you"
          method="POST"
          {...form}
        />
      </Prose>
      <Image {...image} />
    </Split>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .contact-2 {
      position: relative;
      width: 100%;

      .container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-16);
      }

      .prose {
        max-width: var(--container-xl);
      }

      .contact-2-segment {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--spacing-8);
      }

      .contact-2-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
        max-width: var(--breakpoint-md);
      }

      .image {
        border-radius: var(--radius-md);
      }
    }
  }
</style>
