---
import Abstract from '@/components/Abstract.astro'
import Box from '@/components/Box.astro'
import Button from '@/components/Button.astro'
import Card from '@/components/Card.astro'
import Container from '@/components/Container.astro'
import Form from '@/components/Form.astro'
import Section from '@/components/Section.astro'
import Socials from '@/components/Socials.astro'
import Split from '@/components/Split.astro'
import Writeup from '@/components/Writeup.astro'
import type { ContactSchema } from '@/schemas/models/contact'

interface Props extends ContactSchema {}

const { writeup, channels, socials, form } = Astro.props
---

<Section class="contact contact-2">
  <Container>
    <Split>
      <Writeup markdown={writeup}>
        <slot />
        <Box class="flex flex-col items-start">
          {
            channels?.map(({ href, icon, title, description }) => (
              <Box class="flex flex-col items-center gap-4 text-center">
                <Abstract
                  class="items-center text-center"
                  size="lg"
                >
                  <Button
                    size="icon"
                    variant="secondary"
                    {icon}
                    {href}
                  />
                  <Box as="h3">{title}</Box>
                  <Box
                    class="text-muted-foreground hover:text-foreground transition-colors"
                    {href}
                  >
                    {description}
                  </Box>
                </Abstract>
              </Box>
            ))
          }
        </Box>
        <Socials {socials} />
      </Writeup>
      <Card>
        <Form {...form} />
      </Card>
    </Split>
  </Container>
</Section>
