---
import Channels from 'fulldev-ui/components/Channels.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Form from 'fulldev-ui/components/Form.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Socials from 'fulldev-ui/components/Socials.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {}

const { title, description, content, channels, socials, form, image } =
  Astro.props

console.log(Astro.props)
---

<Section class="contact-1">
  <Container>
    <Prose>
      <Element as="h1">{title}</Element>
      <Element as="p">{description}</Element>
      <Fragment set:html={content} />
      <Channels {channels} />
      <Socials
        variant="secondary"
        {socials}
      />
      <Form {...form} />
      <Image {...image} />
    </Prose>
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-16);
    }

    .prose {
      margin-right: auto;
      margin-left: auto;
      max-width: var(--container-xl);
    }
  }
</style>
