---
import type { ComponentProps } from 'astro/types'
import Badges from 'fulldev-ui/components/Badges.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import List from 'fulldev-ui/components/List.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Toc from 'fulldev-ui/components/Toc.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends ComponentProps<typeof Section>, BlockSchema {
  headings?: ComponentProps<typeof Toc>['headings']
}

const {
  tagline,
  badge,
  badges,
  heading,
  paragraph,
  list,
  button,
  buttons,
  image,
  content,
  headings,
  ...rest
} = Astro.props
---

<Section
  class:list="content-1"
  {...rest}
>
  <Container>
    <Prose>
      <Group>
        <Badges
          {badges}
          {badge}
        />
      </Group>
      <Tagline text={tagline} />
      <Heading
        size="4xl"
        text={heading}
      />
      <Paragraph
        muted
        size="lg"
        text={paragraph}
      />
      <List items={list} />
      <Image {...image} />
      <Fragment set:html={content} />
      <slot />
      <Group>
        <Buttons
          {buttons}
          {button}
        />
      </Group>
    </Prose>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .content-1 {
      .container {
        @apply flex items-start justify-evenly gap-x-gutter;
      }
    }
  }
</style>
