---
import {
  Badge,
  Box,
  Button,
  Column,
  Heading,
  Label,
  Rating,
  Section,
  Text,
  Wrap,
} from 'fulldev-ui'
import Image from '../components/Image.astro'

const {
  structure = 'split',
  align = 'center',
  size,
  level,
  badge,
  position,
  tagline,
  rating,
  html,
  review,
  heading,
  title,
  label,
  description,
  text,
  buttons,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list={'content'}
  structure={structure === 'split' ? 'split' : 'column'}
  {size}
  {align}
  {...rest}
>
  <Box
    structure={structure === 'spread' ? 'spread' : 'column'}
    align={structure === 'split' ? 'start' : align}
  >
    <Column align={structure === 'column' ? align : 'start'}>
      <Rating value={rating} />
      <Badge
        radius="full"
        size="md"
        {...typeof badge === 'string' ? { html: badge } : badge}
      />
      <Label
        color="brand"
        html={label}
      />
      <Heading
        color="base"
        {level}
        html={heading || title}
      />
      <Text
        color="base"
        contrast={position === 'background' && true}
        html={html || text || description}
      />
    </Column>
    <Wrap>
      {
        buttons?.map((button: any, i: number) => (
          <Button
            color="brand"
            variant={i > 0 ? 'soft' : 'solid'}
            {...button}
          />
        ))
      }
    </Wrap>
  </Box>
  <Image
    {position}
    src={image}
  />
</Section>
