---
import Channels from 'fulldev-ui/components/Channels.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Form from 'fulldev-ui/components/Form.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Socials from 'fulldev-ui/components/Socials.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Split from 'fulldev-ui/structures/Split.astro'

interface Props extends BlockSchema {}

const { title, description, content, channels, socials, form, image } =
  Astro.props
---

<Section class="contact-2">
  <Container>
    <Split>
      <Prose>
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Fragment set:html={content} />
        <Channels {channels} />
        <Socials
          variant="secondary"
          {socials}
        />
        <Form {...form} />
      </Prose>
    </Split>
  </Container>
  <Image {...image} />
</Section>

<style>
  @layer fulldev {
    .section {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      gap: var(--spacer);

      @media (min-width: 1024px) {
        flex-direction: row;
      }
    }

    .image {
      @media (min-width: 1024px) {
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100% - var(--gutter)) / 2);
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>
