---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import List from 'fulldev-ui/components/List.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {}

const { size = 'md', title, description, list, buttons, image } = Astro.props
---

<Section class:list={`content content-1 size-${size}`}>
  <Container>
    <Prose {size}>
      <Element as="h1">{title}</Element>
      <Element as="p">{description}</Element>
      <List items={list} />
      <Image {...image} />
      <slot />
      <Buttons
        {size}
        {buttons}
      />
    </Prose>
  </Container>
</Section>

<style>
  .prose {
    margin-right: auto;
    margin-left: auto;
  }
</style>
