---
import type { ComponentProps } from 'astro/types'
import Badges from 'fulldev-ui/components/Badges.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import List from 'fulldev-ui/components/List.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends ComponentProps<typeof Section>, BlockSchema {}

const {
  badge,
  badges,
  heading,
  paragraph,
  list,
  button,
  buttons,
  content,
  ...rest
} = Astro.props
---

<Section
  class:list="content-3"
  {...rest}
>
  <Container>
    <Writeup>
      <Group>
        <Badges
          size="sm"
          {badge}
          {badges}
        />
      </Group>
      <Heading
        as="h1"
        size="4xl"
        text={heading}
      />
      <Paragraph
        size="lg"
        muted
        text={paragraph}
      />
      <List items={list} />
      <Group>
        <Buttons
          {button}
          {buttons}
        />
      </Group>
    </Writeup>
    <Prose>
      <Fragment set:html={content} />
      <slot />
    </Prose>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .content-3 {
      .container {
        @apply flex flex-col items-start gap-x-gutter lg:grid lg:grid-cols-2;
      }

      .writeup {
        @apply lg:sticky lg:top-sticky-16 lg:max-w-xl;
      }
    }
  }
</style>
