---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import List from 'fulldev-ui/components/List.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Sidebar from 'fulldev-ui/components/Sidebar.astro'
import Toc from 'fulldev-ui/components/Toc.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/components/block'

interface Props extends BlockSchema {
  headings?: any
}

const {
  size = 'md',
  title,
  description,
  list,
  headings,
  buttons,
  image,
} = Astro.props
---

<Section class:list={`content content-2 size-${size}`}>
  <Container>
    <Prose {size}>
      <Element as="h1">{title}</Element>
      <Element as="p">{description}</Element>
      <List items={list} />
      <Image {...image} />
      <slot />
      <Buttons
        {size}
        {buttons}
      />
    </Prose>
    <Sidebar>
      <Toc
        size="sm"
        heading={title}
        {headings}
      />
    </Sidebar>
  </Container>
</Section>

<style>
  @layer fulldev {
    .section {
      padding-top: 0;
      padding-bottom: 0;
    }

    .prose {
      margin-right: auto;
      margin-left: auto;
    }

    .prose,
    .sidebar {
      position: sticky;
      top: var(--header-height, 0px);
      padding-top: var(--spacer);
      padding-bottom: var(--spacer);
    }

    .container {
      display: flex;
      column-gap: var(--gutter);
      justify-content: space-between;
      align-items: flex-start;
    }
  }
</style>
