---
import type { ComponentProps } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Group from 'fulldev-ui/components/Group.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Panel from 'fulldev-ui/components/Panel.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'

interface Props extends ComponentProps<typeof Section>, BlockSchema {}

const {
  tagline,
  heading,
  paragraph,
  content,
  button,
  buttons,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list="cta-1"
  {...rest}
>
  <Container>
    <Panel>
      <Writeup align="center">
        <Tagline text={tagline} />
        <Heading
          size="4xl"
          as="h2"
          text={heading}
        />
        <Paragraph
          size="lg"
          text={paragraph}
        />
        <Fragment set:html={content} />
        <Group>
          <Buttons
            variant="primary"
            size="lg"
            {button}
            {buttons}
          />
        </Group>
      </Writeup>
      <Image {...image} />
    </Panel>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .cta-1 {
      .text {
        @apply text-pretty;
      }

      .image {
        @apply rounded-lg;
      }
    }
  }
</style>
