---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Panel from 'fulldev-ui/structures/Panel.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Split from 'fulldev-ui/structures/Split.astro'

interface Props extends BlockSchema {}

const { depth, tagline, heading, paragraph, buttons, image, content } =
  Astro.props
---

<Section class="cta-2">
  <Container>
    <Panel class="p-0">
      <Split align="center">
        <Prose>
          <Tagline text={tagline} />
          <Heading
            size="4xl"
            text={heading}
            {depth}
          />
          <Paragraph
            size="lg"
            text={paragraph}
          />
          <Fragment set:html={content} />
          <slot />
          <Group>
            <Buttons
              size="lg"
              {buttons}
            />
          </Group>
        </Prose>
        <Image {...image} />
      </Split>
    </Panel>
  </Container>
</Section>

<style>
  @layer fulldev {
    .panel {
      padding: 0px;
    }

    .prose {
      padding-right: var(--spacing-4);
      padding-left: var(--spacing-4);

      @media (min-width: 640px) {
        padding-right: var(--spacing-8);
        padding-left: var(--spacing-8);
      }

      @media (min-width: 1024px) {
        padding-right: var(--spacing-16);
        padding-left: var(--spacing-16);
      }
    }
  }
</style>
