---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Panel from 'fulldev-ui/structures/Panel.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Spread from 'fulldev-ui/structures/Spread.astro'

interface Props extends BlockSchema {}

const {
  size = 'lg',
  align = 'center',
  content,
  title,
  description,
  buttons,
  image,
} = Astro.props
---

<Section class:list={`cta cta-3 size-${size} align-${align}`}>
  <Container>
    <Panel>
      <Spread {align}>
        <Prose {size}>
          <Element as="h1">{title}</Element>
          <Element as="p">{description}</Element>
          <Fragment set:html={content} />
          <slot />
        </Prose>
        <Buttons
          {size}
          {buttons}
        />
      </Spread>
      <Image {...image} />
    </Panel>
  </Container>
</Section>

<style>
  @layer fulldev {
    .panel {
      display: flex;
      flex-direction: column;
      gap: var(--spacer);
      padding-top: var(--spacer);
      padding-right: var(--gutter);
      padding-bottom: var(--spacer);
      padding-left: var(--gutter);
    }

    .image {
      border-radius: var(--radius-lg);
    }
  }
</style>
