---
import type { ComponentProps } from 'astro/types'
import Cta from 'fulldev-ui/blocks/Cta.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Panel from 'fulldev-ui/structures/Panel.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Spread from 'fulldev-ui/structures/Spread.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends ComponentProps<typeof Cta> {}

const {
  align = 'center',
  depth = 2,
  tagline,
  heading,
  paragraph,
  content,
  buttons,
  image,
  ...rest
} = Astro.props
---

<Section {...rest}>
  <Container>
    <Panel>
      <Spread {align}>
        <Writeup>
          <Tagline text={tagline} />
          <Heading
            size="5xl"
            as="h2"
            text={heading}
            {depth}
          />
          <Paragraph
            size="lg"
            text={paragraph}
          />
          <Fragment set:html={content} />
        </Writeup>
        <Buttons
          variant="primary"
          size="lg"
          {buttons}
        />
      </Spread>
      <Image {...image} />
    </Panel>
  </Container>
</Section>

<style>
  @layer fulldev {
    .panel {
      display: flex;
      flex-direction: column;
    }

    .spread {
      padding-top: var(--spacer);
      padding-right: var(--gutter);
      padding-bottom: var(--spacer);
      padding-left: var(--gutter);
    }
  }
</style>
