---
import type { ComponentProps } from 'astro/types'
import Cta from 'fulldev-ui/blocks/Cta.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Panel from 'fulldev-ui/structures/Panel.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Split from 'fulldev-ui/structures/Split.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends ComponentProps<typeof Cta> {}

const {
  align = 'center',
  depth,
  tagline,
  heading,
  paragraph,
  buttons,
  image,
  content,
  ...rest
} = Astro.props
---

<Section {...rest}>
  <Container>
    <Panel>
      <Split {align}>
        <Writeup align="start">
          <Tagline text={tagline} />
          <Heading
            size="5xl"
            text={heading}
            {depth}
          />
          <Paragraph
            size="lg"
            text={paragraph}
          />
          <Fragment set:html={content} />
          <slot />
          <Buttons
            size="lg"
            {buttons}
          />
        </Writeup>
        <Image {...image} />
      </Split>
    </Panel>
  </Container>
</Section>

<style>
  @layer fulldev {
    .panel {
      padding-top: var(--spacer);
      padding-right: var(--gutter);
      padding-bottom: var(--spacer);
      padding-left: var(--gutter);
    }

    .image {
      border-radius: var(--radius-lg);
    }
  }
</style>
