---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Panel from 'fulldev-ui/components/Panel.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Split from 'fulldev-ui/components/Split.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'

interface Props extends BlockSchema {}

const {
  size = 'lg',
  align = 'center',
  content,
  title,
  description,
  buttons,
  image,
} = Astro.props
---

<Section class:list={`cta cta-5 size-${size} align-${align}`}>
  <Container>
    <Panel>
      <Split {align}>
        <Prose {size}>
          <Element as="h1">{title}</Element>
          <Element as="p">{description}</Element>
          <Fragment set:html={content} />
          <slot />
          <Buttons
            {size}
            {buttons}
          />
        </Prose>
        <Image {...image} />
      </Split>
    </Panel>
  </Container>
</Section>

<style>
  @layer fulldev {
    .panel {
      padding-top: var(--spacer);
      padding-right: var(--gutter);
      padding-bottom: var(--spacer);
      padding-left: var(--gutter);
    }

    .image {
      border-radius: var(--radius-lg);
    }
  }
</style>
