---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Panel from 'fulldev-ui/structures/Panel.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Split from 'fulldev-ui/structures/Split.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends BlockSchema {}

const {
  size = 'lg',
  align = 'center',
  depth = 2,
  tagline,
  heading,
  paragraph,
  writeup,
  buttons,
  image,
} = Astro.props
---

<Section class:list={`cta cta-6 size-${size} align-${align} depth-${depth}`}>
  <Container>
    <Panel>
      <Split {align}>
        <Writeup {size}>
          <Tagline text={tagline} />
          <Heading
            size="5xl"
            text={heading}
            {depth}
          />
          <Paragraph
            size="lg"
            text={paragraph}
          />
          <Fragment set:html={writeup} />
          <slot />
          <Buttons
            {size}
            {buttons}
          />
        </Writeup>
        <Image {...image} />
      </Split>
    </Panel>
  </Container>
</Section>

<style>
  @layer fulldev {
    .panel {
      padding-top: var(--spacer);
      padding-right: var(--gutter);
      padding-bottom: var(--spacer);
      padding-left: var(--gutter);
    }

    .image {
      margin-bottom: calc(var(--spacer) * -1.2);
      border-radius: var(--radius-lg);
      width: 100vw;
      min-width: 100vw;

      @media (min-width: 1024px) {
        width: min(50vw, 700px);
        min-width: min(50vw, 700px);
        height: calc(100% + (2 * var(--spacer)));
        min-height: calc(100% + (2 * var(--spacer)));
        object-fit: cover;
        object-position: top left;
      }
    }
  }
</style>
