---
import Heading from 'fulldev-ui/components/Heading.astro'
import Icon from 'fulldev-ui/components/Icon.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Abstract from 'fulldev-ui/structures/Abstract.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Matrix from 'fulldev-ui/structures/Matrix.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {}

const { depth = 2, tagline, heading, paragraph, cards } = Astro.props
---

<Section class="features-2">
  <Container>
    <Prose>
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="4xl"
        text={heading}
        {depth}
      />
      <Paragraph
        size="lg"
        text={paragraph}
      />
    </Prose>
    <Matrix size="sm">
      {
        cards?.map(({ icon, heading, paragraph }) => (
          <Abstract>
            <Icon
              size="md"
              name={icon}
            />
            <Heading
              depth={depth + 1}
              as="h3"
              text={heading}
            />
            <Paragraph text={paragraph} />
          </Abstract>
        ))
      }
    </Matrix>
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-12);
    }

    .icon {
      color: var(--color-primary);
    }
  }
</style>
