---
import Abstract from '@/components/Abstract.astro'
import Box from '@/components/Box.astro'
import Container from '@/components/Container.astro'
import Grid from '@/components/Grid.astro'
import Icon from '@/components/Icon.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'
import type { FeaturesSchema } from '@/schemas/models/features'

interface Props extends FeaturesSchema {}

const { writeup, features } = Astro.props
---

<Section class="features features-1">
  <Container class="flex flex-col items-center gap-16">
    <Writeup
      class="flex flex-col items-center text-center"
      size="default"
      markdown={writeup}
    >
      <slot />
    </Writeup>
    <Grid length={features?.length}>
      {
        features?.map(({ icon, title, description }) => (
          <Abstract
            size="xl"
            class="flex flex-col items-center text-center"
          >
            <Box class="inline-flex size-9 items-center justify-center rounded-md bg-muted text-muted-foreground">
              <Icon name={icon} />
            </Box>
            <Box as="h3">{title}</Box>
            <Box as="p">{description}</Box>
          </Abstract>
        ))
      }
    </Grid>
  </Container>
</Section>
