---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Split from 'fulldev-ui/components/Split.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/fields/block.ts'

interface Props extends BlockSchema {}

const {
  size = 'md',
  align = 'center',
  buttons,
  image,
  content,
  title,
  description,
} = Astro.props
---

<Section class:list={`feature feature-5 size-${size} align-${align}`}>
  <Container>
    <Split {align}>
      <Prose {size}>
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Fragment set:html={content} />
        <slot />
        <Buttons
          variant="secondary"
          {size}
          {buttons}
        />
      </Prose>
      <Image {...image} />
    </Split>
  </Container>
</Section>

<style>
  @layer fulldev {
    .image {
      border-radius: var(--radius-lg);
    }
  }
</style>
