---
import type { ComponentProps } from 'astro/types'
import Feature from 'fulldev-ui/blocks/Feature.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Spread from 'fulldev-ui/structures/Spread.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends ComponentProps<typeof Feature> {}

const {
  align = 'center',
  depth,
  proof,
  badge,
  tagline,
  heading,
  paragraph,
  buttons,
  image,
  content,
  ...rest
} = Astro.props
---

<Section {...rest}>
  <Container>
    <Spread {align}>
      <Writeup>
        <Tagline
          size="sm"
          text={tagline}
        />
        <Heading
          size="4xl"
          text={heading}
          {depth}
        />
        <Paragraph
          size="lg"
          text={paragraph}
        />
        <Fragment set:html={content} />
        <slot />
      </Writeup>
      <Buttons
        variant="secondary"
        {buttons}
      />
    </Spread>
  </Container>
  <Image {...image} />
</Section>

<style>
  @layer fulldev {
    .section {
      display: flex;
      flex-direction: column;
      gap: var(--spacer);
    }

    .image {
      margin-right: auto;
      margin-left: auto;
    }
  }
</style>
