---
import Abstract from 'fulldev-ui/components/Abstract.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Icon from 'fulldev-ui/components/Icon.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
  content?: string | undefined
  cards?: any[]
}

const { title, description, content, cards } = Astro.props
---

<Section class="features features-1">
  <Container class="flex flex-col gap-16">
    <Writeup>
      <Element as="h1">{title}</Element>
      <Element as="p">{description}</Element>
      <Fragment set:html={content} />
      <slot />
    </Writeup>
    <Element class="grid gap-x-12 gap-y-8 md:auto-cols-fr md:grid-flow-col">
      {
        cards?.map(({ icon, title, description, content }) => (
          <Abstract size="lg">
            <Element class="bg-muted text-muted-foreground inline-flex size-10 items-center justify-center rounded-md">
              <Icon name={icon} />
            </Element>
            <Element as="h3">{title}</Element>
            <Element as="p">{description}</Element>
            <Fragment set:html={content} />
          </Abstract>
        ))
      }
    </Element>
  </Container>
</Section>
