---
import Abstract from 'fulldev-ui/components/Abstract.astro'
import Box from 'fulldev-ui/components/Box.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Grid from 'fulldev-ui/components/Grid.astro'
import Icon from 'fulldev-ui/components/Icon.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { FeaturesSchema } from 'fulldev-ui/schemas/blocks/features'

interface Props extends FeaturesSchema {}

const { writeup, features } = Astro.props
---

<Section class="">
  <Container class="flex flex-col gap-16">
    <Writeup>
      <Fragment set:html={writeup} />
      <slot />
    </Writeup>
    <Grid length={features?.length}>
      {
        features?.map(({ icon, title, description }) => (
          <Abstract size="xl">
            <Box class="inline-flex size-9 items-center justify-center rounded-md bg-muted text-muted-foreground">
              <Icon name={icon} />
            </Box>
            <Box as="h3">{title}</Box>
            <Box as="p">{description}</Box>
          </Abstract>
        ))
      }
    </Grid>
  </Container>
</Section>
