---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Split from 'fulldev-ui/structures/Split.astro'

interface Props extends BlockSchema {}

const {
  size = 'md',
  align = 'center',
  buttons,
  image,
  content,
  title,
  description,
} = Astro.props
---

<Section class:list={`feature feature-6 size-${size} align-${align}`}>
  <Container>
    <Split {align}>
      <Prose {size}>
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Fragment set:html={content} />
        <slot />
        <Buttons
          variant="secondary"
          {size}
          {buttons}
        />
      </Prose>
      <Image {...image} />
    </Split>
  </Container>
</Section>

<style>
  @layer fulldev {
    .section {
      overflow: hidden;
    }

    .image {
      border-radius: var(--radius-lg);
      width: 100vw;
      min-width: 100vw;

      @media (min-width: 1024px) {
        width: 50vw;
        min-width: 50vw;
      }
    }
  }
</style>
