---
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Spread from 'fulldev-ui/structures/Spread.astro'

interface Props extends BlockSchema {}

const {
  size = 'md',
  align = 'center',

  buttons,
  image,
  content,
  title,
  description,
} = Astro.props
---

<Section class:list={`feature feature-3 size-${size} align-${align}`}>
  <Container>
    <Spread {align}>
      <Prose {size}>
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Fragment set:html={content} />
        <slot />
      </Prose>
      <Buttons
        variant="secondary"
        {size}
        {buttons}
      />
    </Spread>
    <Image {...image} />
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      gap: var(--spacer);

      .image {
        border-radius: var(--radius-lg);
      }
    }
  }
</style>
