---
import Badge from 'fulldev-ui/components/Badge.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Proof from 'fulldev-ui/components/Proof.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/components/block'

interface Props extends BlockSchema {}

const {
  size = 'lg',
  align = 'center',
  title,
  description,
  proof,
  badge,
  content,
  buttons,
  image,
} = Astro.props
---

<Section class:list={`hero hero-1 size-${size} align-${align}`}>
  <Container>
    <Prose
      {size}
      {align}
    >
      <Proof
        {size}
        {...proof}
      />
      <Badge
        {size}
        {...badge}
      />
      <Element as="h1">{title}</Element>
      <Element as="p">{description}</Element>
      <Fragment set:html={content} />
      <slot />
      <Buttons
        {size}
        {buttons}
      />
    </Prose>
    <Image {...image} />
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      gap: var(--spacer);

      .image {
        border-radius: var(--radius-lg);
      }
    }
  }
</style>
