---
import Badge from 'fulldev-ui/components/Badge.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Proof from 'fulldev-ui/components/Proof.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Spread from 'fulldev-ui/structures/Spread.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends BlockSchema {}

const {
  size = 'lg',
  align = 'center',
  depth = 1,
  proof,
  badge,
  tagline,
  heading,
  paragraph,
  buttons,
  image,
  writeup,
} = Astro.props
---

<Section class:list={`hero hero-3 size-${size} align-${align} depth-${depth}`}>
  <Container>
    <Spread {align}>
      <Writeup {size}>
        <Proof {...proof} />
        <Badge
          size="lg"
          {...badge}
        />
        <Tagline
          size="sm"
          text={tagline}
        />
        <Heading
          size="6xl"
          text={heading}
          {depth}
        />
        <Paragraph
          size="xl"
          text={paragraph}
        />
        <Fragment set:html={writeup} />
        <slot />
      </Writeup>
      <Buttons
        {size}
        {buttons}
      />
    </Spread>
    <Image {...image} />
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      gap: var(--spacer);

      .image {
        border-radius: var(--radius-lg);
      }
    }
  }
</style>
