---
import type { ComponentProps } from 'astro/types'
import Hero from 'fulldev-ui/blocks/Hero.astro'
import Badge from 'fulldev-ui/components/Badge.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Proof from 'fulldev-ui/components/Proof.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Split from 'fulldev-ui/structures/Split.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props extends ComponentProps<typeof Hero> {}

const {
  align = 'center',
  depth,
  proof,
  badge,
  tagline,
  heading,
  paragraph,
  buttons,
  image,
  content,
  ...rest
} = Astro.props
---

<Section {...rest}>
  <Container>
    <Split {align}>
      <Writeup>
        <Proof {...proof} />
        <Badge
          size="lg"
          {...badge}
        />
        <Tagline
          size="sm"
          text={tagline}
        />
        <Heading
          size="6xl"
          text={heading}
          {depth}
        />
        <Paragraph
          size="xl"
          text={paragraph}
        />
        <Fragment set:html={content} />
        <slot />
        <Buttons
          size="lg"
          {buttons}
        />
      </Writeup>
    </Split>
  </Container>
  <Image {...image} />
</Section>

<style>
  @layer fulldev {
    .section {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      gap: var(--spacer);

      @media (min-width: 1024px) {
        flex-direction: row;
        min-height: calc(100vh - var(--header-height));
      }
    }

    .container {
      display: flex;
    }

    .image {
      @media (min-width: 1024px) {
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100% - var(--gutter)) / 2);
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>
