---
import Badge from 'fulldev-ui/components/Badge.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Proof from 'fulldev-ui/components/Proof.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {
  align?: 'start' | 'center' | 'end'
}

const {
  depth = 2,
  badge,
  tagline,
  heading,
  paragraph,
  content,
  buttons,
  image,
  proof,
} = Astro.props
---

<Section class="hero-1">
  <Container>
    <Prose align="center">
      <Proof {...proof} />
      <Badge
        size="lg"
        {...badge}
      />
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="6xl"
        text={heading}
        {depth}
      />
      <Paragraph
        size="xl"
        text={paragraph}
      />
      <Fragment set:html={content} />
      <Buttons
        size="lg"
        {buttons}
      />
    </Prose>
    <Image {...image} />
  </Container>
</Section>

<style>
  @layer fulldev {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-16);
    }

    .paragraph {
      text-wrap: balance;
    }

    .image {
      margin-right: auto;
      margin-left: auto;
      width: auto;
      max-height: 700px;
    }
  }
</style>
