---
import type { ComponentProps } from 'astro/types'
import Badge from 'fulldev-ui/components/Badge.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Label from 'fulldev-ui/components/Label.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Rating from 'fulldev-ui/components/Rating.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props {
  depth?: 1 | 2 | undefined
  badge?: ComponentProps<typeof Badge> | undefined
  tagline?: string | undefined
  heading?: string | undefined
  paragraph?: string | undefined
  content?: string | undefined
  image?: ComponentProps<typeof Image> | undefined
  buttons?: ComponentProps<typeof Buttons>['buttons']
  proof?: {
    rating?: number | undefined
    images?: ComponentProps<typeof Image>[] | undefined
    text?: string | undefined
  }
}

const {
  badge,
  tagline,
  heading,
  paragraph,
  content,
  buttons,
  image,
  proof,
  ...rest
} = Astro.props
---

<Section
  class:list="hero-1"
  {...rest}
>
  <Container>
    <Prose class="flex flex-col items-center text-center">
      <Element class="flex items-center">
        {
          proof?.images?.map((image) => (
            <Image
              class="-mr-5 h-11 w-11 rounded-full object-cover last-of-type:mr-2"
              {...image}
            />
          ))
        }
        <Element class="flex flex-col gap-1">
          <Rating
            score={proof?.rating}
            size="sm"
          />
          <Label
            size="md"
            text={proof?.text}
          />
        </Element>
      </Element>
      <Badge
        size="lg"
        {...badge}
      />
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        as="h1"
        size="6xl"
        text={heading}
      />
      <Paragraph
        size="xl"
        text={paragraph}
      />
      <Fragment set:html={content} />
      <Group>
        <Buttons
          size="lg"
          {buttons}
        />
      </Group>
    </Prose>
    <Image {...image} />
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .hero-1 {
      .container {
        @apply flex flex-col items-center gap-16;
      }
      .image {
        @apply max-h-[700px] w-auto rounded-lg;
      }
    }
  }
</style>
