---
import Badge from 'fulldev-ui/components/Badge.astro'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Proof from 'fulldev-ui/components/Proof.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Spread from 'fulldev-ui/components/Spread.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'

interface Props extends BlockSchema {}

const {
  size = 'lg',
  align = 'center',
  proof,
  badge,
  buttons,
  image,
  content,
  title,
  description,
} = Astro.props
---

<Section class:list={`hero hero-4 size-${size} align-${align}`}>
  <Container>
    <Spread {align}>
      <Prose {size}>
        <Proof
          {size}
          {...proof}
        />
        <Badge
          {size}
          {...badge}
        />
        <Element as="h1">{title}</Element>
        <Element as="p">{description}</Element>
        <Fragment set:html={content} />
        <slot />
      </Prose>
      <Buttons
        {size}
        {buttons}
      />
    </Spread>
  </Container>
  <Image {...image} />
</Section>

<style>
  @layer fulldev {
    .section {
      display: flex;
      flex-direction: column;
      gap: var(--spacer);
    }

    .image {
      margin-right: auto;
      margin-left: auto;
    }
  }
</style>
