---
import type { ComponentProps } from 'astro/types'
import Buttons from 'fulldev-ui/components/Buttons.astro'
import Chip from 'fulldev-ui/components/Chip.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Proof from 'fulldev-ui/components/Proof.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Group from 'fulldev-ui/structures/Group.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props {
  depth?: 1 | 2 | undefined
  chip?: ComponentProps<typeof Chip> | undefined
  tagline?: string | undefined
  heading?: string | undefined
  paragraph?: string | undefined
  content?: string | undefined
  image?: ComponentProps<typeof Image> | undefined
  buttons?: ComponentProps<typeof Buttons>['buttons']
  proof?: {
    rating?: number | undefined
    images?: ComponentProps<typeof Image>[] | undefined
    text?: string | undefined
  }
}

const {
  chip,
  tagline,
  heading,
  paragraph,
  content,
  buttons,
  image,
  proof,
  ...rest
} = Astro.props
---

<Section
  class:list="hero-1"
  {...rest}
>
  <Container class="flex flex-col items-center gap-16">
    <Prose class="flex flex-col items-center text-center">
      <Proof {...proof} />
      <Chip
        size="lg"
        {...chip}
      />
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        as="h1"
        size="6xl"
        text={heading}
      />
      <Paragraph
        class="text-balance"
        size="xl"
        text={paragraph}
      />
      <Fragment set:html={content} />
      <Group>
        <Buttons
          size="lg"
          {buttons}
        />
      </Group>
    </Prose>
    <Image
      class="max-h-[700px] w-auto rounded-lg"
      {...image}
    />
  </Container>
</Section>
