---
import type { HTMLTag } from 'astro/types'
import { Badge, Heading, Section, Tagline, Text } from 'fulldev-ui'
import type { Block } from '../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const {
  structure = 'column',
  size = 'sm',
  level = 1,
  variant = 'subtle',
  align,
  position,
  heading,
  title,
  description,
  badge,
  tagline,
  text,
  buttons,
  image,
  ...rest
} = Astro.props
---

<Section
  class:list={'intro'}
  structure={structure === 'split' ? 'split' : 'column'}
  {size}
  {align}
  {variant}
  {...rest}
>
  <Badge html={badge} />
  <Tagline html={tagline} />
  <Heading
    {level}
    html={heading || title}
  />
  <Text html={text || description} />
</Section>

<style is:global>
  .intro {
    border-bottom: 1px solid var(--border);
  }
</style>
