---
import type { ComponentProps } from 'astro/types'
import { getEntries } from 'astro:content'
import Card from 'fulldev-ui/components/Card.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Grid from 'fulldev-ui/components/Grid.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import List from 'fulldev-ui/components/List.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/components/block'
import { getHref } from 'fulldev-ui/utils/getHref'

interface Props extends ComponentProps<typeof Section>, BlockSchema {}

const { tagline, heading, paragraph, pages, ...rest } = Astro.props

const entries = pages && (await getEntries(pages))

console.log({ entries })
---

<Section
  class:list="jobs-1"
  {...rest}
>
  <Container>
    <Writeup align="center">
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="3xl"
        text={heading}
      />
      <Paragraph text={paragraph} />
    </Writeup>
    <Grid>
      {
        entries?.map(({ slug, data: { title, list } }) => (
          <Card
            class="jobs-1-card"
            href={getHref(slug)}
          >
            <Heading
              as="h2"
              size="lg"
              text={title}
            />
            <List
              size="sm"
              items={list}
            />
          </Card>
        ))
      }
    </Grid>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .jobs-1 {
      .container {
        @apply flex flex-col items-center gap-16;
      }
      .card {
        @apply flex flex-col gap-3;
      }
    }
  }
</style>
