---
import Button from 'fulldev-ui/components/Button.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import List from 'fulldev-ui/components/List.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Card from 'fulldev-ui/structures/Card.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Matrix from 'fulldev-ui/structures/Matrix.astro'
import Section from 'fulldev-ui/structures/Section.astro'

interface Props extends BlockSchema {}

const { depth = 2, heading, button, cards } = Astro.props
---

<Section class="jobs-1">
  <Container>
    <Element class="jobs-1-segment">
      <Heading
        size="3xl"
        text={heading}
        {depth}
      />
      <Button
        size="sm"
        variant="ghost"
        {...button}
      />
    </Element>
    <Matrix>
      {
        cards?.map(({ href, heading, list }) => (
          <Card
            class="jobs-1-card"
            {href}
          >
            <Heading
              depth={(depth + 1) as 3}
              as="h2"
              size="lg"
              text={heading}
            />
            <List
              size="sm"
              items={list}
            />
          </Card>
        ))
      }
    </Matrix>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .jobs-1 {
      .container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-12);
      }

      .jobs-1-segment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-8);
      }

      .card {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3);
      }
    }
  }
</style>
