---
import type { HTMLTag } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import { Card, Heading, Image, Row, Section, Text } from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As> & {
  posts?: CollectionEntry<'posts'>[]
}

const { heading, text, posts, ...rest } = Astro.props
---

<Section
  class:list={'posts'}
  {...rest}
>
  <Heading html={heading} />
  <Text html={text} />
  <Row align="center">
    {
      posts?.map(({ slug, data: { title, description, image } }) => (
        <Card
          href={`/blog/${slug}/`}
          variant="outline"
        >
          <Image
            src={image}
            position="inset"
          />
          <Heading
            html={title}
            level={3}
          />
          <Text html={description} />

          {/* <Row>
            <Avatar
              src={author?.image}
              width={60}
              height={60}
            />
            <Column>
              <Heading
                level={4}
                html={author?.name}
              />
              <Text html={author?.tagline} />
            </Column>
          </Row> */}
        </Card>
      ))
    }
  </Row>
</Section>
