---
import type { HTMLTag } from 'astro/types'
import {
  Button,
  Card,
  Grid,
  Heading,
  List,
  Section,
  Tagline,
  Text,
} from 'fulldev-ui'
import type { Block } from '../../schemas/block'

type Props<As extends HTMLTag = 'section'> = Block<As>

const { heading, text, cards, tagline } = Astro.props
---

<Section
  class:list={'prices'}
  align="center"
>
  <Tagline html={tagline} />
  <Heading
    level={1}
    html={heading}
  />
  <Text html={text} />
  <Grid>
    {
      cards?.map(({ heading, text, buttons, price, list }) => (
        <Card variant="subtle">
          <Heading
            html={heading}
            level={3}
          />
          <Text html={text} />
          <Heading
            level={4}
            as="p"
            html={price?.toString()}
          />
          <List items={list} />
          {buttons?.map((button) => (
            <Button {...button} />
          ))}
        </Card>
      ))
    }
  </Grid>
</Section>
