---
import Button from 'fulldev-ui/components/Button.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import List from 'fulldev-ui/components/List.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import type { BlockSchema } from 'fulldev-ui/schemas/block'
import Card from 'fulldev-ui/structures/Card.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Prose from 'fulldev-ui/structures/Prose.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Stack from 'fulldev-ui/structures/Stack.astro'

interface Props extends BlockSchema {}

const { depth, heading, paragraph, cards } = Astro.props
---

<Section class="pricings-1">
  <Container class="flex flex-col items-center gap-16">
    <Prose class="text-center">
      <Heading
        size="5xl"
        text={heading}
        {depth}
      />
      <Paragraph
        size="xl"
        text={paragraph}
      />
    </Prose>
    <Stack class="mx-auto flex flex-wrap items-stretch justify-center">
      {
        cards?.map(({ tagline, heading, paragraph, list, button }) => (
          <Card class="min-w-sm flex max-w-md flex-col justify-between gap-8 p-8">
            <Prose>
              <Tagline text={tagline} />
              <Heading
                as={`h${(depth + 1) as 1 | 2 | 3}`}
                size="3xl"
                text={heading}
              />
              <Paragraph
                muted
                text={paragraph}
              />
              <List
                size="sm"
                items={list}
              />
            </Prose>
            <Button
              class=""
              {...button}
            />
          </Card>
        ))
      }
    </Stack>
  </Container>
</Section>
