---
import Box from '@/components/Box.astro'
import Buttons from '@/components/Buttons.astro'
import Container from '@/components/Container.astro'
import Grid from '@/components/Grid.astro'
import Heading from '@/components/Heading.astro'
import Image from '@/components/Image.astro'
import { Price } from '@/components/price'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'

interface Props {
  buttons?: {
    text?: string
    href?: string
    variant?: 'default' | 'secondary' | 'outline' | 'ghost' | 'link'
  }[]
  products?: {
    href?: string
    title?: string
    images?: {
      src?: string
      alt?: string
    }[]
    price?: {
      amount?: number
      compare?: number
    }
  }[]
}

const { buttons, products } = Astro.props
---

<Section class="products products-1">
  <Container class="flex flex-col items-start gap-8">
    <Writeup class="flex w-full items-center justify-between gap-8">
      <Writeup size="sm">
        <slot />
      </Writeup>
      <Buttons
        class="max-lg:hidden"
        size="sm"
        {buttons}
      />
    </Writeup>
    <Grid
      length={products?.length}
      class="gap-4"
    >
      {
        products?.map(({ href, title, images, price }) => (
          <Box
            class="group flex flex-col gap-3"
            href={href}
          >
            <Image
              class="bg-card aspect-square rounded-lg object-contain transition-opacity group-hover:opacity-75"
              {...images?.[0]}
            />
            <Heading as="h3">{title}</Heading>
            <Price {...price} />
          </Box>
        ))
      }
    </Grid>
    <Buttons
      class="hidden"
      {buttons}
    />
  </Container>
</Section>
