---
import Button from 'fulldev-ui/components/Button.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Gallery from 'fulldev-ui/components/experimental/Gallery.astro'
import Price from 'fulldev-ui/components/experimental/Price.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import Input from 'fulldev-ui/components/Input.astro'
import List from 'fulldev-ui/components/List.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Text from 'fulldev-ui/components/Text.astro'

const {
  heading,
  title,
  list,
  price,
  image,
  images,
  rating,
  buttons,
  text,
  subheading,
  button,
  description,
  form,
  gallery = 'horizontal',
  ...rest
} = Astro.props
---

<Section
  class:list="product"
  structure="split"
  {...rest}
>
  {
    images && images.length > 1 ? (
      <Gallery
        images={images}
        direction={gallery}
      />
    ) : (
      <Image {...(image || images?.[0])} />
    )
  }
  <Element class:list="column">
    <Heading
      as="h1"
      level={2}
      text={heading || title}
    />
    <Text
      style={{ maxWidth: '420px' }}
      text={text || description}
    />
    <Price value={price} />
    <List
      items={list}
      style={{ marginTop: 'var(--space-5)' }}
    />
    <Element class:list="row">
      <Input
        value={1}
        name={'quantity'}
        style={{ width: 'var(--space-7)' }}
        type="number"
        min={1}
      />
      <Button
        color="brand"
        text={form?.submit}
      />
    </Element>
    <Button
      style={{ marginTop: 'var(--space-3)', width: '100%', maxWidth: '400px' }}
      variant="secondary"
      {...button}
    />
  </Element>
</Section>

<style is:global lang="scss">
  .product {
    .column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .row {
      display: flex;
    }
  }
</style>
