---
import { getImage } from 'astro:assets'
import CartForm from 'fulldev-ui/components/CartForm.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Gallery from 'fulldev-ui/components/experimental/Gallery.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Image from 'fulldev-ui/components/Image.astro'
import List from 'fulldev-ui/components/List.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Text from 'fulldev-ui/components/Text.astro'

const {
  heading,
  title,
  list,
  price,
  image,
  images,
  rating,
  buttons,
  text,
  subheading,
  variants,
  button,
  description,
  form,
  uitverkocht,
  gallery = 'horizontal',
  ...rest
} = Astro.props

const slug = Astro.url.pathname.replace(/^\/|\/$/g, '') || 'index'
const imageId = images?.[0]?.id
const src = `/src/images/${imageId}`
const allImages = import.meta.glob<{ default: ImageMetadata }>('/src/images/*')
const foundImage = allImages[src]
const gotImage =
  imageId && (await getImage({ src: foundImage ? foundImage() : src }))
---

<Section
  class:list="product"
  structure="split"
  {...rest}
>
  {
    images && images.length > 1 ? (
      <Gallery
        {images}
        direction={gallery}
      />
    ) : (
      <Image {...(image || images?.[0])} />
    )
  }
  <Element class:list="column">
    <Heading
      level={2}
      text={heading || title}
    />
    <Text
      style={{ maxWidth: '420px' }}
      text={text || description}
    />
    <List
      items={list}
      style={{ marginTop: 'var(--space-5)' }}
    />
    <CartForm
      soldout={uitverkocht}
      image={gotImage?.src}
      {title}
      {price}
      {slug}
      {variants}
    />
  </Element>
</Section>

<style is:global >
  .product {
    padding-top: 0px;

    @media (min-width: 1024px) {
      padding-top: var(--space-6);
    }

    .column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-5);
    }

    .row {
      display: flex;
      align-items: center;
      gap: var(--space-5);
    }

    @media (max-width: 1023.99px) {
      .gallery {
        margin-right: calc(-1 * var(--gutter));
        margin-left: calc(-1 * var(--gutter));
        width: calc(100% + (var(--gutter) * 2));

        .small-carousel {
          padding-right: var(--gutter);
          padding-left: var(--gutter);
        }
      }
    }
  }
</style>
