---
import Box from 'fulldev-ui/components/Box.astro'
import Button from 'fulldev-ui/components/Button.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Gallery from 'fulldev-ui/components/Gallery.vue'
import Image from 'fulldev-ui/components/Image.astro'
import List from 'fulldev-ui/components/List.astro'
import Price from 'fulldev-ui/components/Price.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Split from 'fulldev-ui/components/Split.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { ProductSingleSchema } from 'fulldev-ui/schemas/blocks/productSingle'

interface Props extends ProductSingleSchema {}

const { title, description, list, images, price } = Astro.props
---

<Section class="pt-4 lg:pt-16">
  <Container>
    <Split>
      <Box class="flex flex-col gap-16">
        <Gallery client:load>
          {
            images?.map((image) => (
              <Image
                class="aspect-square h-full w-full object-contain"
                src={image.src}
                alt={image.alt}
              />
            ))
          }
        </Gallery>
        <Prose class="max-lg:hidden">
          <slot />
        </Prose>
      </Box>
      <Writeup
        size="sm"
        class="lg:pl-8"
      >
        <Box as="h1">{title}</Box>
        <Box as="p">{description}</Box>
        <Price
          class="mt-4 text-xl font-medium"
          amount={price}
        />
        <Button
          class="mt-4"
          size="lg"
          text="In winkelwagen"
          icon="shopping-cart"
        />
        <List
          class="pt-4 text-muted-foreground"
          items={list}
        />
      </Writeup>
      <Prose class="lg:hidden">
        <slot />
      </Prose>
    </Split>
  </Container>
</Section>
