---
import Abstract from 'fulldev-ui/components/Abstract.astro'
import Box from 'fulldev-ui/components/Box.astro'
import Card from 'fulldev-ui/components/Card.astro'
import Container from 'fulldev-ui/components/Container.astro'
import Masonry from 'fulldev-ui/components/Masonry.astro'
import Rating from 'fulldev-ui/components/Rating.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Writeup from 'fulldev-ui/components/Writeup.astro'
import type { ReviewsSchema } from 'fulldev-ui/schemas/blocks/reviews'

interface Props extends ReviewsSchema {}

const { writeup, reviews } = Astro.props
---

<Section class="reviews reviews-1">
  <Container class="flex flex-col gap-12">
    <Writeup align="center">
      <Fragment set:html={writeup} />
      <slot />
    </Writeup>
    <Masonry length={reviews?.length}>
      {
        reviews?.map(({ rating, title, description }) => (
          <Card class="flex flex-col">
            <Abstract size="lg">
              <Rating score={rating} />
              <Box as="h3">{title}</Box>
              <Box as="p">{description}</Box>
            </Abstract>
          </Card>
        ))
      }
    </Masonry>
  </Container>
</Section>
