---
import Box from '@/components/Box.astro'
import Buttons from '@/components/Buttons.astro'
import Card from '@/components/Card.astro'
import Container from '@/components/Container.astro'
import Heading from '@/components/Heading.astro'
import Masonry from '@/components/Masonry.astro'
import Paragraph from '@/components/Paragraph.astro'
import Rating from '@/components/Rating.astro'
import Section from '@/components/Section.astro'
import Writeup from '@/components/Writeup.astro'

interface Props {
  buttons?: {
    text?: string
    href?: string
    variant?: 'default' | 'secondary' | 'outline' | 'ghost' | 'link'
  }[]
  reviews?: {
    rating?: number
    title?: string
    description?: string
  }[]
}

const { buttons, reviews } = Astro.props
---

<Section class="reviews reviews-1">
  <Container class="flex flex-col items-center gap-12">
    <Box class="flex flex-col items-center gap-8">
      <Writeup class="items-center text-center">
        <slot />
      </Writeup>
      <Buttons {buttons} />
    </Box>
    <Masonry length={reviews?.length}>
      {
        reviews?.map(({ rating, title, description }) => (
          <Card class="flex flex-col">
            <Rating score={rating} />
            <Heading as="h3">{title}</Heading>
            <Paragraph>{description}</Paragraph>
          </Card>
        ))
      }
    </Masonry>
  </Container>
</Section>
