---
import type { ComponentProps } from 'astro/types'
import type Avatar from 'fulldev-ui/components/Avatar.astro'
import Heading from 'fulldev-ui/components/Heading.astro'
import Paragraph from 'fulldev-ui/components/Paragraph.astro'
import Proof from 'fulldev-ui/components/Proof.astro'
import Tagline from 'fulldev-ui/components/Tagline.astro'
import Card from 'fulldev-ui/structures/Card.astro'
import Container from 'fulldev-ui/structures/Container.astro'
import Masonry from 'fulldev-ui/structures/Masonry.astro'
import Section from 'fulldev-ui/structures/Section.astro'
import Writeup from 'fulldev-ui/structures/Writeup.astro'

interface Props {
  tagline?: string | undefined
  heading?: string | undefined
  paragraph?: string | undefined
  cards?: {
    avatar?: ComponentProps<typeof Avatar>
    rating?: number | undefined
    tagline?: string | undefined
    heading?: string | undefined
    paragraph?: string | undefined
  }[]
}

const { tagline, heading, paragraph, cards, ...rest } = Astro.props
---

<Section
  class:list="reviews-1"
  {...rest}
>
  <Container>
    <Writeup align="center">
      <Tagline
        size="sm"
        text={tagline}
      />
      <Heading
        size="3xl"
        text={heading}
      />
      <Paragraph text={paragraph} />
    </Writeup>
    <Masonry>
      {
        cards?.map(({ tagline, avatar, rating, heading, paragraph }) => (
          <Card class="reviews-1-card">
            <Proof
              text={tagline}
              {rating}
              {avatar}
            />
            <Heading
              as="h3"
              size="md"
              text={heading}
            />
            <Paragraph
              size="sm"
              text={paragraph}
            />
          </Card>
        ))
      }
    </Masonry>
  </Container>
</Section>

<style is:global>
  @layer fulldev {
    .reviews-1 {
      .container {
        @apply flex flex-col items-center gap-16;
      }

      .reviews-1-cards {
        @apply grid grid-cols-1 gap-6 lg:grid-cols-3;
      }

      .reviews-1-card {
        @apply flex flex-col gap-3;
      }

      .icon {
        @apply text-primary;
      }
    }
  }
</style>
