---
export interface Props {
  label?: string
  required?: boolean
}

const { label, required } = Astro.props
---

{
  (
    <div>
      <input
        class="input"
        id={label}
        name={label}
        type="checkbox"
        {required}
      />
      <slot />
      <div />
      {label && <label for={label}>{label}</label>}
      {required && <p>*</p>}
    </div>
  )
}

<style>
  div {
    gap: var(--flow1);
    display: flex;
    flex-direction: column;
  }
</style>
