---
import type { ComponentProps } from 'astro/types'
import { getCollection } from 'astro:content'
import Intro from 'fulldev-ui/blocks/Intro.astro'
import Products from 'fulldev-ui/blocks/Products.astro'
import Carousel from 'fulldev-ui/components/Carousel.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Prose from 'fulldev-ui/components/Prose.astro'
import Sections from 'fulldev-ui/components/sections.astro'
import Select from 'fulldev-ui/components/Select.astro'
import Layout from 'fulldev-ui/layouts/Layout.astro'

type Props = ComponentProps<typeof Layout>

const { slug, sections, title, image, images, description, render } =
  Astro.props

const children = await getCollection('pages', (page) =>
  page.data.categories?.some((c: any) => c.slug.includes(slug))
)

const categories = children?.filter(
  (c) => c.data.component === 'CategoryLayout'
)

const products = children?.filter((c) => c.data.component === 'ProductLayout')

const sorts = [
  {
    option: 'Aanbevolen',
    products: [...products].sort(
      (a, b) => (a.data.order || 0) - (b.data.order || 0)
    ),
  },
  {
    option: 'Prijs (laag - hoog)',
    products: [...products].sort(
      (a, b) => (a.data.price || 0) - (b.data.price || 0)
    ),
  },
  {
    option: 'Prijs (hoog - laag)',
    products: [...products].sort(
      (a, b) => (b.data.price || 0) - (a.data.price || 0)
    ),
  },
  {
    option: 'Alfabetisch (A-Z)',
    products: [...products],
  },
  {
    option: 'Alfabetisch (Z-A)',
    products: [...products].sort((a, b) =>
      (b.data.title || '').localeCompare(a.data.title || '')
    ),
  },
]
---

<script>
  document.addEventListener('astro:page-load', () => {
    const sort = document.querySelector('.sort')

    sort?.addEventListener('change', (e) => {
      const blocks = document.querySelectorAll('.products')
      const value = (e.target as HTMLSelectElement).value
      blocks?.forEach((block) => block.classList.add('hide'))

      const block = document.querySelector(`.products[id='${value}']`)
      block?.classList.remove('hide')
    })
  })
</script>

<Layout {...Astro.props}>
  <Intro
    heading={title}
    paragraph={description}
    image={image || images?.[0]}
  />
  <Carousel>
    {
      categories.map((category) => (
        <Element
          as="a"
          class:list="item"
          href={`/${category.slug}/`}
        >
          {category.data.title}
        </Element>
      ))
    }
  </Carousel>
  <Element class:list="toolbar">
    <span>{products.length} resultaten</span>
    <Select
      class:list="sort"
      size="sm"
      name="Sorteren"
      options={sorts.map((sort) => sort.option)}
    />
  </Element>
  {
    sorts.map((sort) => (
      <Products
        class:list={sort.option !== 'Aanbevolen' ? 'hide' : ''}
        id={sort.option}
        cards={sort.products}
      />
    ))
  }
  <Prose {render} />
  <Sections {sections} />
  <slot />
</Layout>

<style is:global>
  .carousel {
    .item {
      @apply min-w-48 rounded-sm border p-4 text-sm;
    }
  }

  .products.hide {
    @apply hidden;
  }

  .toolbar {
    @apply container flex items-center justify-between pt-8;

    span {
      @apply text-sm text-muted-foreground;
    }
  }
</style>
