---
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import Footer from 'fulldev-ui/blocks/Footer.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import Head from 'fulldev-ui/components/Head.astro'
import Navigation from 'fulldev-ui/components/Navigation.astro'
import Root from 'fulldev-ui/components/Root.astro'

type Props = Omit<CollectionEntry<'pages'>, 'data'> &
  CollectionEntry<'pages'>['data'] & {
    class?: HTMLAttributes<'body'>['class'] | undefined
    lang?: HTMLAttributes<'html'>['lang'] | undefined
    theme?: 'light' | 'dark' | undefined
  }

const {
  lang = 'nl',
  class: classes,
  navigation,
  render,
  sections,
  footer,
  code,
  theme,
} = Astro.props
---

<!doctype html>
<html lang={lang}>
  <Head {...Astro.props} />
  <Root
    as="body"
    class={classes}
    {theme}
  >
    <slot name="navigation">
      <Navigation
        {...navigation}
        {render}
      />
    </slot>
    <main data-pagefind-body>
      <slot>
        <Blocks {...sections} />
      </slot>
    </main>
    <slot name="footer">
      <Footer {...footer} />
    </slot>
    <Fragment set:html={code} />

    <style lang="scss" is:global>
      @layer fulldev {
        html {
          width: 100%;
          min-height: 100vh;
          scroll-behavior: smooth;
          color-scheme: var(--color-scheme);
          font-size: var(--text-2);
          font-family: var(--font-family);
        }

        body {
          --screen: 100vw;

          background-color: var(--color-background);
          width: 100%;
          min-height: 100vh;
          color: var(--base-11);

          @media (max-width: 767.999px) {
            &:has(#sidebar-checkbox:checked) {
              overflow: hidden;
            }
          }

          .sidebar ~ main {
            padding-left: var(--sidebar-width);
          }

          .toc ~ main {
            padding-right: var(--sidebar-width);
          }

          main {
            --screen: 1280px;

            display: flex;
            flex-direction: column;
            padding-top: var(--header-height);
            max-width: 100vw;
          }
        }
      }
    </style>
  </Root>
</html>

<script>
  const setTheme = (document: Document) => {
    const theme = localStorage.getItem('theme') || ''
    document.body.classList.add(`theme-${theme}`)
  }

  setTheme(document)

  document.addEventListener('astro:before-swap', (event) => {
    setTheme(event.newDocument)
  })
</script>
