---
import Banner from '@/blocks/Banner.astro'
import Footer from '@/blocks/Footer.astro'
import Header from '@/blocks/Header.astro'
import Box from '@/components/Box.astro'
import layout from '@/data/layout.json'
import '@/styles/global.css'
import '@/styles/theme.css'

import { SEO } from 'astro-seo'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'html'> {
  title?: string
  description?: string
  image?: {
    src?: string
    alt?: string
  }
  canonical?: string
  noindex?: boolean
  nofollow?: boolean
}

const { title, description, image, canonical, noindex, nofollow, class: className } = Astro.props
const { lang = 'en', company, banner, header, footer, head, body, css } = layout
---

<!doctype html>
<Box
  class:list={[
    'layout text-foreground bg-background h-full w-full font-sans text-base scheme-light dark:scheme-dark',
    className,
  ]}
  as="html"
  {lang}
>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <SEO
      charset="UTF-8"
      title={title || undefined}
      description={description || description || undefined}
      noindex={noindex || undefined}
      nofollow={nofollow || undefined}
      canonical={canonical || Astro.url.href}
      openGraph={{
        basic: {
          title: title || '',
          image: Astro.url.origin + image?.src,
          type: 'website',
          url: Astro.url.href,
        },
        image: {
          url: Astro.url.origin + image?.src,
          alt: image?.alt || title || title || company || undefined,
        },
        optional: {
          description: description || undefined,
          siteName: company || undefined,
        },
      }}
    />
    <Fragment set:html={head} />
  </head>
  <body>
    <Banner text={banner} />
    <Header {...header} />
    <main>
      <slot />
      <style set:html={css}></style>
      <Fragment set:html={body} />
    </main>
    <Footer {...footer} />
  </body>
</Box>
