---
import type { CollectionEntry } from 'astro:content'
import Block from 'fulldev-ui/components/Block.astro'
import Blocks from 'fulldev-ui/components/Blocks.astro'
import Button from 'fulldev-ui/components/Button.astro'
import Head from 'fulldev-ui/components/Head.astro'
import Sidebar from 'fulldev-ui/components/Sidebar.astro'

type Props = Partial<CollectionEntry<'pages'>> & {
  class?: string
}

const { slug, data, class: classes } = Astro.props
const { logo, header, headers, footer, footers, channels, sidebar } = data || {}
---

<!doctype html>
<html
  lang="nl"
  class={slug}
>
  <Head {...Astro.props} />
  <body
    class:list={[
      classes,
      {
        'has-sidebar': sidebar,
      },
    ]}
  >
    <Block
      _bookshop_name="Header"
      {logo}
      {...header}
    />
    <Blocks {...headers} />
    <Sidebar {sidebar} />
    <main data-pagefind-body>
      <slot />
    </main>
    {
      channels?.whatsapp && (
        <Button
          variant="solid"
          color="brand"
          icon="brand-whatsapp"
          size="lg"
          href={`https://wa.me/${channels.whatsapp}`}
          style={{
            position: 'fixed',
            right: 'var(--space-4)',
            bottom: 'var(--space-4)',
            backgroundColor: '#46A758',
          }}
        />
      )
    }
    <Block
      _bookshop_name="Footer"
      {logo}
      {...footer}
    />
    <Blocks {...footers} />
    <Fragment set:html={data?.code?.body} />
    <style lang="scss" is:global>
      html,
      body {
        box-sizing: border-box;
        margin: 0;
        background-color: var(--color-background);
        padding: 0;
        width: 100%;
        min-height: 100vh;
        color: var(--base-11);
        font-size: var(--text-2);
        font-family: var(--font-family);
      }

      body {
        display: grid;
        // grid-template-rows: 150px auto auto;
        grid-template-areas:
          'header'
          'main'
          'footer';
        column-gap: var(--space-7);
        align-items: start;
        padding-right: var(--gutter);
        padding-left: var(--gutter);
        width: 100%;
        max-width: 100vw;

        &.has-sidebar {
          grid-template-columns: auto 1fr;
          grid-template-areas:
            'header header'
            'sidebar main'
            'footer footer';
        }

        .header {
          grid-area: header;
        }

        .sidebar {
          position: sticky;
          top: 0;
          grid-area: sidebar;
        }

        main {
          display: flex;
          row-gap: var(--space-7);
          grid-area: main;
          flex-direction: column;
          padding-top: var(--space-7);
          padding-bottom: var(--space-7);
        }

        .footer {
          grid-area: footer;
        }

        .section,
        .footer,
        .header {
          padding: 0 !important;
        }
      }
    </style>
  </body>
</html>
