---
import type { ComponentProps, HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import Article from 'fulldev-ui/blocks/Article.astro'
import Banner from 'fulldev-ui/blocks/Banner.astro'
import Footer from 'fulldev-ui/blocks/Footer.astro'
import Element from 'fulldev-ui/components/Element.astro'
import Head from 'fulldev-ui/components/Head.astro'
import Header from 'fulldev-ui/components/Header.astro'
import Section from 'fulldev-ui/components/Section.astro'
import Sections from 'fulldev-ui/components/sections.astro'
import Sidebar from 'fulldev-ui/components/Sidebar.astro'
import type { GlobalProps } from 'fulldev-ui/types/global-props'

type Props = GlobalProps &
  HTMLAttributes<'html'> & {
    render: CollectionEntry<'pages'>['render']
    slug: CollectionEntry<'pages'>['slug']
    header?: ComponentProps<typeof Header>
    footer?: ComponentProps<typeof Footer>
    sections?: ComponentProps<typeof Sections>['sections']
    section?: ComponentProps<typeof Section> | undefined
    theme?: 'light' | 'dark' | 'system'
    banner?: any
    toc?: any
    sidebar?: any
    navigation?: any
    code?: {
      head?: string
      body?: string
    }
    title?: string
    description?: string
    image?: string
    seo?: {
      title?: string
      description?: string
      image?: string
    }
  }

const {
  render,
  header,
  navigation,
  footer,
  sidebar,
  toc,
  sections,
  theme,
  section,
  banner,
  code,
  ...rest
} = Astro.props
---

<!doctype html>
<html {...rest}>
  <Head {...Astro.props} />
  <Element
    as="body"
    {theme}
  >
    <slot name="banner">
      <Banner text={banner} />
    </slot>
    <slot name="header">
      <Header
        open={navigation?.header}
        {...navigation}
        {...header}
      />
    </slot>
    <div class="core">
      <slot name="sidebar">
        <Sidebar
          if={sidebar || navigation?.sidebar}
          {...navigation?.sidebar === true ? navigation : {}}
          logo={navigation?.header ? undefined : navigation?.logo}
          company={navigation?.header ? undefined : navigation?.company}
          {...sidebar}
        />
      </slot>
      <main data-pagefind-body>
        <slot>
          <Section {...section} />
          <Article />
          <Sections {sections} />
        </slot>
      </main>
    </div>
    <slot name="footer">
      <Footer {...footer} />
    </slot>
    <Fragment set:html={code?.body} />

    <style is:global>
      @layer fulldev {
        html {
          color: hsl(var(--foreground));
          line-height: 1.5;
          font-family: 'Inter', sans-serif;
          color-scheme: light;

          &.dark {
            color-scheme: dark;
          }
        }

        body {
          background-color: hsl(var(--background));
          width: 100%;
          min-height: 100vh;
          color: hsl(var(--foreground));
          line-height: inherit;
          font-family: 'Inter', sans-serif;

          .core {
            display: flex;
            position: relative;
            flex-grow: 1;
            height: 100%;

            main {
              --screen: 1280px;
              display: flex;
              flex: 1;
              flex-direction: column;
              background-color: var(--color-background);
              width: 100%;
              max-width: 100vw;
            }
          }
        }
      }
    </style>
  </Element>
</html>
