---
import Box from '@/components/Box.astro'
import Button from '@/components/Button.astro'
import { CartForm } from '@/components/cart-form'
import Container from '@/components/Container.astro'
import Gallery from '@/components/Gallery.astro'
import Heading from '@/components/Heading.astro'
import Image from '@/components/Image.astro'
import Paragraph from '@/components/Paragraph.astro'
import Price from '@/components/Price.astro'
import Prose from '@/components/Prose.astro'
import Section from '@/components/Section.astro'
import Split from '@/components/Split.astro'
import Writeup from '@/components/Writeup.astro'
import Layout from '@/layouts/Layout.astro'

interface Props {
  gid?: string
  title?: string
  description?: string
  price?: {
    amount?: number
    compare?: number
    unit?: string
  }
  images?: {
    src?: string
    alt?: string
  }[]
  options?: {
    name?: string
    values?: string[]
  }[]
  meta?: {
    title?: string
    description?: string
    canonical?: string
    noindex?: boolean
    nofollow?: boolean
  }
}

const { gid, title, description, images, price, options, meta } = Astro.props
---

<Layout
  class="product"
  {title}
  {description}
  image={images?.[0]}
  {...meta}
>
  <Section class="pt-4 lg:pt-16">
    <Container>
      <Split>
        <Box class="flex flex-col gap-16">
          <Gallery>
            {
              images?.map((image) => (
                <Image
                  class="bg-card aspect-square h-full w-full object-contain"
                  src={image.src}
                  alt={image.alt}
                />
              ))
            }
          </Gallery>
          <Prose class="max-lg:hidden">
            <slot />
          </Prose>
        </Box>
        <Box class="flex flex-col gap-8 lg:pl-8">
          <Writeup size="sm">
            <Heading as="h1">{title}</Heading>
            <Paragraph>{description}</Paragraph>
          </Writeup>
          {
            gid ? (
              <CartForm
                client:load
                options={options}
                variants={variants}
              />
            ) : (
              <>
                <Price
                  class="mt-4 text-lg font-medium"
                  {...price}
                />
                <Button
                  class="mt-4"
                  size="lg"
                  href="/contact/"
                  text="Plaats aanvraag"
                />
              </>
            )
          }
        </Box>

        <Prose class="lg:hidden">
          <slot />
        </Prose>
      </Split>
    </Container>
  </Section>
</Layout>
