---
import Container from '@/components/Container.astro'
import Heading from '@/components/Heading.astro'
import Image from '@/components/Image.astro'
import Paragraph from '@/components/Paragraph.astro'
import Prose from '@/components/Prose.astro'
import Section from '@/components/Section.astro'
import Layout from '@/layouts/Layout.astro'

interface Props {
  title?: string
  description?: string
  image?: {
    src?: string
    alt?: string
  }
  meta?: {
    title?: string
    description?: string
    canonical?: string
    noindex?: boolean
    nofollow?: boolean
  }
}

const { title, description, image, meta } = Astro.props
---

<Layout
  class="project"
  {title}
  {description}
  {image}
  {...meta}
>
  <Section>
    <Container
      class="flex flex-col"
      size="sm"
    >
      <Prose>
        <Heading as="h1">{title}</Heading>
        <Paragraph>{description}</Paragraph>
        <Image
          class="rounded-lg"
          {...image}
        />
        <slot />
      </Prose>
    </Container>
  </Section>
</Layout>
