---
import type { ComponentProps } from 'astro/types'
import {
  Badge,
  Button,
  Card,
  Grid,
  Heading,
  Icon,
  Section,
  Text,
} from 'fulldev-ui'

interface Props extends ComponentProps<typeof Section> {
  badge?: any
  heading?: string
  text?: string
  buttons?: ComponentProps<typeof Button>[]
  features?: any[]
  image?: string
}

const { badge, heading, text, buttons, features, image, ...rest } = Astro.props
---

<Section
  class="hero"
  size="4xl"
  align="center"
  {...rest}
>
  <Badge
    size="md"
    contrast
    style={{ borderRadius: '999px' }}
    as="a"
    variant="outline"
    {...badge}
  />
  <Heading
    as="h1"
    text={heading}
  />
  <Text
    size="xl"
    text={text}
  />
  <Grid size="md">
    {
      features?.map((feature: any) => (
        <Card>
          <Icon
            color="brand"
            name={feature.icon}
            size="xl"
            style={{
              height: '1.4em',
              width: '1.4em',
            }}
          />
          <Heading>{feature.heading}</Heading>
          <Text>{feature.text}</Text>
        </Card>
      ))
    }
  </Grid>
</Section>
