---
import type { ComponentProps } from 'astro/types'
import {
  Button,
  Card,
  Carousel,
  Heading,
  Icon,
  Section,
  Spread,
  Text,
} from '../../../ui/src'

interface Props extends ComponentProps<typeof Section> {
  badge?: any
  heading?: string
  text?: string
  buttons?: ComponentProps<typeof Button>[]
  features?: any[]
  image?: string
}

const { badge, heading, text, buttons, features, image, ...rest } = Astro.props
---

<Section
  class="reviews-carousel"
  structure="column"
  {...rest}
>
  <Spread>
    <Heading text={heading} />
    <Button text={buttons?.[0].text} />
  </Spread>
  <Carousel size="md">
    {
      features?.map((feature: any) => (
        <Card>
          <Icon
            color="brand"
            name={feature.icon}
            size="xl"
            style={{
              height: '1.4em',
              width: '1.4em',
            }}
          />
          <Heading>{feature.heading}</Heading>
          <Text>{feature.text}</Text>
        </Card>
      ))
    }
    {
      features?.map((feature: any) => (
        <Card>
          <Icon
            color="brand"
            name={feature.icon}
            size="xl"
            style={{
              height: '1.4em',
              width: '1.4em',
            }}
          />
          <Heading>{feature.heading}</Heading>
          <Text>{feature.text}</Text>
        </Card>
      ))
    }
  </Carousel>
</Section>
