---
import type { ComponentProps } from 'astro/types'
import Component from '../Root.astro'
import Body from '../_archive/Body.astro'
import Head from './Head.astro'

interface Props extends ComponentProps<typeof Component> {
  title?: ComponentProps<typeof Head>['title']
  description?: ComponentProps<typeof Head>['description']
  image?: ComponentProps<typeof Head>['image']
  meta?: ComponentProps<typeof Head>
  head?: ComponentProps<typeof Head>
  body?: ComponentProps<typeof Body>
}

const { title, description, image, theme, meta, head, body, ...rest } =
  Astro.props
---

<Root
  class={[
    'layout',
    {
      [`theme-${theme}`]: theme,
    },
  ]}
  as="html"
  if={true}
  {...rest}
>
  <Head
    {title}
    {description}
    {image}
    {...meta}
    {...head}
  />
  <Body
    if={true}
    {theme}
    {...body}
  >
    <slot name="before" />
    <slot />
  </Body>
</Root>
