<!-- ---
import { getEntry } from 'astro:content'
import { cva } from 'cva'
import Logo from '../elements/Logo.astro'
import {
default as ButtonGroup,
default as Buttons,
} from '../elements/button/ButtonGroup.astro'
import Links from '../elements/link/Links.astro'
import List from '../wrappers/List.astro'
import Segment from '../wrappers/Segment.astro'

const variant = cva({
  base: 'header justify-between px-wrapper py-flow3 density-compact size-medium gap-flow6 z-80 flex items-center top-0 justify-between',
  variants: {
    position: {
      sticky: 'sticky top-0',
      fixed: 'fixed top-0 left-0 right-0',
      absolute: 'absolute top-0',
      relative: 'relative',
    },
  },
  defaultVariants: {
    position: 'relative',
    size: 'medium',
    impact: 'medium',
  },
})

const header = await getEntry('globals', 'header').then(({ data }) => data)
const settings = await getEntry('settings', 'blocks')
const config = settings.data.header
---

{
  header && (
    <header class={variant(config)}>
      <Logo class:list="mr-auto" />
      <List
        layout="stack"
        class:list="hue-base ml-auto"
      >
        <Links
          class:list="max-lg:hidden"
          links={header.links}
        />
      </List>
      <div class="gap-flow4 flex">
        <ButtonGroup
          layout="row"
          buttons={header.buttons}
        />
        <label
          class="button-secondary hue-base lg:hidden"
          for="header-toggle"
        >
          <i class="icon:menu-2 peer-checked:icon:x text-flow2 h-1.4em w-1.4em block" />
        </label>
      </div>
      <input
        id="header-toggle"
        class="peer hidden"
        type="checkbox"
      />

      <Segment class:list="py-flow6 z-90 bg-hue1 border-hue6 !absolute left-0 right-0 top-full !hidden flex-col items-center border-y text-center backdrop-blur-lg peer-checked:max-lg:!flex">
        <Links
          layout="col"
          align="center"
          links={header.links}
        />
        <Buttons
          layout="col"
          buttons={header.buttons}
        />
      </Segment>
    </header>
  )
} -->
